/*
* - @Bridge+
*/

.ui.button {
	&.b-sp {
		font-weight: normal;
		font-size: @fontsize-4xl;
		padding-left: 5rem;
		padding-right: 5rem;
		letter-spacing: 1px;
		border-radius: @border-radius-small;
	}

	&.b-normal{
		font-weight: normal;
		font-size: @fontsize-xxl;
		letter-spacing: 1px;
		border-radius: @border-radius-small;
	}
	
	&.red {
		background-color: @color-brand;

		&:hover {
			background-color: #d7343a;
		}
		&:active {
			background-color: #cf2d33;
		}
	}
}