<div>
  <span>
    <select name="year" ng-change="selectYear()" ng-show="config.showYear" ng-model="value.year" ng-options="year.value for year in displayData.years">
      <option value="">选择。。</option>
    </select>
    年
    <select name="month" ng-change="selectMonth()" ng-show="config.showMonth" ng-model="value.month" ng-options="month.value for month in displayData.months">
      <option value="">选择。。</option>
    </select>
    月
    <select name="day" ng-show="config.showDay" ng-model="value.day" ng-options="day.value for day in displayData.days">
      <option value="">选择。。</option>
    </select>
    日
  </span>
</div>