logs/*
!.gitkeep

tmp
.DS_Store
.idea
.project
npm-debug.log

# Folders
assets/
node_modules/
bower_components/
bin/
obj/
temp/
dist/
bower/
artifacts/

client/www/bower
client/www/css/main.css
client/www/css/slim.css
client/www/css/mobile.css
client/www/css/pc-mobile.css
client/www/css/hp.css
client/www/css/qa.css
client/www/css/corp.css

semantic
