@import "../basic/variable";
@import "./profile.less";
@import "mobile-variable";

.b-signin-wrapper {
    margin-top: 0;
    padding-top: 2em;
    margin-bottom: 0;
}

.b-signin-container {
    padding: 0 0 70px;
}

.full-height {
    position: relative;
    height: 100%;

    .mobile.bottom {
        bottom: 0 !important;
    }

    .mobile.attached {
        position: absolute !important;
    }
}

.full-wide {
    width: 100% !important;
}

.mobile.bottom {
    bottom: 0;
}

.mobile.attached {
    position: fixed !important;
}

.bottom.button {
    bottom: 0;
}

.attached.button {
    position: absolute !important;
}

.ui.brand.error.message {
    margin-left: 0;
    margin-right: 0;
}

.invisible {
    visibility: hidden;
}

.b-signin-wide form {
    padding-top: 0;
}

.has-bottom, .has-footer {
    padding-bottom: 70px;
}

.b-bind-mobile-container {
    padding-bottom: 2em;
}

.b-wechat-frame {
    background-color: transparent !important;
    height: 410px !important;
    min-height: 410px !important;
    max-width: 100%;
    min-width: 100%;
}

.b-mobile.back-color {
    background-color: @color-mobile;
}

.white.color {
    color: white;
}

.white.header {
    color: white !important;
}

.ui.fixed.inverted.menu.b-mobile {
    background-color: @color-mobile;

    .left.aligned.item {
        text-align: left;
        -webkit-box-pack: initial;
        -ms-flex-pack: initial;
        justify-content: initial;
    }

    .item::before {
        display: none !important;
    }
}

a:hover, a:active, a:focus {
    color: @color-brand !important;
}

.header.item a,
.header.item a:link,
.header.item a:visited {
    color: white !important;
}

.has-header {
    padding-top: 48px;
}

.main.body {
    height: 100%;
}

.bottom.stuck {
    position: absolute;
    bottom: 0;
}