/*
* - @Bridge+
*/
/*
* - @Bridge+
*/
.b-header {
  position: relative;
  z-index: 4;
}
.b-header.hidden {
  display: none;
}
.b-header.fixed {
  width: 100%;
}
.b-header.fixed .menu.b-header-nav {
  background-color: rgba(0, 0, 0, 0.8);
}
.b-header .menu {
  box-shadow: none;
  border-radius: 0;
  border-width: 0;
  background-color: #ff3c42;
  min-height: initial;
  margin-top: 0;
  margin-bottom: 0;
}
.b-header .menu .item {
  padding-top: 0;
  padding-bottom: 0;
}
.b-header .menu .item:before {
  display: none;
}
.b-header .menu .item .ui.button {
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei", SimHei;
  margin: 0;
  background: none;
  border-radius: 0;
}
.b-header .menu .item .nav-button:hover,
.b-header .menu .item .nav-button.active {
  color: #FF3C42;
}
.b-header .menu .center.aligned.item {
  text-align: center;
}
.b-header .menu.b-header-account {
  background-color: #ff3c42;
}
.b-header .menu.b-header-account .item.toc {
  display: none;
  padding-top: .4em;
  padding-bottom: .4em;
}
.b-header .menu.b-header-account .item .ui.button {
  font-size: 0.9em;
  font-weight: normal;
  padding-top: .6em;
  padding-bottom: .6em;
}
.b-header .menu.b-header-nav {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  width: 100%;
}
.b-header .menu.b-header-nav .b-header-logo {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}
.b-header .menu.b-header-nav .item .ui.button {
  font-size: 1em;
  font-weight: bold;
}
.b-header .menu .b-profile.item:hover,
.b-header .menu .b-profile.item.active {
  background-color: #900000 !important;
}
.b-header .b-profile.item .avatar {
  width: 25px !important;
  height: 25px;
}
.b-header .b-profile.menu {
  background-color: #1a1a1a !important;
  padding: 5px 0;
  border-radius: 6px !important;
  width: auto !important;
}
.b-header .b-profile.menu:before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  margin-top: -10px;
  margin-left: 50%;
  left: -5px;
  border: 5px solid transparent;
  border-bottom-color: #1a1a1a;
}
.b-header .b-profile.menu .avatar {
  height: 80px;
  width: 80px !important;
  display: block;
  margin: 10px auto;
}
.b-header .ui.menu .ui.dropdown .b-profile.menu > .item {
  color: #DCDCDC !important;
}
.b-header .ui.menu .ui.dropdown .b-profile.menu > .item.active,
.b-header .ui.menu .ui.dropdown .b-profile.menu > .item:hover {
  background-color: #2D363D !important;
  color: white !important;
}
@media only screen and (max-width: 700px) {
  .b-header.fixed {
    display: none !important;
  }
  .b-header .menu.b-header-account .item,
  .b-header .menu.b-header-account .menu {
    display: none;
  }
  .b-header .menu.b-header-account .item.toc {
    display: block;
  }
  .b-header .menu.b-header-nav .item.right {
    display: none !important;
  }
}
/*
* - @Bridge+
*/
.footer {
  background-color: #2e363d;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer .footer-list {
  width: 100%;
}
.footer .footer-list .item .content a span {
  color: #7F7F7F;
}
.footer .footer-list .item .content a.header {
  font-weight: normal;
  padding-left: 0.25em;
  font-size: 1em;
  color: #ffffff !important;
}
.footer .footer-list .item .content a.header:hover,
.footer .footer-list .item .content a.header:active {
  color: #FF3C42 !important;
  text-decoration: none;
}
.footer .footer-list .item:last-child {
  float: right;
}
.footer .footer-list .item .ui.image {
  border-radius: 0 !important;
}
.footer .list > .item {
  font-size: 0.9em;
  line-height: 1.6em;
}
.footer .b-copyright {
  color: rgba(255, 255, 255, 0.498039);
  font-size: 0.9em;
  line-height: 1.6em;
  margin-top: 1rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.table-show {
  display: block;
}
.mobile-show {
  display: none !important;
}
.danger {
  color: #DC4A48;
}
.hp-mastead {
  height: 768px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #999;
  text-align: center;
  color: white;
}
.hp-mastead .header-wechat {
  float: right;
  margin-top: 70px;
}
.hp-mastead .header-wechat img {
  width: 100px;
}
.hp-mastead .header-wechat p.wechat {
  margin-bottom: 0;
  font-size: 1.125em;
  color: black;
}
.hp-mastead .e {
  padding-top: 180px;
}
.hp-mastead .e img {
  width: 100%;
  max-width: 300px;
}
.hp-mastead p.header-title {
  font-size: 3em;
  margin-bottom: 10px;
}
.hp-mastead p.header-content {
  font-size: 2em;
  margin-bottom: 10px;
}
.hp-mastead .link-item {
  margin: 10px 0;
}
.hp-mastead .link-item a.header-link {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: white;
}
.hp-mastead .link-item a.header-link:hover,
.hp-mastead .link-item a.header-link:active {
  text-decoration: underline;
}
.hp-mastead .link-item:last-child {
  margin-bottom: 40px;
}
.hp-mastead .ui.button.hp-button-gray {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 200px;
  margin-bottom: 30px;
  font-size: 1.2em;
}
.hp-mastead .ui.button.hp-button-gray:hover {
  background: rgba(0, 0, 0, 0.2);
}
.hp-mastead.adult {
  background-image: url('/img/hp/adult_e_bg.png');
}
.hp-mastead.teenage {
  background-image: url('/img/hp/teenage_e_bg.png');
}
.hp-mastead.youth {
  background-image: url('/img/hp/youth_e_bg.png');
}
.hp-mastead i.hp.icon {
  width: 72px;
  background: url('/img/hp/icon/down.png') no-repeat;
  height: 30px;
  margin-right: 0;
  margin-top: 10px;
}
.hp-mastead .marksimos-info img {
  max-width: 1000px;
  margin: 0 auto;
}
.hp-header-title {
  background-color: #828282;
  height: 100px;
  color: white;
  text-align: center;
}
.hp-header-title h1 {
  line-height: 100px;
}
.hp-white-space,
.hp-gray-dark-space,
.hp-gray-space {
  padding-top: 5em;
  padding-bottom: 5em;
}
.hp-white-space p.hp-title,
.hp-gray-dark-space p.hp-title,
.hp-gray-space p.hp-title {
  font-size: 2em;
}
.hp-white-space p.hp-title span,
.hp-gray-dark-space p.hp-title span,
.hp-gray-space p.hp-title span {
  border-radius: 50%;
  background-color: black;
  padding: 0 8px;
  color: white;
  font-size: 0.9em;
}
.hp-white-space p.content,
.hp-gray-dark-space p.content,
.hp-gray-space p.content {
  line-height: 2em;
  font-size: 1.125em;
  margin-bottom: 30px;
}
.hp-white-space h2.sub-title,
.hp-gray-dark-space h2.sub-title,
.hp-gray-space h2.sub-title {
  font-size: 1.5em;
}
.hp-white-space span.sub-title,
.hp-gray-dark-space span.sub-title,
.hp-gray-space span.sub-title {
  font-size: 1.5em;
  font-weight: bold;
}
.hp-white-space p.intensive-content,
.hp-gray-dark-space p.intensive-content,
.hp-gray-space p.intensive-content {
  line-height: 2em;
  font-size: 1.125em;
  margin-bottom: 30px;
}
.hp-white-space p.features-content,
.hp-gray-dark-space p.features-content,
.hp-gray-space p.features-content {
  line-height: 2em;
  font-size: 1.125em;
}
.hp-white-space .simulation img,
.hp-gray-dark-space .simulation img,
.hp-gray-space .simulation img {
  width: 100%;
  max-width: 500px;
  float: right;
}
.hp-white-space .bottom.aligned.row .info-column-left img,
.hp-gray-dark-space .bottom.aligned.row .info-column-left img,
.hp-gray-space .bottom.aligned.row .info-column-left img {
  width: 100%;
  max-width: 329px;
}
.hp-white-space .bottom.aligned.row .info-column-right,
.hp-gray-dark-space .bottom.aligned.row .info-column-right,
.hp-gray-space .bottom.aligned.row .info-column-right {
  margin-bottom: 4px;
}
.hp-white-space .bottom.aligned.row .info-content,
.hp-gray-dark-space .bottom.aligned.row .info-content,
.hp-gray-space .bottom.aligned.row .info-content {
  background-color: #5D5D5D;
  padding: 2em 3em;
  color: white;
}
.hp-white-space .bottom.aligned.row .info-content p.content,
.hp-gray-dark-space .bottom.aligned.row .info-content p.content,
.hp-gray-space .bottom.aligned.row .info-content p.content {
  font-size: 1.6em;
  line-height: 2em;
  margin: 0;
}
.hp-white-space .ui.grid.four.column .column,
.hp-gray-dark-space .ui.grid.four.column .column,
.hp-gray-space .ui.grid.four.column .column {
  text-align: center;
}
.hp-white-space .ui.grid.four.column .column .rules-list,
.hp-gray-dark-space .ui.grid.four.column .column .rules-list,
.hp-gray-space .ui.grid.four.column .column .rules-list {
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #ff3c42;
  color: #F0F0F0;
  padding: 4em 0;
}
.hp-white-space .ui.grid.four.column .column .rules-list p,
.hp-gray-dark-space .ui.grid.four.column .column .rules-list p,
.hp-gray-space .ui.grid.four.column .column .rules-list p {
  margin-bottom: 0;
  font-size: 1.125em;
}
.hp-white-space .ui.grid.game,
.hp-gray-dark-space .ui.grid.game,
.hp-gray-space .ui.grid.game {
  font-size: 1em;
  text-align: center;
}
.hp-white-space .ui.grid.game .column,
.hp-gray-dark-space .ui.grid.game .column,
.hp-gray-space .ui.grid.game .column {
  width: 25%;
  text-align: center;
}
.hp-white-space .ui.grid.game .column img,
.hp-gray-dark-space .ui.grid.game .column img,
.hp-gray-space .ui.grid.game .column img {
  margin-bottom: 1em;
}
.hp-white-space .ui.grid.game .column p,
.hp-gray-dark-space .ui.grid.game .column p,
.hp-gray-space .ui.grid.game .column p {
  font-size: 1.2em;
}
.hp-white-space .ui.grid.game .column:first-child,
.hp-gray-dark-space .ui.grid.game .column:first-child,
.hp-gray-space .ui.grid.game .column:first-child {
  margin-left: 12.5%;
}
.hp-white-space .game-pic,
.hp-gray-dark-space .game-pic,
.hp-gray-space .game-pic {
  margin-top: 30px;
}
.hp-white-space .game-pic .column img,
.hp-gray-dark-space .game-pic .column img,
.hp-gray-space .game-pic .column img {
  width: 100%;
  max-width: 1337px;
}
.hp-white-space .format-grid-parent,
.hp-gray-dark-space .format-grid-parent,
.hp-gray-space .format-grid-parent {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 40px;
  margin-bottom: 50px;
}
.hp-white-space .format-grid-parent .format-grid,
.hp-gray-dark-space .format-grid-parent .format-grid,
.hp-gray-space .format-grid-parent .format-grid {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: 1px solid black;
  background-image: url('/img/hp/national.png');
  margin-bottom: 2em;
  margin-top: 2em;
}
.hp-white-space .format-grid-parent .format-grid .column.left,
.hp-gray-dark-space .format-grid-parent .format-grid .column.left,
.hp-gray-space .format-grid-parent .format-grid .column.left,
.hp-white-space .format-grid-parent .format-grid .column.right,
.hp-gray-dark-space .format-grid-parent .format-grid .column.right,
.hp-gray-space .format-grid-parent .format-grid .column.right {
  padding: 2em;
  height: 300px;
}
.hp-white-space .format-grid-parent .format-grid .column.left p.format-content,
.hp-gray-dark-space .format-grid-parent .format-grid .column.left p.format-content,
.hp-gray-space .format-grid-parent .format-grid .column.left p.format-content,
.hp-white-space .format-grid-parent .format-grid .column.right p.format-content,
.hp-gray-dark-space .format-grid-parent .format-grid .column.right p.format-content,
.hp-gray-space .format-grid-parent .format-grid .column.right p.format-content {
  line-height: 2em;
  font-size: 1.125em;
}
.hp-white-space .format-grid-parent .format-grid .column.left p.format-content,
.hp-gray-dark-space .format-grid-parent .format-grid .column.left p.format-content,
.hp-gray-space .format-grid-parent .format-grid .column.left p.format-content {
  margin-right: 150px;
}
.hp-white-space .format-grid-parent .format-grid .column.left.bottom,
.hp-gray-dark-space .format-grid-parent .format-grid .column.left.bottom,
.hp-gray-space .format-grid-parent .format-grid .column.left.bottom {
  margin-top: 1em;
}
.hp-white-space .format-grid-parent .format-grid .column.right p.format-content,
.hp-gray-dark-space .format-grid-parent .format-grid .column.right p.format-content,
.hp-gray-space .format-grid-parent .format-grid .column.right p.format-content {
  margin-left: 150px;
}
.hp-white-space .format-grid-parent .format-grid .column.right.bottom,
.hp-gray-dark-space .format-grid-parent .format-grid .column.right.bottom,
.hp-gray-space .format-grid-parent .format-grid .column.right.bottom {
  margin-top: 1.2em;
}
.hp-white-space .format-grid-parent img,
.hp-gray-dark-space .format-grid-parent img,
.hp-gray-space .format-grid-parent img {
  width: 100%;
  border: 1px solid black;
}
.hp-white-space .data-img img,
.hp-gray-dark-space .data-img img,
.hp-gray-space .data-img img {
  width: 100%;
}
.hp-white-space .time-line-img img,
.hp-gray-dark-space .time-line-img img,
.hp-gray-space .time-line-img img {
  width: 100%;
  max-width: 889px;
}
.hp-white-space .time-line-img.mobile-show img,
.hp-gray-dark-space .time-line-img.mobile-show img,
.hp-gray-space .time-line-img.mobile-show img {
  max-width: 393px;
}
.hp-white-space .national-grid,
.hp-gray-dark-space .national-grid,
.hp-gray-space .national-grid {
  margin-top: 0 !important;
}
.hp-white-space .national-grid .column.star-column img,
.hp-gray-dark-space .national-grid .column.star-column img,
.hp-gray-space .national-grid .column.star-column img {
  width: 100%;
  max-width: 77px;
}
.hp-white-space .national-grid .column .pk-column .hp-header,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header,
.hp-gray-space .national-grid .column .pk-column .hp-header {
  text-align: center;
}
.hp-white-space .national-grid .column .pk-column .hp-header.national,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.national,
.hp-gray-space .national-grid .column .pk-column .hp-header.national {
  background-color: #df160c;
}
.hp-white-space .national-grid .column .pk-column .hp-header.national h1,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.national h1,
.hp-gray-space .national-grid .column .pk-column .hp-header.national h1 {
  line-height: 2em;
  color: white;
  font-size: 2.5em;
}
.hp-white-space .national-grid .column .pk-column .hp-header.personal,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.personal,
.hp-gray-space .national-grid .column .pk-column .hp-header.personal,
.hp-white-space .national-grid .column .pk-column .hp-header.company,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.company,
.hp-gray-space .national-grid .column .pk-column .hp-header.company,
.hp-white-space .national-grid .column .pk-column .hp-header.student,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.student,
.hp-gray-space .national-grid .column .pk-column .hp-header.student,
.hp-white-space .national-grid .column .pk-column .hp-header.youth,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.youth,
.hp-gray-space .national-grid .column .pk-column .hp-header.youth {
  padding: 1em 0;
}
.hp-white-space .national-grid .column .pk-column .hp-header.personal h1,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.personal h1,
.hp-gray-space .national-grid .column .pk-column .hp-header.personal h1,
.hp-white-space .national-grid .column .pk-column .hp-header.company h1,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.company h1,
.hp-gray-space .national-grid .column .pk-column .hp-header.company h1,
.hp-white-space .national-grid .column .pk-column .hp-header.student h1,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.student h1,
.hp-gray-space .national-grid .column .pk-column .hp-header.student h1,
.hp-white-space .national-grid .column .pk-column .hp-header.youth h1,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.youth h1,
.hp-gray-space .national-grid .column .pk-column .hp-header.youth h1 {
  font-size: 2em;
  color: white;
  margin: 0;
  margin-bottom: 0.25em;
}
.hp-white-space .national-grid .column .pk-column .hp-header.personal h3,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.personal h3,
.hp-gray-space .national-grid .column .pk-column .hp-header.personal h3,
.hp-white-space .national-grid .column .pk-column .hp-header.company h3,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.company h3,
.hp-gray-space .national-grid .column .pk-column .hp-header.company h3,
.hp-white-space .national-grid .column .pk-column .hp-header.student h3,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.student h3,
.hp-gray-space .national-grid .column .pk-column .hp-header.student h3,
.hp-white-space .national-grid .column .pk-column .hp-header.youth h3,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.youth h3,
.hp-gray-space .national-grid .column .pk-column .hp-header.youth h3 {
  font-size: 1.8em;
  color: white;
  margin: 0;
}
.hp-white-space .national-grid .column .pk-column .hp-header.personal,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.personal,
.hp-gray-space .national-grid .column .pk-column .hp-header.personal {
  background-color: #1c6599;
}
.hp-white-space .national-grid .column .pk-column .hp-header.youth,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.youth,
.hp-gray-space .national-grid .column .pk-column .hp-header.youth {
  background-color: #f58e22;
}
.hp-white-space .national-grid .column .pk-column .hp-header.company,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.company,
.hp-gray-space .national-grid .column .pk-column .hp-header.company {
  background-color: #8c5b8c;
}
.hp-white-space .national-grid .column .pk-column .hp-header.student,
.hp-gray-dark-space .national-grid .column .pk-column .hp-header.student,
.hp-gray-space .national-grid .column .pk-column .hp-header.student {
  background-color: #cc353d;
}
.hp-white-space .national-grid .column .pk-column .hp-footer,
.hp-gray-dark-space .national-grid .column .pk-column .hp-footer,
.hp-gray-space .national-grid .column .pk-column .hp-footer {
  text-align: center;
  background-color: #DCDCDC;
  border-bottom: 2px solid #bebebe;
}
.hp-white-space .national-grid .column .pk-column .hp-footer p,
.hp-gray-dark-space .national-grid .column .pk-column .hp-footer p,
.hp-gray-space .national-grid .column .pk-column .hp-footer p {
  font-size: 1.125em;
  line-height: 35px;
}
.hp-white-space .national-grid .list-grid .column,
.hp-gray-dark-space .national-grid .list-grid .column,
.hp-gray-space .national-grid .list-grid .column {
  text-align: center;
}
.hp-white-space .hp-tech,
.hp-gray-dark-space .hp-tech,
.hp-gray-space .hp-tech {
  background-color: white;
  border-radius: 8px;
  padding: 2em;
  text-align: center;
  margin-bottom: 2em;
}
.hp-white-space .hp-tech p.hp-title,
.hp-gray-dark-space .hp-tech p.hp-title,
.hp-gray-space .hp-tech p.hp-title {
  font-size: 2em;
}
.hp-white-space .hp-tech p.sub-title,
.hp-gray-dark-space .hp-tech p.sub-title,
.hp-gray-space .hp-tech p.sub-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.hp-white-space .hp-tech h2,
.hp-gray-dark-space .hp-tech h2,
.hp-gray-space .hp-tech h2 {
  margin-top: 0;
}
.hp-white-space .hcd,
.hp-gray-dark-space .hcd,
.hp-gray-space .hcd {
  margin-bottom: 1em;
}
.hp-white-space .hcd .column img,
.hp-gray-dark-space .hcd .column img,
.hp-gray-space .hcd .column img {
  max-width: 160px !important;
  width: 100%;
}
.hp-white-space .hcd .column p.content,
.hp-gray-dark-space .hcd .column p.content,
.hp-gray-space .hcd .column p.content {
  margin-bottom: 0;
}
.hp-white-space .hcd .column.logo,
.hp-gray-dark-space .hcd .column.logo,
.hp-gray-space .hcd .column.logo {
  text-align: left !important;
}
.hp-white-space .bpuls,
.hp-gray-dark-space .bpuls,
.hp-gray-space .bpuls {
  margin-top: 2em;
}
.hp-white-space .bpuls .column img,
.hp-gray-dark-space .bpuls .column img,
.hp-gray-space .bpuls .column img {
  max-width: 260px !important;
  width: 100%;
}
.hp-white-space .bpuls .column p.content,
.hp-gray-dark-space .bpuls .column p.content,
.hp-gray-space .bpuls .column p.content {
  margin-bottom: 0;
}
.hp-white-space .bpuls .column.logo,
.hp-gray-dark-space .bpuls .column.logo,
.hp-gray-space .bpuls .column.logo {
  text-align: left !important;
}
.hp-white-space .ui.grid .column.b-process-item > .content,
.hp-gray-dark-space .ui.grid .column.b-process-item > .content,
.hp-gray-space .ui.grid .column.b-process-item > .content,
.hp-white-space .ui.container .column.b-process-item > .content,
.hp-gray-dark-space .ui.container .column.b-process-item > .content,
.hp-gray-space .ui.container .column.b-process-item > .content {
  background-color: #ff3c42;
  padding: 1.6rem 1.3rem;
  position: relative;
}
.hp-white-space .ui.grid .column.b-process-item > .content > .b-process-item-next,
.hp-gray-dark-space .ui.grid .column.b-process-item > .content > .b-process-item-next,
.hp-gray-space .ui.grid .column.b-process-item > .content > .b-process-item-next,
.hp-white-space .ui.container .column.b-process-item > .content > .b-process-item-next,
.hp-gray-dark-space .ui.container .column.b-process-item > .content > .b-process-item-next,
.hp-gray-space .ui.container .column.b-process-item > .content > .b-process-item-next {
  position: absolute;
  left: -2.4rem;
  top: 44%;
}
.hp-white-space .ui.grid .column.b-process-item > .content > .b-process-item-next i.icon,
.hp-gray-dark-space .ui.grid .column.b-process-item > .content > .b-process-item-next i.icon,
.hp-gray-space .ui.grid .column.b-process-item > .content > .b-process-item-next i.icon,
.hp-white-space .ui.container .column.b-process-item > .content > .b-process-item-next i.icon,
.hp-gray-dark-space .ui.container .column.b-process-item > .content > .b-process-item-next i.icon,
.hp-gray-space .ui.container .column.b-process-item > .content > .b-process-item-next i.icon {
  color: #ff3c42;
  font-size: 2.00em;
}
.hp-white-space .ui.grid .column.b-process-item > .content h4.ui.header,
.hp-gray-dark-space .ui.grid .column.b-process-item > .content h4.ui.header,
.hp-gray-space .ui.grid .column.b-process-item > .content h4.ui.header,
.hp-white-space .ui.container .column.b-process-item > .content h4.ui.header,
.hp-gray-dark-space .ui.container .column.b-process-item > .content h4.ui.header,
.hp-gray-space .ui.container .column.b-process-item > .content h4.ui.header {
  color: white;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 2em;
}
.hp-white-space .ui.grid .column.b-process-item > .content h4.ui.header i.icon,
.hp-gray-dark-space .ui.grid .column.b-process-item > .content h4.ui.header i.icon,
.hp-gray-space .ui.grid .column.b-process-item > .content h4.ui.header i.icon,
.hp-white-space .ui.container .column.b-process-item > .content h4.ui.header i.icon,
.hp-gray-dark-space .ui.container .column.b-process-item > .content h4.ui.header i.icon,
.hp-gray-space .ui.container .column.b-process-item > .content h4.ui.header i.icon {
  font-size: 1.3em;
}
.hp-white-space .ui.grid .column.b-process-item > .content h4.ui.header .content,
.hp-gray-dark-space .ui.grid .column.b-process-item > .content h4.ui.header .content,
.hp-gray-space .ui.grid .column.b-process-item > .content h4.ui.header .content,
.hp-white-space .ui.container .column.b-process-item > .content h4.ui.header .content,
.hp-gray-dark-space .ui.container .column.b-process-item > .content h4.ui.header .content,
.hp-gray-space .ui.container .column.b-process-item > .content h4.ui.header .content {
  padding-top: 0.2em;
}
.hp-white-space .ui.grid .column.b-process-item > .content p,
.hp-gray-dark-space .ui.grid .column.b-process-item > .content p,
.hp-gray-space .ui.grid .column.b-process-item > .content p,
.hp-white-space .ui.container .column.b-process-item > .content p,
.hp-gray-dark-space .ui.container .column.b-process-item > .content p,
.hp-gray-space .ui.container .column.b-process-item > .content p {
  color: white;
  font-size: 1em;
}
.hp-white-space .ui.grid .column.b-process-item > .image,
.hp-gray-dark-space .ui.grid .column.b-process-item > .image,
.hp-gray-space .ui.grid .column.b-process-item > .image,
.hp-white-space .ui.container .column.b-process-item > .image,
.hp-gray-dark-space .ui.container .column.b-process-item > .image,
.hp-gray-space .ui.container .column.b-process-item > .image {
  background-color: #d2d2d2;
  text-align: center;
}
.hp-white-space .ui.grid .column.b-process-item > .image img,
.hp-gray-dark-space .ui.grid .column.b-process-item > .image img,
.hp-gray-space .ui.grid .column.b-process-item > .image img,
.hp-white-space .ui.container .column.b-process-item > .image img,
.hp-gray-dark-space .ui.container .column.b-process-item > .image img,
.hp-gray-space .ui.container .column.b-process-item > .image img {
  max-width: 358px;
}
.hp-white-space .ui.grid .column.b-process-list > .content,
.hp-gray-dark-space .ui.grid .column.b-process-list > .content,
.hp-gray-space .ui.grid .column.b-process-list > .content,
.hp-white-space .ui.container .column.b-process-list > .content,
.hp-gray-dark-space .ui.container .column.b-process-list > .content,
.hp-gray-space .ui.container .column.b-process-list > .content {
  background-color: #ff3c42;
  padding: 1em;
  position: relative;
  color: white;
  text-align: center;
}
.hp-white-space .ui.grid .column.b-process-list > .content h4.ui.header,
.hp-gray-dark-space .ui.grid .column.b-process-list > .content h4.ui.header,
.hp-gray-space .ui.grid .column.b-process-list > .content h4.ui.header,
.hp-white-space .ui.container .column.b-process-list > .content h4.ui.header,
.hp-gray-dark-space .ui.container .column.b-process-list > .content h4.ui.header,
.hp-gray-space .ui.container .column.b-process-list > .content h4.ui.header {
  color: white;
  font-weight: bold;
  font-size: 1.125em;
  margin-bottom: 0;
}
.hp-white-space .ui.grid .column.b-process-list > .content p,
.hp-gray-dark-space .ui.grid .column.b-process-list > .content p,
.hp-gray-space .ui.grid .column.b-process-list > .content p,
.hp-white-space .ui.container .column.b-process-list > .content p,
.hp-gray-dark-space .ui.container .column.b-process-list > .content p,
.hp-gray-space .ui.container .column.b-process-list > .content p {
  color: white;
  font-size: 1em;
  text-align: center;
}
.hp-white-space .ui.grid .column.b-process-list > .info,
.hp-gray-dark-space .ui.grid .column.b-process-list > .info,
.hp-gray-space .ui.grid .column.b-process-list > .info,
.hp-white-space .ui.container .column.b-process-list > .info,
.hp-gray-dark-space .ui.container .column.b-process-list > .info,
.hp-gray-space .ui.container .column.b-process-list > .info {
  background-color: white;
  margin: 0 2em;
  padding: 2.5em;
}
.hp-white-space .ui.grid .column.b-process-list > .info p,
.hp-gray-dark-space .ui.grid .column.b-process-list > .info p,
.hp-gray-space .ui.grid .column.b-process-list > .info p,
.hp-white-space .ui.container .column.b-process-list > .info p,
.hp-gray-dark-space .ui.container .column.b-process-list > .info p,
.hp-gray-space .ui.container .column.b-process-list > .info p {
  height: 120px;
}
.hp-white-space .ui.grid .column.b-process-list > .info img,
.hp-gray-dark-space .ui.grid .column.b-process-list > .info img,
.hp-gray-space .ui.grid .column.b-process-list > .info img,
.hp-white-space .ui.container .column.b-process-list > .info img,
.hp-gray-dark-space .ui.container .column.b-process-list > .info img,
.hp-gray-space .ui.container .column.b-process-list > .info img {
  width: 100%;
  max-width: 460px;
}
.hp-white-space {
  background-color: white;
}
.hp-gray-space {
  background-color: #ebebeb;
}
.hp-gray-dark-space {
  background-color: #828282;
  color: white;
}
.hp-gray-dark-space p.hp-title span {
  background-color: white;
  color: #646464;
}
.hp-gray-dark-space .partners {
  font-size: 1em;
  padding: 3em 0;
}
.hp-gray-dark-space .partners .item {
  margin-left: 0 !important;
  margin-right: 2em;
  margin-bottom: 2em;
}
.hp-gray-dark-space .partners .item img {
  width: 100%;
  max-width: 145px;
}
.hp-contract-space {
  background-color: white;
  padding-top: 7em;
  font-size: 1em;
  padding-bottom: 10em;
  text-align: center;
}
.hp-contract-space p,
.hp-contract-space h1,
.hp-contract-space img {
  text-align: center;
}
.hp-contract-space h1 {
  font-size: 2.5em;
}
.hp-contract-space p.content {
  font-size: 1.125em;
}
.hp-contract-space p.footer-title {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.hp-contract-space .ui.button.hp-button-red {
  background-color: transparent;
  border: 1px solid #BCBCBC;
  color: #8c8c8c;
  width: 250px;
  font-size: 1.2em;
}
.hp-contract-space .ui.button.hp-button-red:hover {
  background: #F0F0F0;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .hp-white-space p.intensive-content,
  .hp-gray-dark-space p.intensive-content,
  .hp-gray-space p.intensive-content {
    margin-bottom: 1em;
    line-height: 1.4285em;
  }
  .hp-white-space .format-grid-parent .format-grid .column.left,
  .hp-gray-dark-space .format-grid-parent .format-grid .column.left,
  .hp-gray-space .format-grid-parent .format-grid .column.left,
  .hp-white-space .format-grid-parent .format-grid .column.right,
  .hp-gray-dark-space .format-grid-parent .format-grid .column.right,
  .hp-gray-space .format-grid-parent .format-grid .column.right {
    padding: 1em;
  }
  .hp-white-space .format-grid-parent .format-grid .column.left p.format-content,
  .hp-gray-dark-space .format-grid-parent .format-grid .column.left p.format-content,
  .hp-gray-space .format-grid-parent .format-grid .column.left p.format-content {
    margin-right: 110px;
  }
  .hp-white-space .format-grid-parent .format-grid .column.left.bottom,
  .hp-gray-dark-space .format-grid-parent .format-grid .column.left.bottom,
  .hp-gray-space .format-grid-parent .format-grid .column.left.bottom {
    margin-left: 0;
  }
  .hp-white-space .format-grid-parent .format-grid .column.right p.format-content,
  .hp-gray-dark-space .format-grid-parent .format-grid .column.right p.format-content,
  .hp-gray-space .format-grid-parent .format-grid .column.right p.format-content {
    margin-left: 110px;
  }
  .hp-white-space .format-grid-parent .format-grid .column.right.bottom,
  .hp-gray-dark-space .format-grid-parent .format-grid .column.right.bottom,
  .hp-gray-space .format-grid-parent .format-grid .column.right.bottom {
    margin-top: 0.2em;
  }
  .hp-white-space .ui.grid .column.b-process-list > .info,
  .hp-gray-dark-space .ui.grid .column.b-process-list > .info,
  .hp-gray-space .ui.grid .column.b-process-list > .info,
  .hp-white-space .ui.container .column.b-process-list > .info,
  .hp-gray-dark-space .ui.container .column.b-process-list > .info,
  .hp-gray-space .ui.container .column.b-process-list > .info {
    background-color: white;
    margin: 0 1em;
    padding: 1em;
  }
  .hp-white-space .ui.grid .column.b-process-list > .info p,
  .hp-gray-dark-space .ui.grid .column.b-process-list > .info p,
  .hp-gray-space .ui.grid .column.b-process-list > .info p,
  .hp-white-space .ui.container .column.b-process-list > .info p,
  .hp-gray-dark-space .ui.container .column.b-process-list > .info p,
  .hp-gray-space .ui.container .column.b-process-list > .info p {
    height: 120px;
  }
  .bottom.aligned.row .four.wide.column.info-column-left {
    width: 40% !important;
  }
  .bottom.aligned.row .twelve.wide.column.info-column-right {
    width: 60% !important;
  }
  .hp-gray-dark-space .partners .item img {
    max-width: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .mobile .hp-white-space,
  .mobile .hp-gray-dark-space,
  .mobile .hp-gray-space {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .mobile .row {
    padding: 0;
  }
  .mobile .row img {
    padding-bottom: 0 !important;
  }
  .mobile .hp-title {
    margin-bottom: 10px;
  }
  .mobile .info {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .table-show {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }
  .ui.column.grid > [class*="seven wide"].column,
  .ui.grid > .column.row > [class*="seven wide"].column,
  .ui.grid > .row > [class*="seven wide"].column,
  .ui.grid > [class*="seven wide"].column,
  .ui.column.grid > [class*="four wide"].column,
  .ui.grid > .column.row > [class*="four wide"].column,
  .ui.grid > .row > [class*="four wide"].column,
  .ui.grid > [class*="four wide"].column,
  .ui.column.grid > [class*="twelve wide"].column,
  .ui.grid > .column.row > [class*="twelve wide"].column,
  .ui.grid > .row > [class*="twelve wide"].column,
  .ui.grid > [class*="twelve wide"].column,
  .ui.column.grid > [class*="three wide"].column,
  .ui.grid > .column.row > [class*="three wide"].column,
  .ui.grid > .row > [class*="three wide"].column,
  .ui.grid > [class*="three wide"].column,
  .ui.column.grid > [class*="thirteen wide"].column,
  .ui.grid > .column.row > [class*="thirteen wide"].column,
  .ui.grid > .row > [class*="thirteen wide"].column,
  .ui.grid > [class*="thirteen wide"].column,
  .ui.column.grid > [class*="nine wide"].column,
  .ui.grid > .column.row > [class*="nine wide"].column,
  .ui.grid > .row > [class*="nine wide"].column,
  .ui.grid > [class*="nine wide"].column,
  .ui[class*="two column"].grid > .column:not(.row),
  .ui[class*="two column"].grid > .row > .column,
  .ui[class*="three column"].grid > .column:not(.row),
  .ui[class*="three column"].grid > .row > .column {
    width: 100% !important;
    text-align: center;
  }
  .ui.column.grid > [class*="seven wide"].column img,
  .ui.grid > .column.row > [class*="seven wide"].column img,
  .ui.grid > .row > [class*="seven wide"].column img,
  .ui.grid > [class*="seven wide"].column img,
  .ui.column.grid > [class*="four wide"].column img,
  .ui.grid > .column.row > [class*="four wide"].column img,
  .ui.grid > .row > [class*="four wide"].column img,
  .ui.grid > [class*="four wide"].column img,
  .ui.column.grid > [class*="twelve wide"].column img,
  .ui.grid > .column.row > [class*="twelve wide"].column img,
  .ui.grid > .row > [class*="twelve wide"].column img,
  .ui.grid > [class*="twelve wide"].column img,
  .ui.column.grid > [class*="three wide"].column img,
  .ui.grid > .column.row > [class*="three wide"].column img,
  .ui.grid > .row > [class*="three wide"].column img,
  .ui.grid > [class*="three wide"].column img,
  .ui.column.grid > [class*="thirteen wide"].column img,
  .ui.grid > .column.row > [class*="thirteen wide"].column img,
  .ui.grid > .row > [class*="thirteen wide"].column img,
  .ui.grid > [class*="thirteen wide"].column img,
  .ui.column.grid > [class*="nine wide"].column img,
  .ui.grid > .column.row > [class*="nine wide"].column img,
  .ui.grid > .row > [class*="nine wide"].column img,
  .ui.grid > [class*="nine wide"].column img,
  .ui[class*="two column"].grid > .column:not(.row) img,
  .ui[class*="two column"].grid > .row > .column img,
  .ui[class*="three column"].grid > .column:not(.row) img,
  .ui[class*="three column"].grid > .row > .column img {
    width: 100%;
    padding-bottom: 1em;
  }
  .ui.column.grid > [class*="seven wide"].column img.b-logo,
  .ui.grid > .column.row > [class*="seven wide"].column img.b-logo,
  .ui.grid > .row > [class*="seven wide"].column img.b-logo,
  .ui.grid > [class*="seven wide"].column img.b-logo,
  .ui.column.grid > [class*="four wide"].column img.b-logo,
  .ui.grid > .column.row > [class*="four wide"].column img.b-logo,
  .ui.grid > .row > [class*="four wide"].column img.b-logo,
  .ui.grid > [class*="four wide"].column img.b-logo,
  .ui.column.grid > [class*="twelve wide"].column img.b-logo,
  .ui.grid > .column.row > [class*="twelve wide"].column img.b-logo,
  .ui.grid > .row > [class*="twelve wide"].column img.b-logo,
  .ui.grid > [class*="twelve wide"].column img.b-logo,
  .ui.column.grid > [class*="three wide"].column img.b-logo,
  .ui.grid > .column.row > [class*="three wide"].column img.b-logo,
  .ui.grid > .row > [class*="three wide"].column img.b-logo,
  .ui.grid > [class*="three wide"].column img.b-logo,
  .ui.column.grid > [class*="thirteen wide"].column img.b-logo,
  .ui.grid > .column.row > [class*="thirteen wide"].column img.b-logo,
  .ui.grid > .row > [class*="thirteen wide"].column img.b-logo,
  .ui.grid > [class*="thirteen wide"].column img.b-logo,
  .ui.column.grid > [class*="nine wide"].column img.b-logo,
  .ui.grid > .column.row > [class*="nine wide"].column img.b-logo,
  .ui.grid > .row > [class*="nine wide"].column img.b-logo,
  .ui.grid > [class*="nine wide"].column img.b-logo,
  .ui[class*="two column"].grid > .column:not(.row) img.b-logo,
  .ui[class*="two column"].grid > .row > .column img.b-logo,
  .ui[class*="three column"].grid > .column:not(.row) img.b-logo,
  .ui[class*="three column"].grid > .row > .column img.b-logo {
    max-width: 252px;
  }
  .ui.column.grid > [class*="seven wide"].column p,
  .ui.grid > .column.row > [class*="seven wide"].column p,
  .ui.grid > .row > [class*="seven wide"].column p,
  .ui.grid > [class*="seven wide"].column p,
  .ui.column.grid > [class*="four wide"].column p,
  .ui.grid > .column.row > [class*="four wide"].column p,
  .ui.grid > .row > [class*="four wide"].column p,
  .ui.grid > [class*="four wide"].column p,
  .ui.column.grid > [class*="twelve wide"].column p,
  .ui.grid > .column.row > [class*="twelve wide"].column p,
  .ui.grid > .row > [class*="twelve wide"].column p,
  .ui.grid > [class*="twelve wide"].column p,
  .ui.column.grid > [class*="three wide"].column p,
  .ui.grid > .column.row > [class*="three wide"].column p,
  .ui.grid > .row > [class*="three wide"].column p,
  .ui.grid > [class*="three wide"].column p,
  .ui.column.grid > [class*="thirteen wide"].column p,
  .ui.grid > .column.row > [class*="thirteen wide"].column p,
  .ui.grid > .row > [class*="thirteen wide"].column p,
  .ui.grid > [class*="thirteen wide"].column p,
  .ui.column.grid > [class*="nine wide"].column p,
  .ui.grid > .column.row > [class*="nine wide"].column p,
  .ui.grid > .row > [class*="nine wide"].column p,
  .ui.grid > [class*="nine wide"].column p,
  .ui[class*="two column"].grid > .column:not(.row) p,
  .ui[class*="two column"].grid > .row > .column p,
  .ui[class*="three column"].grid > .column:not(.row) p,
  .ui[class*="three column"].grid > .row > .column p {
    text-align: left;
  }
  .ui.column.grid > [class*="seven wide"].column h2,
  .ui.grid > .column.row > [class*="seven wide"].column h2,
  .ui.grid > .row > [class*="seven wide"].column h2,
  .ui.grid > [class*="seven wide"].column h2,
  .ui.column.grid > [class*="four wide"].column h2,
  .ui.grid > .column.row > [class*="four wide"].column h2,
  .ui.grid > .row > [class*="four wide"].column h2,
  .ui.grid > [class*="four wide"].column h2,
  .ui.column.grid > [class*="twelve wide"].column h2,
  .ui.grid > .column.row > [class*="twelve wide"].column h2,
  .ui.grid > .row > [class*="twelve wide"].column h2,
  .ui.grid > [class*="twelve wide"].column h2,
  .ui.column.grid > [class*="three wide"].column h2,
  .ui.grid > .column.row > [class*="three wide"].column h2,
  .ui.grid > .row > [class*="three wide"].column h2,
  .ui.grid > [class*="three wide"].column h2,
  .ui.column.grid > [class*="thirteen wide"].column h2,
  .ui.grid > .column.row > [class*="thirteen wide"].column h2,
  .ui.grid > .row > [class*="thirteen wide"].column h2,
  .ui.grid > [class*="thirteen wide"].column h2,
  .ui.column.grid > [class*="nine wide"].column h2,
  .ui.grid > .column.row > [class*="nine wide"].column h2,
  .ui.grid > .row > [class*="nine wide"].column h2,
  .ui.grid > [class*="nine wide"].column h2,
  .ui[class*="two column"].grid > .column:not(.row) h2,
  .ui[class*="two column"].grid > .row > .column h2,
  .ui[class*="three column"].grid > .column:not(.row) h2,
  .ui[class*="three column"].grid > .row > .column h2 {
    text-align: left;
  }
  .ui.column.grid > [class*="two wide"].column,
  .ui.grid > .column.row > [class*="two wide"].column,
  .ui.grid > .row > [class*="two wide"].column,
  .ui.grid > [class*="two wide"].column {
    width: 20% !important;
  }
  .ui.column.grid > [class*="fourteen wide"].column,
  .ui.grid > .column.row > [class*="fourteen wide"].column,
  .ui.grid > .row > [class*="fourteen wide"].column,
  .ui.grid > [class*="fourteen wide"].column {
    width: 80% !important;
  }
  .ui.column.container.grid > [class*="two wide"].column,
  .ui.container.grid > .column.row > [class*="two wide"].column,
  .ui.container.grid > .row > [class*="two wide"].column,
  .ui.container.grid > [class*="two wide"].column {
    width: 20% !important;
  }
  .ui.column.container.grid > [class*="fourteen wide"].column,
  .ui.container.grid > .column.row > [class*="fourteen wide"].column,
  .ui.container.grid > .row > [class*="fourteen wide"].column,
  .ui.container.grid > [class*="fourteen wide"].column {
    width: 80% !important;
  }
  .hp-mastead {
    height: auto;
    padding: 1em;
  }
  .hp-mastead .header-wechat {
    float: none;
    background: transparent;
    padding: 0;
    margin-top: 0;
  }
  .hp-mastead .e {
    padding-top: 1em;
  }
  .hp-mastead .e img {
    max-width: 286px;
  }
  .hp-mastead p.header-title {
    font-size: 1.8em;
  }
  .hp-mastead p.header-content {
    font-size: 1.5em;
  }
  .hp-mastead .ui.button.hp-button-gray {
    font-size: 1.125em;
    margin-bottom: 20px;
  }
  .hp-mastead .link-item a.header-link {
    font-size: 1.125em;
  }
  .hp-mastead i.hp.icon {
    margin-top: 10px;
  }
  .hp-gray-dark-space .partners .item {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    width: 50%;
    text-align: center;
  }
  .hp-gray-dark-space .partners .item img {
    width: 90%;
  }
  .hp-white-space .ui.grid.game .column,
  .hp-gray-dark-space .ui.grid.game .column,
  .hp-gray-space .ui.grid.game .column {
    width: 33.3%;
    text-align: center;
  }
  .hp-white-space .ui.grid.game .column:first-child,
  .hp-gray-dark-space .ui.grid.game .column:first-child,
  .hp-gray-space .ui.grid.game .column:first-child {
    margin-left: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
  .hp-white-space .ui.grid.game .column p,
  .hp-gray-dark-space .ui.grid.game .column p,
  .hp-gray-space .ui.grid.game .column p {
    font-size: 0.9em;
  }
  .hp-white-space .format-grid-parent,
  .hp-gray-dark-space .format-grid-parent,
  .hp-gray-space .format-grid-parent {
    padding-left: 0;
    padding-right: 0;
  }
  .hp-white-space .hp-tech .ui.grid.five.column .column,
  .hp-gray-dark-space .hp-tech .ui.grid.five.column .column,
  .hp-gray-space .hp-tech .ui.grid.five.column .column {
    padding: 0.5em;
  }
  .hp-white-space .simulation img,
  .hp-gray-dark-space .simulation img,
  .hp-gray-space .simulation img {
    float: none;
  }
  .hp-white-space .ui.grid .column,
  .hp-gray-dark-space .ui.grid .column,
  .hp-gray-space .ui.grid .column,
  .hp-white-space .ui.container .column,
  .hp-gray-dark-space .ui.container .column,
  .hp-gray-space .ui.container .column {
    margin-bottom: 1em;
  }
}
.ui.item.menu.long-page-nav .item {
  padding: 1.5em 0.3em 1.5em 0.3em !important;
  display: block;
}
.ui.item.menu.long-page-nav .item .icon {
  width: 100%;
}
.ui.item.menu.long-page-nav .item:first-child {
  padding-left: 1.5em !important;
}
.ui.item.menu.long-page-nav .item:last-child {
  padding-right: 1.5em !important;
}
.red.block {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-color: #ff3c42;
  vertical-align: baseline;
  margin: 0 2px 0 0;
}
.red.down.triangle {
  border-top: solid 10px #ff3c42;
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  width: 0;
  height: 0;
}
.right.floating,
.right.floated {
  float: right !important;
}
.grey.segment {
  background-color: #D2D2D2;
  border-top: none !important;
  border-radius: 0 !important;
  border-bottom: none;
  box-shadow: 0 4px 0 0 #BEBEBE !important;
}
.grey.segment .content {
  padding-top: 1em;
}
.red.button {
  background-color: #ff3c42 !important;
}
.shadowed.button {
  box-shadow: 0 5px 0 0 #333 !important;
  font-weight: lighter;
  border-radius: 10px;
}
