.qa-page .qa-box {
  display: table;
  height: 100%;
  width: 100%;
}
.qa-page .qa-box .qa-box-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.qa-page .qa-box .qa-box-content.qa-loading {
  background-color: white;
}
.qa-page .qa-box .qa-box-content.qa-loading .qa.logo {
  max-width: 125px;
  width: 100%;
}
.qa-page .qa-box .qa-box-content.qa-start {
  background-color: #FF3C42;
  background-image: url('/img/mobile/qa/bg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}
.qa-page .qa-box .qa-box-content.qa-start .bg img {
  width: 100%;
  max-width: 375px;
}
.qa-page .qa-box .qa-box-content.qa-start .start-logo {
  background-image: url('/img/mobile/qa/q.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 221px;
  margin: 0 auto;
  padding: 50px 15px;
  margin-top: 20px;
}
.qa-page .qa-box .qa-box-content.qa-start .start-logo h1,
.qa-page .qa-box .qa-box-content.qa-start .start-logo h2 {
  text-align: left;
  color: white;
}
.qa-page .qa-box .qa-box-content.qa-start .start-logo h1.mk {
  font-size: 2.5em;
  margin-bottom: 0;
}
.qa-page .qa-box .qa-box-content.qa-start .start-logo h2.qa {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: normal;
}
.qa-page .qa-box .qa-box-content.qa-start .start-button {
  margin-top: 80px;
}
.qa-page .qa-box .qa-box-content.qa-start .start-button img {
  width: 40%;
  max-width: 150px;
}
.qa-page .qa-box .qa-box-content.qa-start .b-site {
  margin-top: 50px;
}
.qa-page .qa-box .qa-box-content.qa-start .b-site a {
  font-size: 0.85em;
  color: #f0f0f0;
  margin-top: 50px;
}
.qa-page .qa-box .qa-box-content.qa-start .b-site a:hover,
.qa-page .qa-box .qa-box-content.qa-start .b-site a:active {
  color: #F0F0F0 !important;
  text-decoration: underline !important;
}
.qa-page .qa-box .qa-box-content.qa-end {
  background-color: #FF3C42;
  background-image: url('/img/mobile/qa/bg_end.png');
  background-repeat: no-repeat;
  padding: 0 2em;
  background-position: top right;
  background-size: cover;
}
.qa-page .qa-box .qa-box-content.qa-end .end-header {
  background: #2C363D;
  border-radius: 8px;
  color: #F0F0F0;
  text-align: center;
  padding: 1em;
}
.qa-page .qa-box .qa-box-content.qa-end .end-header h3 {
  font-size: 1.125em;
  color: #F0F0F0;
  margin: 0 !important;
}
.qa-page .qa-box .qa-box-content.qa-end img.down {
  width: 69px;
}
.qa-page .qa-box .qa-box-content.qa-end .end-body {
  padding: 1.5em;
}
.qa-page .qa-box .qa-box-content.qa-end .end-body p {
  font-size: 1.125em;
  color: #F0F0F0;
}
.qa-page .qa-box .qa-box-content.qa-end img.wechat {
  width: 130px;
}
.qa-page .qa-box .qa-box-content.qa-end .b-site {
  margin-top: 50px;
}
.qa-page .qa-box .qa-box-content.qa-end .b-site a {
  font-size: 0.8em;
  color: #f0f0f0;
}
.qa-page .qa-box .qa-box-content.qa-end .b-site a:hover,
.qa-page .qa-box .qa-box-content.qa-end .b-site a:active {
  color: #F0F0F0 !important;
  text-decoration: underline !important;
}
.qa-page .qa-box .qa-box-content.qa-content {
  background-color: #F0F0F0;
}
.qa-page .qa-box .qa-box-content.qa-content .column {
  padding: 0.5em !important;
}
.qa-page .qa-box .qa-box-content.qa-content .triangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
}
.qa-page .qa-box .qa-box-content.qa-content .logo {
  position: absolute;
  right: 2em;
  bottom: 2em;
  width: 100px;
}
.qa-page .qa-box .qa-box-content.qa-content .number {
  width: 100%;
  max-width: 100px;
}
.qa-page .qa-box .qa-box-content.qa-content .q-conetnt {
  font-size: 1em;
  text-align: left;
  color: #2E363D;
}
.qa-page .qa-box .qa-box-content.qa-content .answer-grid {
  margin-top: 1em;
}
.qa-page .qa-box .qa-box-content.qa-content .answer-grid .fourteen.wide.column {
  padding-right: 0;
}
.qa-page .qa-box .qa-box-content.qa-content .answer-grid .two.wide.column {
  padding-left: 0;
  margin-left: -10%;
}
.qa-page .qa-box .qa-box-content.qa-content .answer-grid .two.wide.column img.wrong,
.qa-page .qa-box .qa-box-content.qa-content .answer-grid .two.wide.column img.right {
  height: 30px;
}
.qa-page .qa-box .qa-box-content.qa-content .qa-bar {
  padding: 2em 3em 0 3em;
}
.qa-page .qa-box .qa-box-content.qa-content .qa-bar .ui.mobile-bar {
  border-radius: 8px;
  height: 5px;
  margin-top: 2em;
}
.qa-page .qa-box .qa-box-content.qa-content .qa-bar .ui.mobile-bar .bar {
  background-color: #FF3C42;
  border-radius: 8px;
  height: 5px;
}
.qa-page .qa-box .qa-box-content.qa-content .qa-bar .ui.progress.success.mobile-bar .bar {
  background-color: #FF3C42 !important;
}
.qa-page .qa-box .qa-box-content.qa-content .answer {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 30px;
  width: 197px;
  float: right;
  text-align: left;
  padding: 0;
  padding-left: 3.5em;
}
.qa-page .qa-box .qa-box-content.qa-content .answer:last-child {
  margin-bottom: 0;
}
.qa-page .qa-box .qa-box-content.qa-content .answer p {
  font-size: 1em;
  padding: 0.3em 0;
  margin-bottom: 0;
  color: #F0F0F0;
}
.qa-page .qa-box .qa-box-content.qa-content .answer.A {
  background-image: url('/img/mobile/qa/icon/A.png');
}
.qa-page .qa-box .qa-box-content.qa-content .answer.B {
  background-image: url('/img/mobile/qa/icon/B.png');
}
.qa-page .qa-box .qa-box-content.qa-content .answer.C {
  background-image: url('/img/mobile/qa/icon/C.png');
}
.qa-page .qa-box .qa-box-content.qa-content .answer.D {
  background-image: url('/img/mobile/qa/icon/D.png');
}
.qa-page .qa-box .qa-box-content.qa-content .ui.dimmer {
  padding: 0 2em;
}
.qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content {
  display: table;
}
.qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid {
  text-align: left;
}
.qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid img.r-answer {
  width: 100%;
  max-width: 90px;
}
.qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column h3,
.qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column p {
  text-align: left;
  font-size: 1em;
  line-height: 2em;
  /*line-height: 1.4285em;*/
}
.qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column h3 {
  margin: 0 0 1em 0;
}
.qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column .next-button {
  margin-top: 2em;
  text-align: left;
}
.qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column .next-button img {
  width: 50%;
  max-width: 128px;
}
@media only screen and (min-width: 768px) {
  .qa-body {
    display: table;
    height: 100%;
    width: 100%;
  }
  .qa-body .qa-page {
    display: table-cell;
    vertical-align: middle;
    background-color: #F0F0F0;
  }
  .qa-body .qa-page .qa-box {
    display: table;
    width: 375px;
    height: 667px;
    margin: 0 auto;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-loading {
    background-color: transparent;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-loading .qa.logo {
    max-width: 250px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-start .start-logo {
    width: 280px;
    height: 309px;
    padding: 80px 30px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-start .start-logo h1.hk {
    font-size: 3em;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-start .start-logo h2.qa {
    font-size: 2em;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-start .start-button {
    margin-top: 80px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-start .start-button img {
    width: 40%;
    max-width: 200px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-start .b-site {
    margin-top: 100px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-start .b-site a {
    font-size: 1em;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-end {
    padding: 0 2em;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-end .end-header h3 {
    font-size: 1.25em;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-end img.down {
    margin-top: 20px;
    width: 69px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-end .end-body {
    margin-top: 0px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-end .end-body p {
    font-size: 1.25em;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-end img.wechat {
    width: 130px;
    margin-top: 10px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-end .b-site {
    display: block;
    margin-top: 100px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-end .b-site a {
    font-size: 1em;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-content {
    background-image: url('/img/mobile/qa/q_bg.png');
    background-size: cover;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-content .ui.container {
    width: 375px !important;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-content .number {
    width: 100%;
    max-width: 105px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-content img.triangle {
    display: none;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-content img.logo {
    display: none;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-content .qa-bar {
    padding: 10em 5em 0 5em;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer {
    padding: 0 2em;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid img.r-answer {
    width: 100%;
    max-width: 93px;
  }
  .qa-body .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column p {
    line-height: 2em;
  }
  .qa-body .qa-page.red {
    background-color: #FF3C42;
  }
  .qa-body .qa-page.grey {
    background-color: #F0F0F0;
  }
  .qa-body .qa-page.white {
    background-color: white;
  }
}
@media only screen and (min-width: 319px) and (max-width: 375px) {
  .qa-page .qa-box .qa-box-content.qa-start .start-logo {
    width: 180px;
    height: 197px;
  }
  .qa-page .qa-box .qa-box-content.qa-start .start-logo h1.mk {
    font-size: 2em;
  }
  .qa-page .qa-box .qa-box-content.qa-start .start-logo h2.qa {
    font-size: 1.125em;
  }
  .qa-page .qa-box .qa-box-content.qa-end img.wechat {
    width: 120px;
  }
  .qa-page .qa-box .qa-box-content.qa-end .end-body {
    padding: 1em;
  }
  .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer {
    padding: 0 1em;
  }
  .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid img.r-answer {
    max-width: 80px;
  }
  .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column h3,
  .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column p {
    line-height: 1.5em;
  }
}
@media only screen and (max-height: 479px) {
  .qa-page .qa-box .qa-box-content.qa-start .start-logo {
    margin-top: 0px;
  }
  .qa-page .qa-box .qa-box-content.qa-end img.wechat {
    width: 100px;
  }
  .qa-page .qa-box .qa-box-content.qa-end .end-header h3 {
    font-size: 1em;
  }
  .qa-page .qa-box .qa-box-content.qa-end .end-body p {
    font-size: 1em;
  }
  .qa-page .qa-box .qa-box-content.qa-content .logo {
    bottom: 1em;
    right: 1em;
  }
  .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer {
    padding: 0;
  }
  .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid img.r-answer {
    max-width: 65px;
  }
  .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column h3,
  .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column p {
    line-height: 1.4285em;
  }
  .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column .next-button {
    margin-top: 2em;
  }
  .qa-page .qa-box .qa-box-content.qa-content .ui.dimmer .content .one.column.grid .content-column.q11 .next-button {
    margin-top: 1em;
  }
}
