.z-icon-ending_10_small, .z-icon-ending_11_small, .z-icon-ending_12_small, .z-icon-ending_13_small, .z-icon-ending_14_small, .z-icon-ending_15_small, .z-icon-ending_16_small, .z-icon-ending_17_small, .z-icon-ending_18_small, .z-icon-ending_19_small, .z-icon-ending_1_small, .z-icon-ending_20_small, .z-icon-ending_21_small, .z-icon-ending_22_small, .z-icon-ending_23_small, .z-icon-ending_24_small, .z-icon-ending_25_small, .z-icon-ending_26_small, .z-icon-ending_27_small, .z-icon-ending_28_small, .z-icon-ending_29_small, .z-icon-ending_2_small, .z-icon-ending_30_small, .z-icon-ending_31_small, .z-icon-ending_32_small, .z-icon-ending_33_small, .z-icon-ending_34_small, .z-icon-ending_35_small, .z-icon-ending_36_small, .z-icon-ending_3_small, .z-icon-ending_4_small, .z-icon-ending_5_small, .z-icon-ending_6_small, .z-icon-ending_7_small, .z-icon-ending_8_small, .z-icon-ending_9_small {
	background-image: url(../images/compiled/small_ending.png);
	background-repeat: no-repeat
}
.z-icon-ending_9_small {
	background-position: 0 0;
	width: 97px;
	height: 151px
}
.z-icon-ending_8_small {
	background-position: -97px 0;
	width: 97px;
	height: 151px
}
.z-icon-ending_7_small {
	background-position: -194px 0;
	width: 97px;
	height: 151px
}
.z-icon-ending_6_small {
	background-position: -291px 0;
	width: 97px;
	height: 151px
}
.z-icon-ending_5_small {
	background-position: 0 -151px;
	width: 97px;
	height: 151px
}
.z-icon-ending_4_small {
	background-position: -97px -151px;
	width: 97px;
	height: 151px
}
.z-icon-ending_3_small {
	background-position: -194px -151px;
	width: 97px;
	height: 151px
}
.z-icon-ending_36_small {
	background-position: -291px -151px;
	width: 97px;
	height: 151px
}
.z-icon-ending_35_small {
	background-position: -388px 0;
	width: 97px;
	height: 151px
}
.z-icon-ending_34_small {
	background-position: -388px -151px;
	width: 97px;
	height: 151px
}
.z-icon-ending_33_small {
	background-position: 0 -302px;
	width: 97px;
	height: 151px
}
.z-icon-ending_32_small {
	background-position: -97px -302px;
	width: 97px;
	height: 151px
}
.z-icon-ending_31_small {
	background-position: -194px -302px;
	width: 97px;
	height: 151px
}
.z-icon-ending_30_small {
	background-position: -291px -302px;
	width: 97px;
	height: 151px
}
.z-icon-ending_2_small {
	background-position: -388px -302px;
	width: 97px;
	height: 151px
}
.z-icon-ending_29_small {
	background-position: -485px 0;
	width: 97px;
	height: 151px
}
.z-icon-ending_28_small {
	background-position: -485px -151px;
	width: 97px;
	height: 151px
}
.z-icon-ending_27_small {
	background-position: -485px -302px;
	width: 97px;
	height: 151px
}
.z-icon-ending_26_small {
	background-position: -582px 0;
	width: 97px;
	height: 151px
}
.z-icon-ending_25_small {
	background-position: -582px -151px;
	width: 97px;
	height: 151px
}
.z-icon-ending_24_small {
	background-position: -582px -302px;
	width: 97px;
	height: 151px
}
.z-icon-ending_23_small {
	background-position: 0 -453px;
	width: 97px;
	height: 151px
}
.z-icon-ending_22_small {
	background-position: -97px -453px;
	width: 97px;
	height: 151px
}
.z-icon-ending_21_small {
	background-position: -194px -453px;
	width: 97px;
	height: 151px
}
.z-icon-ending_20_small {
	background-position: -291px -453px;
	width: 97px;
	height: 151px
}
.z-icon-ending_1_small {
	background-position: -388px -453px;
	width: 97px;
	height: 151px
}
.z-icon-ending_19_small {
	background-position: -485px -453px;
	width: 97px;
	height: 151px
}
.z-icon-ending_18_small {
	background-position: -582px -453px;
	width: 97px;
	height: 151px
}
.z-icon-ending_17_small {
	background-position: -679px 0;
	width: 97px;
	height: 151px
}
.z-icon-ending_16_small {
	background-position: -679px -151px;
	width: 97px;
	height: 151px
}
.z-icon-ending_15_small {
	background-position: -679px -302px;
	width: 97px;
	height: 151px
}
.z-icon-ending_14_small {
	background-position: -679px -453px;
	width: 97px;
	height: 151px
}
.z-icon-ending_13_small {
	background-position: 0 -604px;
	width: 97px;
	height: 151px
}
.z-icon-ending_12_small {
	background-position: -97px -604px;
	width: 97px;
	height: 151px
}
.z-icon-ending_11_small {
	background-position: -194px -604px;
	width: 97px;
	height: 151px
}
.z-icon-ending_10_small {
	background-position: -291px -604px;
	width: 97px;
	height: 151px
}
@media screen and (-webkit-min-device-pixel-ratio:1), screen and (min--moz-device-pixel-ratio:1), screen and (-o-min-device-pixel-ratio:100/100), screen and (min-device-pixel-ratio:1), screen and (min-resolution:1dppx) {
	.z-icon-ending_10_small, .z-icon-ending_11_small, .z-icon-ending_12_small, .z-icon-ending_13_small, .z-icon-ending_14_small, .z-icon-ending_15_small, .z-icon-ending_16_small, .z-icon-ending_17_small, .z-icon-ending_18_small, .z-icon-ending_19_small, .z-icon-ending_1_small, .z-icon-ending_20_small, .z-icon-ending_21_small, .z-icon-ending_22_small, .z-icon-ending_23_small, .z-icon-ending_24_small, .z-icon-ending_25_small, .z-icon-ending_26_small, .z-icon-ending_27_small, .z-icon-ending_28_small, .z-icon-ending_29_small, .z-icon-ending_2_small, .z-icon-ending_30_small, .z-icon-ending_31_small, .z-icon-ending_32_small, .z-icon-ending_33_small, .z-icon-ending_34_small, .z-icon-ending_35_small, .z-icon-ending_36_small, .z-icon-ending_3_small, .z-icon-ending_4_small, .z-icon-ending_5_small, .z-icon-ending_6_small, .z-icon-ending_7_small, .z-icon-ending_8_small, .z-icon-ending_9_small {
		background-image: url(../images/compiled/small_ending.png);
		-webkit-background-size: 776px 755px;
		-moz-background-size: 776px 755px;
		background-size: 776px 755px
	}
}
@media screen and (-webkit-min-device-pixel-ratio:2), screen and (min--moz-device-pixel-ratio:2), screen and (-o-min-device-pixel-ratio:200/100), screen and (min-device-pixel-ratio:2), screen and (min-resolution:2dppx) {
	.z-icon-ending_10_small, .z-icon-ending_11_small, .z-icon-ending_12_small, .z-icon-ending_13_small, .z-icon-ending_14_small, .z-icon-ending_15_small, .z-icon-ending_16_small, .z-icon-ending_17_small, .z-icon-ending_18_small, .z-icon-ending_19_small, .z-icon-ending_1_small, .z-icon-ending_20_small, .z-icon-ending_21_small, .z-icon-ending_22_small, .z-icon-ending_23_small, .z-icon-ending_24_small, .z-icon-ending_25_small, .z-icon-ending_26_small, .z-icon-ending_27_small, .z-icon-ending_28_small, .z-icon-ending_29_small, .z-icon-ending_2_small, .z-icon-ending_30_small, .z-icon-ending_31_small, .z-icon-ending_32_small, .z-icon-ending_33_small, .z-icon-ending_34_small, .z-icon-ending_35_small, .z-icon-ending_36_small, .z-icon-ending_3_small, .z-icon-ending_4_small, .z-icon-ending_5_small, .z-icon-ending_6_small, .z-icon-ending_7_small, .z-icon-ending_8_small, .z-icon-ending_9_small {
		background-image: url(../images/compiled/small_ending@2x.png);
		-webkit-background-size: 776px 755px;
		-moz-background-size: 776px 755px;
		background-size: 776px 755px
	}
}
.z-icon-ending_1, .z-icon-ending_10, .z-icon-ending_11, .z-icon-ending_12, .z-icon-ending_13, .z-icon-ending_14, .z-icon-ending_15, .z-icon-ending_16, .z-icon-ending_17, .z-icon-ending_18, .z-icon-ending_19, .z-icon-ending_2, .z-icon-ending_20, .z-icon-ending_21, .z-icon-ending_22, .z-icon-ending_23, .z-icon-ending_24, .z-icon-ending_25, .z-icon-ending_26, .z-icon-ending_27, .z-icon-ending_28, .z-icon-ending_29, .z-icon-ending_3, .z-icon-ending_30, .z-icon-ending_31, .z-icon-ending_32, .z-icon-ending_33, .z-icon-ending_34, .z-icon-ending_35, .z-icon-ending_36, .z-icon-ending_4, .z-icon-ending_5, .z-icon-ending_6, .z-icon-ending_7, .z-icon-ending_8, .z-icon-ending_9 {
	background-image: url(../images/compiled/normal_ending.png);
	background-repeat: no-repeat
}
.z-icon-ending_9 {
	background-position: 0 0;
	width: 107px;
	height: 167px
}
.z-icon-ending_8 {
	background-position: -107px 0;
	width: 107px;
	height: 167px
}
.z-icon-ending_7 {
	background-position: -214px 0;
	width: 107px;
	height: 167px
}
.z-icon-ending_6 {
	background-position: -321px 0;
	width: 107px;
	height: 167px
}
.z-icon-ending_5 {
	background-position: 0 -167px;
	width: 107px;
	height: 167px
}
.z-icon-ending_4 {
	background-position: -107px -167px;
	width: 107px;
	height: 167px
}
.z-icon-ending_36 {
	background-position: -214px -167px;
	width: 107px;
	height: 167px
}
.z-icon-ending_35 {
	background-position: -321px -167px;
	width: 107px;
	height: 167px
}
.z-icon-ending_34 {
	background-position: -428px 0;
	width: 107px;
	height: 167px
}
.z-icon-ending_33 {
	background-position: -428px -167px;
	width: 107px;
	height: 167px
}
.z-icon-ending_32 {
	background-position: 0 -334px;
	width: 107px;
	height: 167px
}
.z-icon-ending_31 {
	background-position: -107px -334px;
	width: 107px;
	height: 167px
}
.z-icon-ending_30 {
	background-position: -214px -334px;
	width: 107px;
	height: 167px
}
.z-icon-ending_3 {
	background-position: -321px -334px;
	width: 107px;
	height: 167px
}
.z-icon-ending_29 {
	background-position: -428px -334px;
	width: 107px;
	height: 167px
}
.z-icon-ending_28 {
	background-position: -535px 0;
	width: 107px;
	height: 167px
}
.z-icon-ending_27 {
	background-position: -535px -167px;
	width: 107px;
	height: 167px
}
.z-icon-ending_26 {
	background-position: -535px -334px;
	width: 107px;
	height: 167px
}
.z-icon-ending_25 {
	background-position: -642px 0;
	width: 107px;
	height: 167px
}
.z-icon-ending_24 {
	background-position: -642px -167px;
	width: 107px;
	height: 167px
}
.z-icon-ending_23 {
	background-position: -642px -334px;
	width: 107px;
	height: 167px
}
.z-icon-ending_22 {
	background-position: 0 -501px;
	width: 107px;
	height: 167px
}
.z-icon-ending_21 {
	background-position: -107px -501px;
	width: 107px;
	height: 167px
}
.z-icon-ending_20 {
	background-position: -214px -501px;
	width: 107px;
	height: 167px
}
.z-icon-ending_2 {
	background-position: -321px -501px;
	width: 107px;
	height: 167px
}
.z-icon-ending_19 {
	background-position: -428px -501px;
	width: 107px;
	height: 167px
}
.z-icon-ending_18 {
	background-position: -535px -501px;
	width: 107px;
	height: 167px
}
.z-icon-ending_17 {
	background-position: -642px -501px;
	width: 107px;
	height: 167px
}
.z-icon-ending_16 {
	background-position: -749px 0;
	width: 107px;
	height: 167px
}
.z-icon-ending_15 {
	background-position: -749px -167px;
	width: 107px;
	height: 167px
}
.z-icon-ending_14 {
	background-position: -749px -334px;
	width: 107px;
	height: 167px
}
.z-icon-ending_13 {
	background-position: -749px -501px;
	width: 107px;
	height: 167px
}
.z-icon-ending_12 {
	background-position: 0 -668px;
	width: 107px;
	height: 167px
}
.z-icon-ending_11 {
	background-position: -107px -668px;
	width: 107px;
	height: 167px
}
.z-icon-ending_10 {
	background-position: -214px -668px;
	width: 107px;
	height: 167px
}
.z-icon-ending_1 {
	background-position: -321px -668px;
	width: 107px;
	height: 167px
}
@media screen and (-webkit-min-device-pixel-ratio:1), screen and (min--moz-device-pixel-ratio:1), screen and (-o-min-device-pixel-ratio:100/100), screen and (min-device-pixel-ratio:1), screen and (min-resolution:1dppx) {
	.z-icon-ending_1, .z-icon-ending_10, .z-icon-ending_11, .z-icon-ending_12, .z-icon-ending_13, .z-icon-ending_14, .z-icon-ending_15, .z-icon-ending_16, .z-icon-ending_17, .z-icon-ending_18, .z-icon-ending_19, .z-icon-ending_2, .z-icon-ending_20, .z-icon-ending_21, .z-icon-ending_22, .z-icon-ending_23, .z-icon-ending_24, .z-icon-ending_25, .z-icon-ending_26, .z-icon-ending_27, .z-icon-ending_28, .z-icon-ending_29, .z-icon-ending_3, .z-icon-ending_30, .z-icon-ending_31, .z-icon-ending_32, .z-icon-ending_33, .z-icon-ending_34, .z-icon-ending_35, .z-icon-ending_36, .z-icon-ending_4, .z-icon-ending_5, .z-icon-ending_6, .z-icon-ending_7, .z-icon-ending_8, .z-icon-ending_9 {
		background-image: url(../images/compiled/normal_ending.png);
		-webkit-background-size: 856px 835px;
		-moz-background-size: 856px 835px;
		background-size: 856px 835px
	}
}
@media screen and (-webkit-min-device-pixel-ratio:2), screen and (min--moz-device-pixel-ratio:2), screen and (-o-min-device-pixel-ratio:200/100), screen and (min-device-pixel-ratio:2), screen and (min-resolution:2dppx) {
	.z-icon-ending_1, .z-icon-ending_10, .z-icon-ending_11, .z-icon-ending_12, .z-icon-ending_13, .z-icon-ending_14, .z-icon-ending_15, .z-icon-ending_16, .z-icon-ending_17, .z-icon-ending_18, .z-icon-ending_19, .z-icon-ending_2, .z-icon-ending_20, .z-icon-ending_21, .z-icon-ending_22, .z-icon-ending_23, .z-icon-ending_24, .z-icon-ending_25, .z-icon-ending_26, .z-icon-ending_27, .z-icon-ending_28, .z-icon-ending_29, .z-icon-ending_3, .z-icon-ending_30, .z-icon-ending_31, .z-icon-ending_32, .z-icon-ending_33, .z-icon-ending_34, .z-icon-ending_35, .z-icon-ending_36, .z-icon-ending_4, .z-icon-ending_5, .z-icon-ending_6, .z-icon-ending_7, .z-icon-ending_8, .z-icon-ending_9 {
		background-image: url(../images/compiled/normal_ending@2x.png);
		-webkit-background-size: 856px 835px;
		-moz-background-size: 856px 835px;
		background-size: 856px 835px
	}
}
body, button, h1, html, p {
	margin: 0;
	padding: 0
}
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: helvetica;
	background-repeat: repeat-x;
	background-size: 59px 25px;
	-webkit-user-select: none;
	-webkit-animation-name: body-background;
	-webkit-animation-duration: 50s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-name: body-background;
	animation-duration: 55s;
	animation-fill-mode: both;
	animation-iteration-count: infinite
}
@-webkit-keyframes body-background {
	0% {
		background-color: #9ac0e5
	}
	5% {
		background-color: #9acce5
	}
	10% {
		background-color: #9ad9e5
	}
	15% {
		background-color: #9ae5e5
	}
	21% {
		background-color: #9ae5d9
	}
	26% {
		background-color: #9ae5cc
	}
	31% {
		background-color: #9ae5b3
	}
	36% {
		background-color: #b3e59a
	}
	42% {
		background-color: #cce59a
	}
	47% {
		background-color: #e5d99a
	}
	52% {
		background-color: #e5c09a
	}
	57% {
		background-color: #e5a69a
	}
	63% {
		background-color: #e59a9a
	}
	68% {
		background-color: #e59aa6
	}
	73% {
		background-color: #e59ab3
	}
	78% {
		background-color: #e59ac0
	}
	84% {
		background-color: #b39ae5
	}
	89% {
		background-color: #9aa6e5
	}
	94% {
		background-color: #9ab3e5
	}
	100% {
		background-color: #9ac0e5
	}
}
@keyframes body-background {
	0% {
		background-color: #9ac0e5
	}
	5% {
		background-color: #9acce5
	}
	10% {
		background-color: #9ad9e5
	}
	15% {
		background-color: #9ae5e5
	}
	21% {
		background-color: #9ae5d9
	}
	26% {
		background-color: #9ae5cc
	}
	31% {
		background-color: #9ae5b3
	}
	36% {
		background-color: #b3e59a
	}
	42% {
		background-color: #cce59a
	}
	47% {
		background-color: #e5d99a
	}
	52% {
		background-color: #e5c09a
	}
	57% {
		background-color: #e5a69a
	}
	63% {
		background-color: #e59a9a
	}
	68% {
		background-color: #e59aa6
	}
	73% {
		background-color: #e59ab3
	}
	78% {
		background-color: #e59ac0
	}
	84% {
		background-color: #b39ae5
	}
	89% {
		background-color: #9aa6e5
	}
	94% {
		background-color: #9ab3e5
	}
	100% {
		background-color: #9ac0e5
	}
}
body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden
}
button {
	display: block;
	border: none;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	outline: 0;
	-webkit-tap-highlight-color: transparent
}
span {
	display: block
}
section {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0
}
.welcome {
	display: none;
	margin: 50px auto auto;
	width: 280px;
	z-index: 999;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s
}
.logo {
	height: 80px;
	background-size: 280px 80px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png)
}
.preamble {
	margin: 20px auto auto;
	padding: 17px;
	width: 18em;
	color: #464646;
	font-size: 13px;
	line-height: 1.4;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .5)
}
.statement {
	margin-top: 10px;
	font-size: 9px
}
.start_btn {
	margin: 40px auto auto;
	width: 124px;
	height: 57px;
	background-color: #ffd800;
	border-radius: 30px;
	-webkit-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, .23);
	box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, .23);
	background-size: 95px 23px;
	background-image: url(../images/start_btn.png);
	-webkit-transition: background-color .2s;
	transition: background-color .2s
}
.start_btn.hover {
	background-color: #ffba00
}
.footer {
	font-size: 10px;
	color: rgba(255, 255, 255, .8);
	text-align: center;
	margin-top: 12px
}
.question {
	z-index: 222;
	visibility: hidden;
	width: 280px;
	margin: 85px auto auto
}
.money {
	position: absolute;
	right: 0;
	top: -47px;
	width: 86px;
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	text-align: right;
	color: #fff;
	padding-right: 5px;
	background-color: #196450;
	border-radius: 5px
}
.money:before {
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	left: 5px;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	background-image: url(../images/coin.png)
}
.income {
	display: none;
	position: absolute;
	left: 0;
	top: -47px;
	height: 25px;
	width: 100px;
	background-image: url(../images/plus.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	line-height: 25px;
	color: #fff;
	font-size: 21px;
	opacity: 0;
	transition: opacity .5s;
	-webkit-transition: opacity .5s
}
.question .title {
	position: absolute;
	top: -15px;
	left: 0;
	right: 0;
	margin: auto;
	width: 115px;
	height: 31px;
	background-size: 115px 31px;
	text-align: center;
	font-size: 18px;
	line-height: 31px;
	color: #963200;
	background-image: url(../images/question_title_bg.png)
}
.describe {
	padding-top: 25px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 0 auto 22px;
	height: 90px;
	width: 16em;
	font-size: 16px;
	line-height: 19px;
	color: #464646;
	border-radius: 5px;
	background-color: #fff
}
.choice {
	position: relative;
	float: right;
	margin-bottom: 11px;
	padding-right: 17px;
	padding-left: 25px;
	width: 256px;
	height: 55px;
	color: #694123;
	border-radius: 5px;
	background-color: #ffe16e;
	text-align: left;
	font-size: 15px;
	line-height: 1;
	overflow: visible;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .23);
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .23)
}
.choice:active {
	background-color: #ffba00
}
.choice:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -24px;
	margin: auto;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .23);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .23)
}
.choice:nth-of-type(1):before {
	background-color: #9940ff;
	background-image: url(../images/A.png)
}
.choice:nth-of-type(2):before {
	background-color: #ffa640;
	background-image: url(../images/B.png)
}
.choice:nth-of-type(3):before {
	background-color: #3ee4fa;
	background-image: url(../images/C.png)
}
.ending {
	display: none;
	margin: 58px auto auto;
	width: 245px;
	z-index: 222
}
.ending_title {
	height: 28px;
	background-size: 60px 28px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/out.png)
}
.ending_title.success {
	background-size: 149px 28px;
	background-image: url(../images/congrats.png)
}
.ending_card {
	margin: 25px auto 28px;
	height: 165px;
	width: 105px;
	border: 1px solid #fff
}
.ending_info {
	color: #fff;
	height: 94px;
	font-size: 13px;
	width: 19em;
	line-height: 18px
}
.restart_btn {
	float: left;
	width: 95px;
	height: 43px;
	background-color: #ffd800;
	background-size: 70px 17px;
	background-image: url(../images/restart_btn.png);
	border-radius: 23px;
	box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, .23);
	-webkit-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, .23)
}
.buy_btn {
	float: right;
	width: 95px;
	height: 43px;
	background-color: #ffd800;
	background-size: 70px 17px;
	background-image: url(../images/buy_btn.png);
	border-radius: 23px;
	box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, .23);
	-webkit-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, .23)
}
.buy_btn:active, .restart_btn:active {
	background-color: #ffba00
}
.share_msg {
	background-image: url(../images/share_msg.png);
	background-size: 64px 27px;
	position: absolute;
	top: -38px;
	right: -30px;
	width: 64px;
	height: 27px
}
.ending.no-share .share_msg {
	display: none
}
.msg {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 999;
	transition: background-color .3s;
	-webkit-transition: background-color .3s
}
.msg.dark {
	background-color: rgba(0, 0, 0, .85)
}
.msg div {
	display: none;
	position: absolute;
	width: 280px;
	height: 150px;
	background-color: #ffe16e;
	border-radius: 7px;
	margin: auto;
	left: 0;
	right: 0;
	top: 120px;
	overflow: hidden
}
.msg.fail div.fail-msg, .msg.success div.success-msg {
	display: block
}
.msg p {
	width: 15em;
	height: 75px;
	font-size: 16px;
	line-height: 19px;
	margin: auto;
	padding-top: 20px
}
.msg button {
	width: 100%;
	height: 55px;
	background-color: #fff;
	font-size: 16px
}
.msg button:active {
	background-color: #fafafa
}
@media (max-height:450px) {
	.welcome {
		margin-top: 15px
	}
	.logo {
		height: 77px;
		background-size: 264px 77px;
		background-image: url(../images/logo_small.png)
	}
	.preamble {
		margin-top: 17px
	}
	.start_btn {
		margin-top: 20px;
		width: 117px;
		height: 53px;
		background-size: 90px 20px;
		background-image: url(../images/start_btn_small.png)
	}
	.question {
		margin-top: 58px;
		width: 265px
	}
	.question .title {
		top: -13px;
		width: 100px;
		height: 27px;
		background-size: 100px 27px;
		font-size: 15px;
		line-height: 25px;
		background-image: url(../images/question_title_bg_small.png)
	}
	.money {
		top: -43px;
		height: 24px;
		line-height: 24px;
		width: 83px
	}
	.money:before {
		top: 4px;
		left: 5px;
		width: 16px;
		height: 16px;
		background-size: 16px 16px;
		background-image: url(../images/coin_small.png)
	}
	.interest {
		top: -43px;
		height: 24px;
		line-height: 24px
	}
	.describe {
		margin-bottom: 16px;
		width: 241px;
		font-size: 15px
	}
	.choice {
		margin-bottom: 10px;
		width: 242px;
		height: 52px;
		font-size: 14px
	}
	.choice:before {
		left: -23px;
		width: 38px;
		height: 38px;
		border-radius: 38px;
		background-size: 15px 15px
	}
	.choice:nth-of-type(1):before {
		background-image: url(../images/A_small.png)
	}
	.choice:nth-of-type(2):before {
		background-image: url(../images/B_small.png)
	}
	.choice:nth-of-type(3):before {
		background-image: url(../images/C_small.png)
	}
	.ending {
		margin-top: 27px
	}
	.ending_title {
		background-size: 55px 25px;
		background-image: url(../images/out_small.png)
	}
	.ending_title.success {
		background-size: 139px 27px;
		background-image: url(../images/congrats_small.png)
	}
	.ending_card {
		height: 149px;
		width: 95px;
		margin: 17px auto
	}
	.ending_info {
		height: 81px
	}
	.restart_btn {
		height: 42px;
		background-size: 69px 18px;
		background-image: url(../images/restart_btn_small.png)
	}
	.buy_btn {
		height: 42px;
		background-size: 69px 18px;
		background-image: url(../images/buy_btn_small.png)
	}
	.share_msg {
		top: -16px
	}
	.share_arrow {
		position: absolute;
		top: 15px;
		right: 45px;
		width: 25px;
		height: 30px;
		background-size: 25px 30px;
		background-image: url(../images/share_arrow_small.png)
	}
	.msg div {
		width: 265px;
		height: 140px;
		top: 100px
	}
	.msg p {
		font-size: 15px;
		padding-top: 20px;
		height: 68px;
		width: 226px
	}
	.msg button {
		height: 52px;
		font-size: 15px
	}
}
.dead_mask {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: background-color .5s;
	-webkit-transition: background-color .5s;
	z-index: 111
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transition: none;
	transition: none
}
@-webkit-keyframes pressDown {
	0% {
		-webkit-transform: none;
		transform: none
	}
	100% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
}
@keyframes pressDown {
	0% {
		-webkit-transform: none;
		transform: none
	}
	100% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
}
.pressDown {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0)
}
@-webkit-keyframes pressRelease {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
}
@keyframes pressRelease {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
}
.pressRelease {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: pressRelease;
	animation-name: pressRelease
}
.question {
	animation-duration: .7s;
	animation-fill-mode: both;
	-webkit-animation-duration: .7s;
	-webkit-animation-fill-mode: both
}
@-webkit-keyframes moveInRight {
	0% {
		-webkit-transform: translate3d(120%, 0, 0);
		transform: translate3d(120%, 0, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}
@keyframes moveInRight {
	0% {
		-webkit-transform: translate3d(120%, 0, 0);
		transform: translate3d(120%, 0, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}
.moveInRight {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: moveInRight;
	animation-name: moveInRight
}
@-webkit-keyframes moveOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(-120%, 0, 0);
		transform: translate3d(-120%, 0, 0)
	}
}
@keyframes moveOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(-120%, 0, 0);
		transform: translate3d(-120%, 0, 0)
	}
}
.moveOutLeft {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: moveOutLeft;
	animation-name: moveOutLeft
}
@-webkit-keyframes bounceOutUp {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0)
	}
}
@keyframes bounceOutUp {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0)
	}
}
.bounceOutUp {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp
}
@-webkit-keyframes bounceInDown {
	0%, 100%, 60%, 75%, 90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}
@keyframes bounceInDown {
	0%, 100%, 60%, 75%, 90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}
.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
.fadeIn {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 30%, 0);
		transform: translate3d(0, 30%, 0)
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -30%, 0);
		transform: translate3d(0, -30%, 0)
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 30%, 0);
		transform: translate3d(0, 30%, 0)
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -30%, 0);
		transform: translate3d(0, -30%, 0)
	}
}
.fadeInUp {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}
@-webkit-keyframes zoomIn {
	0%, 100%, 60%, 75%, 90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	50% {
		opacity: 1
	}
}
.zoomIn {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn
}
@-webkit-keyframes zoomOut {
	0% {
		opacity: 1
	}
	50% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	100% {
		opacity: 0
	}
}
@keyframes zoomOut {
	0% {
		opacity: 1
	}
	50% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	100% {
		opacity: 0
	}
}
.zoomOut {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
.fadeOut {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut
}