/*
* - @Bridge+
*/

.b-signin {
    width: 20em;
    position: absolute;
    right: 5em;
    top: 8em;
}

.b-signin-container {
    width: 600px;
    padding: 1px 50px 40px 50px;
    margin: 8em auto 2em auto;
    background-color: @color-grey-lighter;
}

.b-signin-wide {
    width: 250px;
    margin: 2em auto 2em auto;

    form {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}