/*
* - @Bridge+
*/

.b-map {
    min-height: 60rem;
    position: relative;
    background-repeat: no-repeat;  
    background-position: center top;  
    background-size:auto auto;
    background-color: @color-white;
    padding-top: 70px;

    .official-content{
        margin-top:2rem;
        .official-card{
            border-radius:0;
            box-shadow: 0px 2px 0px 1px #d4d4d5;
            .official-name{
                display: table;
                border-radius:0 !important;
                width:100%;
                .header{
                    color: @color-white;
                    display: table-cell;
                    vertical-align: middle;
                    height:46px;
                }
            }
            .official-dimmer{
                .content{
                    .center{
                        padding:0 1.5rem;
                    }
                    .dimmer-label{
                        background-color:transparent;
                        color: @color-white;
                        font-size: @fontsize-5xl;
                    }
                }
            }
        }
        .official-card :last-child,.official-card :first-child{
            border-radius:0 !important;
        }
    }

    .national-content{
    	margin-top:2rem;
        .national-cards{
            max-height:500px;
            overflow-y: scroll;
            margin: -0.875em -0.5em !important;
            .card{
                border-radius:0;
                box-shadow: 0px 2px 0px 1px #d4d4d5;
                .national-name{
                    border-radius:0 !important;
                    .header{
                        color: @color-white;
                    }
                }
            }
            .card :last-child,.card :first-child{
                border-radius:0 !important;
            }
        }
    }
    .ui.vertical.menu{
        max-width:230px;
        border-radius:0;
        .item{
            border-radius:0;
            i.icon{
                float:left;
                margin: -0.2em 2rem 0 0; 
                font-size:@fontsize-5xl;
                color: @color-brand;
            }
        }
        .item.active,.item:hover{
            background:#5F5F5F;
            border-radius:0;
            color: @color-white;
            i.icon{
                color:@color-white;
            }
        }
    }
}
.bplus{
	.b-map{
		background-image: url('/img/salespage/events_bg.png');
        .national-content{
            .national-cards{
                .card{
                    .national-name{
                        background-color: #a8a8a8;
                    }
                    .ui.dimmer{
                        background-color:@color-grey-dimmer;
                    }
                    &.available{
                        .national-name{
                            background-color:@color-brand;
                        }
                        .ui.dimmer{
                            background-color:@color-brand-dimmer;
                        }
                    }
                }

            }
        }
        .official-content{
            .official-card{
                .official-name{
                    background-color:#a8a8a8;
                }
                .ui.dimmer{
                    background-color:@color-grey-dimmer;
                }
                &.available{
                    .official-name{
                        background-color:@color-brand;
                    }
                    .ui.dimmer{
                        background-color:@color-brand-dimmer;
                    }
                }
            }
        }
	}
}
.hcdlearning{
	.b-map{
        background-image: url('/img/salespage/events_bg.png');
        .national-content{
            .national-cards{
                .card{
                    .national-name{
                        background-color: #a8a8a8;
                    }
                    .ui.dimmer{
                        background-color:@color-grey-dimmer;
                    }
                    &.available{
                        .national-name{
                            background-color:@color-hcdlearning;
                        }
                        .ui.dimmer{
                            background-color:@color-hcdlearning-dimmer;
                        }
                    }
                }
            }
        }
        .official-content{
            .official-card{
                .official-name{
                    background-color:#a8a8a8;
                }
                .ui.dimmer{
                    background-color:@color-grey-dimmer;
                }
                &.available{
                    .official-name{
                        background-color:@color-hcdlearning;
                    }
                    .ui.dimmer{
                        background-color:@color-hcdlearning-dimmer;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){
    .b-map{
        .ui.vertical.menu{
            .item{
                padding: 0.9rem 0.5rem;
                i.icon{
                    margin-right: 1rem; 
                }
            }
        }
    }
}
