/*
* - @Bridge+
*/

.b-feedback {
	// TODO: instead of background image
	background-color: @color-grey-lighter;
	padding-top: 5rem;
	padding-bottom: 2rem;

    .owl-theme {
        .owl-controls {
        	margin-top: 5rem;
            .owl-buttons {
                .owl-prev,
                .owl-next {
                    top: 15%; // calc(50% - 3rem);
                }
                .owl-prev {
                    left: 3rem;
                }
                .owl-next {
                    right: 3rem;
                }
            }
        }
    }

	> .ui.container {
	}

	h3 {
        &.ui.header {
			color: #8c8c8c;
			margin-bottom: 3rem;
		}
	}
	.ui.items {
		> .item {
			> .content {
				> .header {
					margin-top: 1rem;
					font-size: @fontsize-xl;
				}
				.meta {
					font-size: @fontsize-s;
				    display: inline-block;
				    margin: 0 0 0 .8rem;
				}
				.ui.divider {
				    border-top-color: @color-brand;
			        margin: .4rem 0 .6rem;
				}
				.description {
					> p {
						line-height: 1.6em;
						font-size: @fontsize-s;
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .b-feedback {
        .owl-theme {
            .owl-controls {
                .owl-buttons {
                    .owl-prev {
                        left: 0;
                    }
                    .owl-next {
                        right: 0;
                    }
                }
            }
        }
    }
}