/*
* - @Bridge+
*/

.b-masthead {

    .owl-theme {
        .owl-controls {
            margin-top: -22px;

            .owl-page {
            	position: relative;
            	top: -1rem;
            	&.active {
            		span {
            			background-color: @color-white;
            		}
            	}
            	span {
					width: 8px;
					height: 8px;
					margin: 5px 3px;
            		background-color: #7d7d7d;
            	}
            }

            .owl-buttons {
            	.owl-prev {
		            position: absolute;
		            top: 24rem;
		            left: 5rem;
            	}
            	.owl-next {
		            position: absolute;
		            top: 24rem;
		            right: 5rem;
            	}
            }
        }
    }

    .b-slider {
        overflow: hidden;

        .b-slider-item {
            width: 100%;
            min-height: 50rem;
            overflow: hidden;
        }

        h1.ui.header {
            color: @color-white;
            font-size: @fontsize-14xl;
            margin-top: 8em;
        }
        h2 {
            color: @color-white;
            font-size: @fontsize-3xl;
            font-weight: normal;
            line-height: 1.6em;
        }
    }
}
