/*
* - @Bridge+
*/
.b-theory {
	background-color: #2e363d;
	background-image: url("/img/salespage/thearys_bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto auto;
	height: 700px;

	> .ui.container {
		height: 700px;
		padding-top: 5rem;
	}
	h3 {
		&.ui.header {
			color: @color-white;
		}
	}
	.row {
		margin-top: -5em;
	}
	.b-theory-header {
		position: relative;

		> div {
			position: absolute;
			bottom: 1.5rem;
			left: 0;
			color: @color-white;
			text-align: right;
			line-height: 1.6em;
			font-size: @fontsize-o;
		}
	}
	.b-theory-content {
		> h3 {
			color: @color-white;
			font-size: @fontsize-12xl;
			font-weight: normal;
			margin-top: 0;
			margin-bottom: 1.6rem;
		}
		> p {
			color: @color-white;
			font-size: @fontsize-o;
			line-height: 2.4em;
		}
	}
}