<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __("SEOTitle_Mobile_Index") %></title>
    <meta name="description" content="<%= __('SEODesc_Mobile_Index') %>">
    <%- include('header.html') -%>
</head>
<body class="b-background" ng-app="mobile" ng-controller="AppCtrl">
<%- include('head.html') -%>

<div class="ui container has-header">
    <%= __('找不到页面...') %>
</div>
<%- include('footer.html') -%>
</body>

</html>
