<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_MobileBinding') %></title>
    <meta name="description" content="<%= __('SEODesc_MobileBinding') %>">
    <%- include('head.html') -%>
</head>

<body ng-app="bindMobileByPassword" ng-controller="AppCtrl" class="b-background">
<%- include('header.html') -%>
<div class="ui b-signin-wrapper padded container subcontainer full-height">
    <div class="ui column b-bind-mobile-container padded container subcontainer full-height">
        <div class="b-signin-wide padded full-height">
            <div class="ui bottom attached full-height" ng-controller="BindMobileByPasswordCtrl">
                <form class="ui large fluid form login full-height" ng-submit="bindMobile($event)" name="loginForm">
                    <div class="ui error message brand"></div>
                    <div class="ui">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="phone icon"></i>
                                <input type="text" name="mobile" placeholder="<%= __('Mobile') %>"
                                       ng-model="bindData.mobile">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="<%= __('PleaseInputPassword') %>"
                                       ng-model="bindData.password">
                            </div>
                        </div>
                        <div class="fields">
                            <div class="eight wide field">
                            </div>
                            <div class="eight wide field ui right aligned container subcontainer">
                                <a href="reset-password"><%= __('ForgotPassword') %> <i
                                        class="hidden help circle icon"></i> </a>
                            </div>
                        </div>
                        <div class="ui divider horizontal"></div>
                        <div class="ui mobile bottom attached full-wide">
                            <button type="submit" class="ui fluid large red submit button hidden mobile-button"
                                    ng-disabled="!isLoginFormValid()">
                                <%= __('绑定') %>
                            </button>
                            <br/>
                            <a class="ui fluid large red basic button" href="sign-in#register">
                                <%= __('NoAccount') %> <%= __('SignUpNow') %>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html') -%>

<!-- build:js js/cdn/m/bind-mobile-by-password.<%= grunt.file.readJSON('package.json').version %>.js -->
<script src="../js/page/bind-mobile-by-password/main.js"></script>
<!-- endbuild -->
</body>

</html>
