<div class="ui fixed inverted three item menu b-mobile">
    <div class="header item left aligned">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a ng-href="{{menuHref || '/#/menu'}}" class="icon">
            <i class="icon"
               ng-class="{'sidebar': !menuHref || menuHref === '#/menu', 'remove': menuHref === '#/home'}"></i>
        </a>
    </div>

    <a href="/" class="header item">
        <img src="<%= cdn.normal %>img/icon/bridge+Icon.png?<%= cdn.version %>" style="width: 30px;">
        &nbsp;&nbsp;
        <img src="<%= cdn.normal %>img/icon/bridge+.png?<%= cdn.version %>" style="width: 60px;">
    </a>

    <div class="header item">&nbsp;</div>
</div>