<!DOCTYPE html>
<html ng-app="mobile" ng-controller="AppCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{pageTitle || '<%= __("SEOTitle_Mobile_Index") %>'}}</title>
    <meta name="description" content="<%= __('SEODesc_Mobile_Index') %>">
    <%- include('header.html') -%>
</head>
<body class="b-background">
<%- include('head.html') -%>

<div ui-view class="main body b-mobile back-color white color shadowed has-header">
</div>

<!--<a ui-sref="menu">Menu</a>-->
<script type="text/ng-template" id="home.html">
    <div class="full-height"
         style="background: url('<%= cdn.normal %>img/salespage/game_banner.png?<%= cdn.version %>') 50% 50% no-repeat; background-size: cover;">
        <div class="ui bottom stuck extra vertical padded container">
            <div class="ui vertical padded segment" style="border-bottom: none;">
                <h2 class="ui white header"><%= __('MobileIndexHeader') %></h2>

                <p><%= __('MobileIndexSubHeader') %></p>

                <% if (!signedIn) { %>
                <div class="ui horizontal segments" style="background: transparent; border:none; box-shadow: none;">
                    <div class="ui segment" style="padding-left: 0;">
                        <a href="<%= localeLink('/m/sign-in') %>" class="ui fluid large red button" onclick="javascript:sendTrack('m.index.login.click');"><%= __('SignIn')
                            %></a>
                    </div>
                    <div class="ui segment" style="padding-right: 0; border:none;">
                        <a href="<%= localeLink('/m/sign-in') %>#register" class="ui fluid large red button" onclick="javascript:sendTrack('m.index.register.click');"><%=
                            __('SignUp')
                            %></a>
                    </div>
                </div>
                <% } %>

                <% if (signedIn) { %>
                <div class="ui six doubling centered cards">
                    <div class="ui transparent card">
                        <div class="ui image">
                            <img class="ui small image" src="<%= cdn.normal %>img/b-wechat.jpg?<%= cdn.version %>"
                                 style="max-width: 111px; margin: 0 auto;">
                        </div>
                        <div class="center aligned content">
                            <p><%= __('Bridge+服务号') %></p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="select-payment-method.html">
    <div class="white background b-mobile stretch has-header">
        <div class="ui container">
            <div class="ui horizontal divider"></div>
            <h3 class="ui header">
                <div class="sub header">
                    <%= __('报名{{competition}}, 报名费{{fee}}', {competition: __('全国大赛'), fee: __('{{how_much}}元',
                    {how_much: '300'})}) %>
                </div>
                <%= __('选择支付方式:') %>
                <div class="ui horizontal divider"></div>
            </h3>

            <% if (device.isFromWechatBrowser) { %>
            <form name="wechatPayForm" novalidate class="ui form wechat-pay-form" ng-submit="wechatPay($event)">
                <div class="ui error message brand"></div>

                <button loading type="submit" class="ui fluid basic button">
                    <i class="wechat icon"></i>
                    <%= __('微信支付') %>
                </button>
            </form>
            <% } %>

            <% if (!device.isFromWechatBrowser) { %>
            <form name="alipayForm" novalidate class="ui form alipay-form" ng-submit="alipay($event)">
                <div class="ui error message brand"></div>

                <button loading type="submit" class="ui fluid basic button">
                    <img class="ui middle aligned" style="height: 25px;"
                         src="<%= cdn.normal %>img/icon/alipay.png?<%= cdn.version %>">
                    <%= __('支付宝支付') %>
                </button>
            </form>
            <% } %>

            <div class="ui horizontal divider"></div>
            <div class="ui horizontal divider"></div>
            <form name="redemptionForm" novalidate class="ui form redemption-form"
                  ng-submit="buyWithRedemptionCode($event)">
                <div class="ui divider"></div>
                <div class="ui error message brand"></div>
                <div class="field">
                    <label><%= __('兑换码') %></label>
                    <input type="text" placeholder="" ng-required="true" ng-model="payData.redemptionCode">
                </div>
                <button class="ui red right floated button" ng-disabled="!redemptionForm.$valid" type="submit">
                    <%=
                    __('确定') %>
                </button>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="paid.html">
    <div class="white background b-mobile stretch" ng-show="!showPaid">
        <div class="ui horizontal divider"></div>
        <div class="ui very padded vertical loading segment"></div>
    </div>
    <div class="white background b-mobile stretch" ng-show="showPaid" ng-cloak>
        <div class="ui center aligned container">

            <i class="ui green massive checkmark icon"></i>

            <h3 class="ui header" ng-show="currentUserIsMe">

                <%= __('您已经付费报名成功！') %>
                <div class="ui horizontal divider"></div>
                <div class="sub header"><%= __('请在比赛开始前用电脑登录完成组队。') %></div>
                <div class="sub header"><%= __('邀请朋友一起参赛: ') %> {{gameLink}}</div>
            </h3>
            <h3 class="ui header" ng-show="!currentUserIsMe">
                {{paidUser.displayName}} <%= __('已经成功购买了{{competition}}', {competition: '全国大赛'}) %>
            </h3>

            <p ng-show="generatedCode && currentUserIsMe"><%= __('分享此页面邀请小伙伴，使用兑换码{{code}}, 即可免费参赛!', {code:
                '{{generatedCode}}'}) %></p>

            <p ng-show="generatedCode && !currentUserIsMe"><%= __('使用此兑换码{{code}}即可免费参赛!', {code: '{{generatedCode}}'})
                %></p>

            <div ng-show="generatedCode">
                <input type="text" ng-model="generatedCode" readonly style="border: none;">
            </div>
        </div>
        <div class="ui centered container">
            <div class="ui six doubling centered cards">
                <div class="ui transparent card">
                    <div class="ui image">
                        <img class="ui small image"
                             src="<%= cdn.normal %>img/b-wechat.jpg?<%= cdn.version %>">
                    </div>
                    <div class="center aligned content">
                        <p><%= __('Bridge+服务号') %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<%- include('footer.html') -%>

<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!-- build:js js/cdn/m/index.js -->
<script src="js/factories/queryParser.js"></script>
<script src="js/factories/WechatWrapper.js"></script>
<script src="js/page/mobile/MobileMenuCtrl.js"></script>
<script src="js/page/mobile/MobileHeadCtrl.js"></script>
<script src="js/page/mobile/MobileNationalCtrl.js"></script>
<script src="js/page/mobile/MobileAboutusCtrl.js"></script>
<script src="js/page/mobile/MobileIndexCtrl.js"></script>
<script src="js/page/mobile/SelectPaymentMethodCtrl.js"></script>
<script src="js/factories/FormValidation.js"></script>
<script src="js/page/mobile/MobilePaidCtrl.js"></script>
<script src="js/page/mobile/index.js"></script>
<!-- endbuild -->
<% if (config.env != 'dev') { %>
<script src="http://tracking.bridgeplus.cn/trackingLoader.js"></script>
<% }else{ %>
<script src="http://localhost:3000/trackingLoader.js"></script>
<% } %>
</body>

</html>
