<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_Mobile_Index') %></title>
    <meta name="description" content="<%= __('SEODesc_Mobile_Index') %>">
    <%- include('header.html') -%>
</head>
<body ng-app="mobile" ng-controller="AppCtrl" class="b-background">
<%- include('head.html') -%>

<div ui-view class="main body b-mobile back-color white color shadowed has-header">
</div>

<!--<a ui-sref="menu">Menu</a>-->
<script type="text/ng-template" id="home.html">
    <div class="full-height"
         style="background: url('<%= cdn.normal %>img/salespage/game_banner.png?<%= cdn.version %>') 50% 50% no-repeat; background-size: cover;">
        <div class="ui bottom stuck padded container">
            <div class="ui equal width left aligned padded grid">
                <div class="row">
                    <div class="column">
                        <h2 class="ui white header"><%= __('MobileIndexHeader') %></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <p><%= __('MobileIndexSubHeader') %></p>
                    </div>
                </div>
                <% if (!signedIn) { %>
                <div class="row">
                    <div class="column">
                        <a href="<%= localeLink('/m/sign-in') %>" class="ui fluid large red button"><%= __('SignIn')
                            %></a>
                    </div>
                    <div class="column">
                        <a href="<%= localeLink('/m/sign-in') %>#register" class="ui fluid large red button"><%=
                            __('SignUp')
                            %></a>
                    </div>
                </div>
                <% } %>
            </div>
            <% if (signedIn) { %>
            <div class="ui six doubling centered cards">
                <div class="ui transparent card">
                    <div class="ui image">
                        <img class="ui small image" src="<%= cdn.normal %>img/b-wechat.jpg?<%= cdn.version %>">
                    </div>
                    <div class="center aligned content">
                        <p><%= __('Bridge+服务号') %></p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</script>

<%- include('footer.html') -%>

<!-- build:js js/cdn/m/index.js -->
<script src="../js/page/mobile/MobileMenuCtrl.js"></script>
<script src="../js/page/mobile/MobileHeadCtrl.js"></script>
<script src="../js/page/mobile/MobileIndexCtrl.js"></script>
<script src="../js/page/mobile/index.js"></script>
<!-- endbuild -->
</body>

</html>
