<div class="ui large fluid inverted center aligned vertical b-profile one item menu">
    <a></a>
    <a class="item" href="<%= localeLink('/m/national') %>"><%= __('MapNational') %></a>
    <a class="item" href="<%= localeLink('/m/profile') %>"><%= __('Profile') %></a>
    <a class="item" href="<%= localeLink('/m/aboutus') %>"><%= __('FooterAboutUs') %></a>

    <% if (signedIn && featureSwitcher.enableLogoutOnMobile) { %>
    <a class="item" ng-click="signOut()"><%= __('退出登录') %></a>
    <% } %>

    <div class="ui fitted divider"></div>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui container">
    <div class="ui centered grid">
        <div class="row">
            <div class="ui six doubling centered cards">
                <div class="ui transparent card">
                    <div class="ui image">
                        <img class="ui small image" src="<%= cdn.normal %>img/b-wechat.jpg?<%= cdn.version %>">
                    </div>
                    <div class="center aligned content">
                        <p><%= __('Bridge+服务号') %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>