<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('MobileNationalTitle') %></title>
    <meta name="description" content="<%= __('SEODesc_SignIn') %>">
    <%- include('header.html') -%>
</head>
<body ng-app="mobile" ng-controller="AppCtrl" class="b-mobile back-color white color shadowed">
<%- include('head.html') -%>

<div class="full-height national"
     style="background: url('<%= cdn.normal %>img/mobile/e_bg.png?<%= cdn.version %>') 50% 50% no-repeat; background-size: cover;">
    <div class="ui container">
        <div class="center stuck padded">
            <div class="content center">
                <img src="<%= cdn.normal %>img/mobile/e.png?<%= cdn.version %>" class="e">

                <h3 class="national-header"><%= __('MobileNationalInfo') %></h3>

                <div class="national-content">
                    <h5 class="national-info"><%= __('MobileNationalData') %></h5>
                    <h5 class="national-info"><%= __('MobileNationalOrganizer') %></h5>
                </div>

                <div class="ui horizontal divider"></div>
                <a href="<%= linkSwitch('index#/select-payment-method', 'sign-in?return_url=/m/national') %>"
                   class="ui large button e-button fluid"><%=
                    __('等你来战') %></a>
            </div>
        </div>
    </div>
</div>

<%- include('footer.html') -%>

<!-- build:js js/cdn/m/national.js -->
<script src="js/page/mobile/MobileMenuCtrl.js"></script>
<script src="js/page/mobile/MobileHeadCtrl.js"></script>
<script src="js/page/mobile/MobileNationalCtrl.js"></script>
<script src="js/page/mobile/MobileAboutusCtrl.js"></script>
<script src="js/page/mobile/MobileIndexCtrl.js"></script>
<script src="js/page/mobile/index.js"></script>
<!-- endbuild -->
</body>

</html>
