<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('MobileNationalTitle') %></title>
    <meta name="description" content="<%= __('SEODesc_SignIn') %>">
    <%- include('header.html') -%>
</head>
<body ng-app="mobile" ng-controller="AppCtrl" class="b-background">
<%- include('head.html') -%>

<div class="full-height">
    <div class="ui container">
        <div class="center stuck padded">
            <div class="content center">
                <img src="<%= cdn.normal %>img/logo.png?<%= cdn.version %>">

                <h3 class="ui header"><%= __('MobileNationalHeader') %></h3>
                <h5><%= __('MobileNationalInfo') %></h5>
                <h5><%= __('MobileNationalSubInfo') %></h5>

                <div class="ui horizontal divider"></div>
                <a href="index#/select-payment-method" class="ui large red button"><%= __('等你来战') %></a>
            </div>
        </div>
    </div>
</div>

<%- include('footer.html') -%>

<!-- build:js js/cdn/m/index.js -->
<script src="../js/page/mobile/MobileMenuCtrl.js"></script>
<script src="../js/page/mobile/MobileHeadCtrl.js"></script>
<script src="../js/page/mobile/MobileNationalCtrl.js"></script>
<script src="../js/page/mobile/MobileAboutusCtrl.js"></script>
<script src="../js/page/mobile/MobileIndexCtrl.js"></script>
<script src="../js/page/mobile/index.js"></script>
<!-- endbuild -->
</body>

</html>
