<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
    <title><%= __('MobilePreheatingTitle') %></title>
    <meta name="description" content="<%= __('SEODesc_SignIn') %>">
    <%- include('header.html') -%>
    <link rel="stylesheet" type="text/css"
      href="<%= cdn.normal %>bower/preheating-ui/public/dist/main.css?<%= cdn.version %>">

</head>
<body ng-app="mobile" ng-controller="AppCtrl">
    <bplus-preheating></bplus-preheating>
    <%- include('footer.html') -%>
    <script src="<%= cdn.normal %>bower/preheating-ui/public/dist/main.js?<%= cdn.version %>"></script>
    <script src="../js/page/mobile/mobile.js"></script>
</body>

</html>