<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_ResetPassword') %></title>
    <meta name="description" content="<%= __('SEODesc_ResetPassword') %>">
    <%- include('head.html') -%>
    <link rel="stylesheet" type="text/css" href="<%= cdn.normal %>css/pc-mobile.css?<%= cdn.version %>">
</head>

<body ng-app="resetPassword" class="b-background" ng-controller="AppCtrl">
<%- include('header.html') -%>
<div class="ui has-header full-height" ng-controller="ResetPasswordCtrl">
    <div class="ui column b-signin-container padded container">
        <div class="ui padded container">
            <div class="ui horizontal divider"></div>
            <div class="ui center aligned container subcontainer">
                <h2 class="grey color"><%= __('ForgotPassword') %></h2>
            </div>
            <div class="ui horizontal divider"></div>

            <div class="ui text shape reset" style="width: 100%;">
                <div class="sides">
                    <div class="active side reset-password-side">
                        <register-form action="resetPassword" control="formCtrl"></register-form>

                    </div>
                    <div class="side">
                        <%- include('../view-partial/password-reset.html') -%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui horizontal divider"></div>
    <div class="bottom stuck full-wide" ng-hide="passwordReset">
        <div class="ui horizontal transparent segments">
            <div class="ui segment">
                <%= __('ServicePhoneNumber') %> <br/>
                <%= __('ServicePhoneNumberValue') %>
            </div>
            <div class="ui segment">
                <a href="reset-password-by-email" class="ui basic button"><%=
                    __('ResetPasswordViaEmail') %></a>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html') -%>

<script src="<%= cdn.normal %>js/directives/captcha.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/directives/registerForm.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/factories/FormValidation.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/directives/ngEnter.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/page/reset-password/ResetPasswordCtrl.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/page/reset-password/main.js?<%= cdn.version %>"></script>
</body>

</html>
