<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_ResetPasswordByEmail') %></title>
    <meta name="description" content="Bridge+">
    <%- include('head.html') -%>
</head>

<body ng-app="resetPassword" ng-controller="AppCtrl" class="b-background">
<%- include('header.html') -%>
<div class="ui b-signin-wrapper full-height">
    <div class="ui column b-signin-container full-height">
        <div class="b-signin-wide b-signin-wider full-height">
            <div class="ui text shape reset-by-email full-height" ng-controller="ResetPasswordByEmailCtrl">
                <div class="sides full-height">
                    <div class="active side full-height">
                        <form name="resetPasswordForm" class="ui large form b-sign-up reset-by-email full-height"
                              ng-submit="tryResetPassword($event)">
                            <div class="ui full-height">
                                <div class="ui center aligned container subcontainer">
                                    <h2 class="grey color"><%= __('ForgotPassword') %></h2>
                                </div>
                                <div class="horizontal divider"></div>
                                <div class="ui error message brand"></div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="text" name="email"
                                               placeholder="<%= __('PleaseInputTheSignedUpEmail') %>"
                                               ng-model="resetData.email">
                                    </div>
                                </div>
                                <div class="field absolute-prompt">
                                    <div class="ui left icon input">
                                        <i class="write icon"></i>
                                        <input type="text" name="captcha" placeholder="<%= __('PleaseInputCaptcha') %>"
                                               ng-model="resetData.captcha">
                                        &nbsp;
                                        <div captcha ng-model="resetData.captchaId" class="ui fluid b-captcha"></div>
                                    </div>
                                    <div class="ui right aligned container subcontainer">
                                        <a href="javascript: void(0);" ng-click="refreshCaptcha()"><%=
                                            __('RefreshCaptcha') %></a>
                                    </div>
                                </div>
                                <button type="submit" class="ui fluid huge red button bottom attached"
                                        ng-disabled="!isResetPasswordFormValid()"><%= __('FindMyPassword') %>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="side full-height">
                        <div class="ui center aligned container subcontainer">
                            <h2 class="grey color"><%= __('ForgotPassword') %></h2>
                        </div>
                        <div class="ui horizontal divider"></div>
                        <div class="ui grid mobile">
                            <div class="ui center aligned container subcontainer">
                                <div>
                                    <i class="ui huge grey mail icon"></i>
                                </div>
                            </div>
                            <div class="ui center aligned padded relaxed grid">
                                <p class="ui padded large row">
                                    <%= __('ResetPasswordEmailSent') %>
                                </p>
                            </div>
                            <div class="ui center aligned padded relaxed grid">
                                <a href="{{getEmailProviderLink()}}" target="_blank"
                                   class="ui large red basic button"><%=
                                    __('CheckEmail') %></a>
                            </div>
                        </div>

                        <div class="mobile bottom attached full-wide">
                            <a href="sign-in#/login" class="ui fluid huge red button"><%=
                                __('SignInAgain') %></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile bottom attached ui padded container subcontainer">
        <div class="ui padded container subcontainer">
            <div class="ui padded grid">
                <div class="ui padded row">
                    <div class="eight wide column">
                        <%= __('ServicePhoneNumber') %> <br/><%= __('ServicePhoneNumberValue') %>
                    </div>
                    <div class="eight wide column right aligned floated">
                        <a href="reset-password" class="ui large basic red button no-wrap"><%=
                            __('ResetPasswordViaMobile') %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html') -%>
<!--Page JS-->

<!-- build:js js/cdn/reset-password-by-email.js -->
<script src="../js/directives/captcha.js"></script>
<script src="../js/page/reset-password/ResetPasswordByEmailCtrl.js"></script>
<script src="../js/page/reset-password/main.js"></script>
<!-- endbuild -->
</body>

</html>
