<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_ResetPasswordByEmail') %></title>
    <meta name="description" content="Bridge+">
    <%- include('head.html') -%>
    <link rel="stylesheet" type="text/css" href="<%= cdn.normal %>css/pc-mobile.css?<%= cdn.version %>">
</head>

<body ng-app="resetPassword" ng-controller="AppCtrl" class="b-background">
<%- include('header.html') -%>
<div class="ui full-height padded container has-header">
    <div class="ui padded column">
        <div class="b-signin-wide ui padded container">
            <div class="ui text shape reset-by-email full-wide" ng-controller="ResetPasswordByEmailCtrl">
                <div class="sides">
                    <div class="active side">
                        <form name="resetPasswordForm" class="ui large form b-sign-up reset-by-email full-height"
                              ng-submit="tryResetPassword($event)">
                            <div class="ui">
                                <div class="ui horizontal divider"></div>
                                <div class="ui center aligned container subcontainer">
                                    <h2 class="grey color"><%= __('ForgotPassword') %></h2>
                                </div>
                                <div class="ui horizontal divider"></div>
                                <div class="horizontal divider"></div>
                                <div class="ui error message brand"></div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="text" name="email"
                                               placeholder="<%= __('PleaseInputTheSignedUpEmail') %>"
                                               ng-model="resetData.email">
                                    </div>
                                </div>
                                <div class="field absolute-prompt">
                                    <div class="ui left icon input">
                                        <i class="write icon"></i>
                                        <input type="text" name="captcha" placeholder="<%= __('PleaseInputCaptcha') %>"
                                               ng-model="resetData.captcha">
                                        &nbsp;
                                        <div captcha ng-model="resetData.captchaId" class="ui fluid b-captcha"></div>
                                    </div>
                                    <div class="ui right aligned container subcontainer">
                                        <a href="javascript: void(0);" ng-click="refreshCaptcha()"><%=
                                            __('RefreshCaptcha') %></a>
                                    </div>
                                </div>
                                <div class="ui horizontal divider"></div>
                                <div class="ui horizontal divider"></div>
                                <div class="ui horizontal divider"></div>
                                <div class="ui horizontal divider"></div>
                                <div class="field">
                                    <button type="submit" class="ui fluid large red button bottom attached"
                                            ng-disabled="!isResetPasswordFormValid()"><%= __('FindMyPassword') %>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="side">
                        <div class="ui center aligned container subcontainer">
                            <div class="ui horizontal divider"></div>
                            <h2 class="grey color"><%= __('ForgotPassword') %></h2>

                            <div class="ui horizontal divider"></div>
                        </div>
                        <div class="ui horizontal divider"></div>
                        <div class="ui centered grid mobile">
                            <div class="ui center aligned container subcontainer">
                                <div>
                                    <i class="ui huge grey mail icon"></i>
                                </div>
                            </div>
                            <div class="ui center aligned padded relaxed grid">
                                <p class="ui padded large row">
                                    <%= __('ResetPasswordEmailSent') %>
                                </p>
                            </div>
                            <div class="ui center aligned padded relaxed grid">
                                <a href="{{getEmailProviderLink()}}" target="_blank"
                                   class="ui large red basic button"><%=
                                    __('CheckEmail') %></a>
                            </div>
                        </div>

                        <div class="ui horizontal divider"></div>
                        <div class="mobile bottom attached full-wide">
                            <div class="ui horizontal divider"></div>
                            <a href="sign-in#/login" class="ui fluid large red button"><%=
                                __('SignInAgain') %></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom stuck full-wide">
        <div class="ui horizontal transparent segments">
            <div class="ui segment">
                <%= __('ServicePhoneNumber') %> <br/><%= __('ServicePhoneNumberValue') %>
            </div>
            <div class="ui segment">
                <a href="reset-password" class="ui right floated basic red button no-wrap"><%=
                    __('ResetPasswordViaMobile') %></a>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html') -%>
<!--Page JS-->

<script src="js/directives/captcha.js"></script>
<script src="js/factories/FormValidation.js"></script>
<script src="js/page/reset-password/ResetPasswordByEmailCtrl.js"></script>
<script src="js/page/reset-password/main.js"></script>
</body>

</html>
