<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_SetPassword') %></title>
    <meta name="description" content="<%= __('SEODesc_SetPassword') %>">
    <link rel="stylesheet" type="text/css" href="<%= cdn.normal %>css/main.css?<%= cdn.version %>">
    <%- include('head.html') -%>
</head>

<body ng-app="setPassword" ng-controller="AppCtrl" class="b-background">
<%- include('header.html') -%>
<div class="ui b-signin-wrapper subcontainer full-height" ng-controller="SetPasswordCtrl">
    <div class="ui column b-signin-container full-height">
        <div class="b-signin-wide b-signin-wider full-height">
            <div class="ui side reset-by-email full-height">
                <form name="setPasswordForm" class="ui large form b-sign-up set-password full-height"
                      ng-submit="trySetPassword($event)" ng-hide="passwordReset">
                    <div class="ui full-height">
                        <div class="ui center aligned container">
                            <h2 class="grey color"><%= __('FindPassword') %></h2>
                        </div>
                        <div class="ui horizontal divider"></div>
                        <div class="ui error message brand"></div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password"
                                       placeholder="<%= __('PleaseSetSignInPassword') %>"
                                       ng-model="setData.password">
                            </div>
                        </div>
                        <button type="submit" class="ui fluid huge red button bottom attached"
                                ng-disabled="!isSetPasswordFormValid()"><%= __('FindPassword') %>
                        </button>
                    </div>
                </form>
                <div ng-show="passwordReset" ng-cloak class="full-height">
                    <div class="ui center aligned container">
                        <h2 class="grey color"><%= __('FindPassword') %></h2>
                    </div>
                    <div class="ui horizontal divider"></div>
                    <div class="ui one column centered very relaxed grid">
                        <div class="column center aligned container">
                            <i class="ui green massive checkmark icon"></i>
                        </div>
                        <div class="column center aligned container">
                            <p><%= __('ResetPasswordSucceeded') %></p>
                        </div>
                    </div>

                    <a href="m/sign-in#/login" class="ui fluid large red button bottom attached"><%= __('SignInAgain')
                        %></a>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile bottom attached ui padded container subcontainer" ng-hide="passwordReset">
        <div class="ui padded container subcontainer">
            <div class="ui padded grid">
                <div class="ui padded row">
                    <div class="eight wide column">
                        <%= __('ServicePhoneNumber') %> <br/><%= __('ServicePhoneNumberValue') %>
                    </div>
                    <div class="eight wide column right aligned floated">
                        <a href="reset-password" class="ui large basic red button no-wrap"><%=
                            __('ResetPasswordViaMobile') %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html') -%>

<!--Page JS-->
<script src="js/page/set-password/main.js"></script>
</body>

</html>
