<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>赛事详情 Bridge+</title>
    <meta name="description" content="Bridge+">
    <link type="text/css" rel="stylesheet"
          href="<%= cdn.normal %>bower/semantic-ui/dist/semantic.min.css?<%= cdn.version %>" media="all"/>
    <link type="text/css" rel="stylesheet" href="<%= cdn.normal %>css/main.css?<%= cdn.version %>" media="all"/>
    <link type="text/css" rel="stylesheet" href="<%= cdn.normal %>cmpt/dist/competion.css?<%= cdn.version %>"
          media="all"/>
</head>

<body class="bplus" ng-init="page='<%=page%>';lang='<%=lang%>';site='bplus'" ng-app="bplus" ng-controller="AppCtrl">
<%- include('../view-partial/header.html') -%>
<!-- Page Contents -->
<div class="game-ui cloak" ng-controller="epicBaseCtrl">
    <div class="ui container">
        <div class="ui grid">
            <div class="four wide column">
                <game-menu></game-menu>
            </div>
            <div class="twelve wide column">
                <epic></epic>
            </div>
        </div>
    </div>
</div>

<%- include('../view-partial/footer.html') -%>
<script src="/cmpt/config.js"></script>
<script src="<%= cdn.normal %>cmpt/libs/jquery-qrcode/jquery.qrcode.min.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>cmpt/dist/main.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/page/competion/main.js?<%= cdn.version %>"></script>
<script>
    window.t_PageName = "epic";

    $(function () {
        var moduleTrack = new window.ModuleTrack('epic');

        function logAndSendTrack(eventName) {
            console.log(eventName);
            moduleTrack.send(eventName);
        }

        function injectTrack(eventName) {
            return function ($event) {
                $event.preventDefault();

                logAndSendTrack(eventName);

                window.setTimeout(function () {
                    window.location.href = $($event.target).attr('href');
                }, 300);
            }
        }

        $(document)
                .on('click', 'a[ng-href^="/cmpt/marksimos?team_id="]', injectTrack('startGame.click'))
                .on('click', 'button.metting-btn.create-meeting-btn', function () {
                    logAndSendTrack('createClassroom.click');
                })
                .on('click', 'a.metting-btn', injectTrack('enterClassroom.click'))
                .on('click', 'a.b-competion-gametraining-online-classroom', injectTrack('classroom.click'))
                .on('click', 'a.b-competion-gametraining-download', injectTrack('material.click'))
                .on('click', 'a.b-competion-gametraining-watch', injectTrack('video.click'))
        ;
    });
</script>
</body>

</html>
