<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的比赛 Bridge+</title>
    <meta name="description" content="Bridge+">
    <link type="text/css" rel="stylesheet" href="/bower/semantic-ui/dist/semantic.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/cmpt/dist/epic.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/cmpt/dist/gameui.css" media="all" />
</head>

<body class="bplus" ng-init="page='<%=page%>';lang='<%=lang%>'" ng-app="bplus" ng-controller="AppCtrl">
    <%- include('../view-partial/header.html') -%>
    <!-- Page Contents -->
    <div class="game-ui cloak" ng-controller="epicBaseCtrl">
        <div class="ui container">
            <div class="ui grid">
                <div class="four wide column">
                    <game-menu class="cloak"></game-menu>
                </div>
                <div class="twelve wide column">
                    <series-list class="cloak"></series-list>
                </div>
            </div>
        </div>
    </div>

    <%- include('../view-partial/footer.html') -%>
    <script src="/cmpt/config.js"></script>
    <script src="/cmpt/dist/main.js"></script>
    <script src="/js/page/competion/main.js"></script>
</body>

</html>
