<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=320, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>全国大赛队伍分享 Bridge+</title>
    <meta name="description" content="Bridge+">
    <link type="text/css" rel="stylesheet" href="<%= cdn.normal %>bower/semantic-ui/dist/semantic.min.css?<%= cdn.version %>" media="all" />
    <link type="text/css" rel="stylesheet" href="<%= cdn.normal %>cmpt/dist/competion.css?<%= cdn.version %>" media="all" />
</head>

<body ng-app="cmpt" ng-init="page='epic';lang='<%=lang%>';site='bplus'" class="cloak bplus mobile-game">
    <div class="game-ui cloak" ng-controller="epicBaseCtrl">
        <epic-mobile></epic-mobile>
    </div>
    <script src="<%= cdn.normal %>bower/jquery/dist/jquery.min.js?<%= cdn.version %>"></script>
    <script src="<%= cdn.normal %>bower/semantic-ui/dist/semantic.min.js?<%= cdn.version %>"></script>
    <script src="<%= cdn.normal %>bower/angular/angular.min.js?<%= cdn.version %>"></script>
    <script src="<%= cdn.normal %>bower/angular-translate/angular-translate.min.js?<%= cdn.version %>"></script>
    <script src="/cmpt/config.js"></script>
    <script src="<%= cdn.normal %>cmpt/dist/main.js?<%= cdn.version %>"></script>
</body>

</html>