<div>
    <!--EDIT MODE-->
    <div ng-show="property.status===ENUM_STATUS.STATUS_EDIT" class="b-profile-right-section-form">
        <form name="personalinfo" novalidate class="ui form">
            <div>
                <div class="invalidtext" ng-show="clicked && (!dateSelect.fulfilled || personalinfo.$error.required)">红框处必填字段未完成，请全部填写完成后按下保存</div>
                <div class="field">
                    <label>真实姓名</label>
                    <input type="text" name="personalname" ng-model="data.name" required placeholder="陈大华" />
                </div>
                <div class="field">
                    <label>性别</label>
                    <select name="gender" ng-model="data.gender" required class="ui fluid dropdown">
                        <option value="">请选择。。</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
                <div class="field">
                    <label>生日</label>
                    <div class="inline fields">
                        <div class="twelve wide field">
                            <bplusdate value="dateSelect.value" config="dateSelect.config" fulfilled="dateSelect.fulfilled" class="inline fields" />
                        </div>
                        <div class="four wide field">
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" ng-model="data.dateOfBirth.isPrivate" />
                                    <label>设置为隐私</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>目前所在地</label>
                    <input type="text" name="personallocation" ng-model="data.location" required placeholder="上海" />
                </div>
                <div class="field">
                    <label>联系地址</label>
                    <div class="inline fields">
                        <div class="twelve wide field">
                            <input type="text" name="personalcontractInfo" ng-model="data.contractInfo.value" placeholder="上海市人民路885号" />
                        </div>
                        <div class="four wide field">
                            <div class="ui checkbox">
                                <input type="checkbox" ng-model="data.contractdata.isPrivate">
                                <label>设置为隐私</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui three column grid">
                    <div class="column">
                        <button type="button" ng-click="submit()" ng-init="clicked=false" class="fluid ui red large button">保存</button>
                    </div>
                    <div class="column">
                        <button typeu="button" ng-click="cancel()" class="fluid ui basic large button b-profile-btn-cancle">取消</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--DISPLAY MODE-->
    <div ng-show="property.status===ENUM_STATUS.STATUS_READONLY" class="b-profile-right-section-displaymode">
        <h2 ng-bind="data.name" ng-click="edit()"></h2>
        <div ng-bind="data.gender" class="b-profile-right-section-txt"></div>
        <div ng-bind-template="{{data.dateOfBirth.value.year}}年{{data.dateOfBirth.value.month}}月{{data.dateOfBirth.value.day}}日出生" class="b-profile-right-section-txt"></div>
        <div ng-bind-template="目前人在{{data.location}}" class="b-profile-right-section-txt"></div>
    </div>
</div>