<div>
    <!--EDIT MODE-->
    <div ng-show="property.status===ENUM_STATUS.STATUS_EDIT">
        <form name="clubbackground" novalidate>
            <div>
                <div class="invalidtext" ng-show="clicked && (!dateTo.fulfilled || !dateFrom.fulfilled || clubbackground.$error.required)">红框处必填字段未完成，请全部填写完成后按下保存</div>
                <div>社团名称</div>
                <input type="text" name="clubname" ng-model="data.name" required/>
                <div>职位</div>
                <select name="background" ng-model="data.position" required>
                    <option value="">请选择。。</option>
                    <option value="会长">会长</option>
                    <option value="小巴辣子">小巴辣子</option>
                </select>
                <div>参与时间</div>
                <div>
                    <span>
                        <bplusdate value="dateFrom.value" config="dateFrom.config" fulfilled="dateFrom.fulfilled"/>
                    </span>
                    <span>----</span>
                    <span>
                        <bplusdate value="dateTo.value" config="dateTo.config" fulfilled="dateTo.fulfilled"/>
                    </span>
                </div>
                <div>
                      <input type="checkbox" ng-model="data.dateTo.tillNow">目前参与中
                </div>
                <div>经历描述</div>
                <bplustag value="data.tags" description="data.description"/>
                <div>
                    <button type="button" ng-click="submit()" ng-init="clicked=false">保存</button>
                    <button type="button" ng-click="cancel()">取消</button>
                </div>
            </div>
        </form>
    </div>
    <!--DISPLAY MODE-->
    <div ng-show="property.status===ENUM_STATUS.STATUS_READONLY" class="b-profile-right-section-displaymode">
        <h2 ng-bind="data.name" ng-click="edit()"></h2>
        <div ng-bind="data.major" class="b-profile-right-section-txt"></div>
        <div ng-bind="data.position" class="b-profile-right-section-txt"></div>
        <div class="b-profile-right-section-txt">
            <span ng-bind-template="{{data.dateFrom.value.year}}年{{data.dateFrom.value.month}}月"></span>
            <span>----</span>
            <span ng-bind-template="{{data.dateTo.value.year}}年{{data.dateTo.value.month}}月"></span>
            <!--<div>
              TODO, till now
            </div>-->
        </div>
        <div ng-bind="data.description" class="b-profile-right-section-txt"></div>
        <div ng-bind="data.tags" class="b-profile-right-section-txt"></div>
    </div>
</div>
<!--<div>
  TODO
  ng-show
</div>-->