<div class="b-profile-right-section-skills">
    <div class="b-profile-right-section-header">
        <div class="ui medium header"><i class="icon"></i><div class="content">技能</div></div>
        <span ng-hide="hasData">你还没填写</span>
    </div>
    <div ng-repeat="data in dataCollection">
        <bplusskills data="data"/>
    </div>
    <div ng-show="showAddButton" class="b-profile-right-section-btn-append">
        <button class="fluid ui button" type="button" ng-click="add()">添加技能</button>
    </div>
</div>