<div>
    <!--EDIT MODE-->
    <div ng-show="property.status===ENUM_STATUS.STATUS_EDIT" class="b-profile-right-section-form">
        <form name="skills" novalidate>
            <div>
                <div class="invalidtext" ng-show="clicked && skills.$error.required">红框处必填字段未完成，请全部填写完成后按下保存</div>
                <div>技能名称</div>
                <input type="text" name="skillname" ng-model="data.name" required placeholder="javascript编程"/>
                <div>技能描述</div>
                <div>
                    <bplustag value="data.tags" description="data.description"/>
                </div>
                <div>
                    <button type="button" ng-click="submit()" ng-init="clicked=false">保存</button>
                    <button type="button" ng-click="cancel()">取消</button>
                </div>
            </div>
        </form>
    </div>
    <!--DISPLAY MODE-->
    <div ng-show="property.status===ENUM_STATUS.STATUS_READONLY" class="b-profile-right-section-displaymode">
        <h2 ng-bind="data.name" ng-click="edit()"></h2>
        <div ng-bind="data.description" class="b-profile-right-section-txt"></div>
        <div>
            <i class="tags icon"></i>
            <span>标签:</span>
            <span ng-bind="data.tags"></span>
        </div>
    </div>
</div>