<div>
    <!--EDIT MODE-->
    <div ng-show="property.status===ENUM_STATUS.STATUS_EDIT" class="b-profile-right-section-form">
        <form name="clubbackground" novalidate class="ui {{isSubmitting ? 'loading' : ''}} form {{(clicked && (!(dateTo.fulfilled || data.dateTo.value.tillNow) || !dateFrom.fulfilled || clubbackground.$error.required)) ? 'error' : ''}}">
            <div>
                <div class="ui error message">红框处必填字段未完成，请全部填写完成后按下保存</div>
                <div class="required field {{data.name ? '' : 'error'}}">
                    <label>社团名称</label>
                    <input type="text" name="clubname" ng-model="data.name" required />
                </div>
                <div class="required field {{data.position.id ? '' : 'error'}}">
                    <label>职位</label>
                    <select name="background" ng-model="data.position.id" ng-options="value.id as value.text for value in positions" required class="ui fluid dropdown">
                        <option value="">请选择。。</option>
                    </select>
                </div>
                <div class="ui grid p-profile-right-section-form-bplusdate">
                    <div class="eight wide column">
                        <div class="required field">
                            <label>参与时间</label>
                            <bplusdate value="dateFrom.value" config="dateFrom.config" fulfilled="dateFrom.fulfilled" class="inline fields" />
                        </div>
                    </div>
                    <div class="p-profile-right-section-form-bplusdate-shortline"></div>
                    <div class="eight wide column">
                        <div class="field">
                            <label>&nbsp;</label>
                            <bplusdate value="dateTo.value" config="dateTo.config" fulfilled="dateTo.fulfilled" class="inline fields" />
                        </div>
                    </div>
                    <div class="eight wide column p-profile-right-section-form-bplusdate-row-bottom"></div>
                    <div class="eight wide column p-profile-right-section-form-bplusdate-row-bottom">
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" ng-model="data.dateTo.value.tillNow" />
                                <label>目前参与中</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>经历描述</label>
                    <bplustag value="data.tags" description="data.description" />
                </div>
                <div class="ui three column grid">
                    <div class="column">
                        <button type="button" ng-click="submit()" ng-init="clicked=false" class="fluid ui red large button">保存</button>
                    </div>
                    <div class="column">
                        <button type="button" ng-click="cancel()" class="fluid ui basic large button b-profile-btn-cancle">取消</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--DISPLAY MODE-->
    <div ng-show="property.status===ENUM_STATUS.STATUS_READONLY" class="b-profile-right-section-displaymode">
        <h2 ng-bind="data.name" ng-click="edit()"></h2>
        <div ng-bind="data.major" class="b-profile-right-section-txt" ng-click="edit()"></div>
        <div ng-bind="data.position.value" class="b-profile-right-section-txt" ng-click="edit()"></div>
        <div class="b-profile-right-section-txt" ng-click="edit()">
            <span ng-bind-template="{{data.dateFrom.value.year}}年{{data.dateFrom.value.month}}月"></span>
            <span>----</span>
            <span ng-bind-template="{{data.dateTo.value.tillNow ? '至今' : data.dateTo.value.year + '年' + data.dateTo.value.month + '月'}}"></span>
        </div>
        <div ng-bind="data.description" class="b-profile-right-section-txt" ng-click="edit()"></div>
        <div ng-bind="data.tags" class="b-profile-right-section-txt" ng-click="edit()"></div>
    </div>
</div>
<!--<div>
  TODO
  ng-show
</div>-->