<div class="b-profile-right-section-educationbackground">
    <div class="b-profile-right-section-header">
        <div class="ui medium header"><i class="icon"></i><div class="content">教育背景</div></div>
        <span ng-hide="hasData">完成才可以参加团战</span>
    </div>
    <div ng-repeat="data in dataCollection">
       <bpluseducationalbackground data="data"/>
    </div>
    <div ng-show="showAddButton" class="b-profile-right-section-btn-append">
        <button class="fluid ui button" type="button" ng-click="add()">添加教育背景</button>
    </div>
</div>