<div>
  <!--EDIT MODE-->
  <div ng-show="property.status===ENUM_STATUS.STATUS_EDIT">
    <form name="educationbackgroundinfo" novalidate>
      <div>
        <div class="invalidtext" ng-show="clicked && (!dateSelect.required || info.gender ==='' || educationbackgroundinfo.$error.required)">红框处必填字段未完成，请全部填写完成后按下保存</div>
        <div>学校名称</div>
        <input type="text" name="schoolname" ng-model="data.name" required placeholder="上海交通大学"/>
        <div>所学专业</div>
        <input type="text" name="major" ng-model="data.major" required placeholder="计算机工程"/>
        <div>学历</div>
        <select name="background" ng-model="data.background" required>
          <option value="">请选择。。</option>
          <option value="小学">小学</option>
          <option value="中学">中学</option>
          <option value="大学">大学</option>
          <option value="学士">学士</option>
        </select>
        <div>
          <span>
            <div>求学时间</div>
            <div>
              <bplusdate value="dateFrom.value" config="dateFrom.config" fullfilled="dateFrom.fullfilled"/>
            </div>
          </span>
          <span>----</span>
          <span>
            <div>毕业时间</div>
            <div>
              <bplusdate value="dateTo.value" config="dateTo.config" fullfilled="dateTo.fullfilled"/>
            </div>
          </span>
        </div>
        <div>特殊经历</div>
          <bplustag value="data.tags" description="data.description"/>
        <div>
         <button type="button" ng-click="submit()" ng-init="clicked=false">保存</button>
         <button type="button" ng-click="cancel()">取消</button>
        </div>
      </div>
    </form>
  </div>
  <!--DISPLAY MODE-->
  <div ng-show="property.status===ENUM_STATUS.STATUS_READONLY">
    <h2 ng-bind="data.name" ng-click="edit()"></h2>
    <div ng-bind="data.major"></div>
    <div ng-bind="data.background"></div>
    <div>
      <span ng-bind-template="{{data.dateFrom.value.year}}年{{data.dateFrom.value.month}}月"></span>
      <span>----</span>
      <span ng-bind-template="{{data.dateTo.value.year}}年{{data.dateTo.value.month}}月"></span>
    </div>
    <div ng-bind="data.specialDescription"></div>
    <div ng-bind="data.specialTags"></div>
  </div>
</div>
<!--<div>
  TODO
  ng-show
</div>-->