<div class="corp-cv-detail">
    <div class="ui corp-cv-detail-segment">
        <div class="corp-cv-detail-segment-header segment-bottom-shadow"> 
            <img ng-src="img/corp/profile_personal.png?<%= cdn.version %>" class="ui mini spaced image"/>
            <span>个人信息</span>
        </div>
        <div class="corp-cv-detail-segment-body"> 
            hello world
        </div>
    </div>
    <div class="ui corp-cv-detail-segment">
        <div class="corp-cv-detail-segment-header segment-bottom-shadow"> 
            <img ng-src="img/corp/profile_education.png?<%= cdn.version %>" class="ui mini spaced image"/>
            <span>教育背景</span>
        </div>
        <div class="corp-cv-detail-segment-body"> 
            hello world
        </div>
    </div>
    <div class="ui corp-cv-detail-segment">
        <div class="corp-cv-detail-segment-header segment-bottom-shadow"> 
            <img ng-src="img/corp/profile_experience.png?<%= cdn.version %>" class="ui image mini spaced"/>
            <span>工作经历</span>
        </div>
        <div class="corp-cv-detail-segment-body"> 
            hello world
        </div>
    </div>
    <div class="ui corp-cv-detail-segment">
        <div class="corp-cv-detail-segment-header segment-bottom-shadow"> 
            <img ng-src="img/corp/profile_personal.png?<%= cdn.version %>" class="ui image mini spaced"/>
            <span>社团经历</span>
        </div>
        <div class="corp-cv-detail-segment-body"> 
            hello world
        </div>
    </div>
    <div class="ui corp-cv-detail-segment">
        <div class="corp-cv-detail-segment-header segment-bottom-shadow"> 
            <img ng-src="img/corp/profile_language.png?<%= cdn.version %>" class="ui image mini spaced"/>
            <span>语言能力</span>
        </div>
    </div>
    <div class="ui corp-cv-detail-segment">
        <div class="corp-cv-detail-segment-header segment-bottom-shadow"> 
            <img ng-src="img/corp/profile_award.png?<%= cdn.version %>" class="ui image mini spaced"/>
            <span>获得奖项</span>
        </div>
        <div class="corp-cv-detail-segment-body"> 
            hello world
        </div>
    </div>
    <div class="ui corp-cv-detail-segment">
        <div class="corp-cv-detail-segment-header segment-bottom-shadow"> 
            <img ng-src="img/corp/profile_skill.png?<%= cdn.version %>" class="ui image mini spaced"/>
            <span>技能描述</span>
        </div>
        <div class="corp-cv-detail-segment-body"> 
            hello world
        </div>
    </div>
</div>