<div ng-if="!isLoading" class="corp-table">
    <div class="ui attached segment segment-normal segment-bottom-shadow list-container" ng-if="displayData.list.length>0">
        <div>
            <div class="ui grid dark-title-background white-color">
                <div class="four wide column">职位名称</div>
                <div class="four wide column">截止日期</div>
                <div class="four wide column">职位状态</div>
                <div class="four wide column">
                </div>
            </div>
            <div class="ui grid shadow text-color-grey" ng-repeat="data in displayData.list">
                <div class="four wide column center aligned white-column-background" ng-class="{'checked': data.hasChecked}">
                    <img ng-src="img/opd/match_{{data.matchLevel}}.png?<%= cdn.version %>" class="b-opd-position-matchlevel inline-block"/>
                </div>
                <div class="four wide column light-column-background clickable-column" ng-class="{'checked': data.hasChecked}" ng-click="displayData.detailClick(data)">
                    <div class="ui grid">
                        <div class="four wide column center aligned">
                            <img ng-src="{{data.headshot?data.headshot+'-small':''}}" class="ui circular image headshot inline-block" ng-class="{'F': 'female', 'M': 'male'}[data.gender]">
                        </div>
                        <div class="twelve wide column">
                            <div class="personal-name-container">
                                <span class="personal-name">{{data.name}}</span>
                            </div>
                            <div>
                                <span>{{data.eduData}}</span>
                                <span>{{data.school}}</span>
                                <span> | </span>
                                <span>{{data.major}}</span>
                                <span> | </span>
                                <span>{{data.qulification}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four wide column center aligned white-column-background" ng-class="{'checked': data.hasChecked}">
                    <div class="middle-single-text">{{data.position+'/'+data.function}}</div>
                </div>
                <div class="four wide column light-column-background center aligned" ng-class="{'checked': data.hasChecked}">
                    <div class="middle-single-text">
                        <span>{{data.issueDate}}</span>
                        <input type="checkbox" ng-if="displayData.hasCheckbox" class="valign-middle inline-checkbox-position" ng-model="data.hasChecked">
                    </div>
                    <div ng-show="data.flag==='recommendation'" class="ribbon yellow right corner label">推荐
                        <i class="star icon"></i>
                    </div>
                    <div ng-show="data.flag==='win'" class="ribbon red right corner label">优胜
                        <i class="thumbs up icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui right floated pagination-container" ng-if="displayData.rawData.length>0">
        <pagination paginationdata='displayData'></pagination>
    </div>
</div>
<div class="ui segment" ng-if="isLoading">
    搜索中，请稍后。。
</div>
