/*
* - @Bridge+
*/
// Page
@import "../main.less";

.ui.secondary.pointing.menu.brand {
    border-color: @color-brand + 111;

    .active.item {
        border-color: @color-brand;
        border-width: 4px;
        color: @color-brand;
    }
}