<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('AboutusTitle') %></title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="<%= cdn.normal %>bower/owl.carousel/dist/assets/owl.carousel.min.css?<%= cdn.version %>">
    <link rel="stylesheet" type="text/css"
          href="<%= cdn.normal %>bower/owl.carousel/dist/assets/owl.theme.default.min.css?<%= cdn.version %>">
</head>

<body ng-controller="AppCtrl" ng-app="bplus">
<%- include('view-partial/header.html') -%>
<!-- Page Contents -->
<div class="pusher">
    <div class="b-aboutus footer-main"></div>

    <div class="page-content">
        <div class="b-aboutus-content">
            <div class="ui container">
                <div class="ui grid">
                    <div class="eleven wide column content-column">
                        <h2><%= __('AboutusContentTitle') %></h2>
                        <h4><%= __('AboutusSection1') %></h4>
                        <h4><%= __('AboutusSection2') %></h4>
                        <h4><%= __('AboutusSection3') %></h4>
                    </div>
                    <div class="four wide column right floated img-column">
                        <img src="/img/salespage/aboutus-logo.png" width="100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="b-feedback">
            <h3 class="ui header container b-sp" ng-cloak><%= __('AboutusTeam') %></h3>

            <div class="owl-carousel owl-theme b-slider feedback-carousel">
                <div class="b-slider-item">
                    <div class="ui equal width grid ui control-container container">
                        <div class="row">
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/about-team-1.jpg?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('AboutusTeamP1') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('AboutusTeamP1Info') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/about-team-2.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('AboutusTeamP2') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('AboutusTeamP2Info') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-slider-item">
                    <div class="ui equal width grid ui control-container container">
                        <div class="row">
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/about-team-3.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('AboutusTeamP3') %></div>
                                        <div class="meta" ng-cloak><%= __('AboutusTeamP3meta') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('AboutusTeamP3Info') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/about-team-4.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('AboutusTeamP4') %></div>
                                        <div class="meta" ng-cloak><%= __('AboutusTeamP4meta') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('AboutusTeamP4Info') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-slider-item">
                    <div class="ui equal width grid ui control-container container">
                        <div class="row">
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/about-team-5.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('AboutusTeamP5') %></div>
                                        <div class="meta" ng-cloak><%= __('AboutusTeamP5meta') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('AboutusTeamP5Info') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/about-team-6.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('AboutusTeamP6') %></div>
                                        <div class="meta" ng-cloak><%= __('AboutusTeamP6meta') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('AboutusTeamP6Info') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-slider-item">
                    <div class="ui equal width grid ui control-container container">
                        <div class="row">
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/about-team-7.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('AboutusTeamP7') %></div>
                                        <div class="meta" ng-cloak><%= __('AboutusTeamP7meta') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('AboutusTeamP7Info') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/about-team-8.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('AboutusTeamP8') %></div>
                                        <div class="meta" ng-cloak><%= __('AboutusTeamP8meta') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('AboutusTeamP8Info') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('view-partial/footer.html') -%>
<!--JS-->
<script src="<%= cdn.normal %>bower/owl.carousel/dist/owl.carousel.js?<%= cdn.version %>"></script>
<!--Page JS-->
<script src="<%= cdn.normal %>js/factories/WechatLogon.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/controllers/AppCtrl.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/page/footer/main.js?<%= cdn.version %>"></script>
</body>

</html>
