<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('ContractusTitle') %></title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
</head>

<body ng-controller="AppCtrl" ng-app="bplus" ng-class="{'chinese':language==='zh','english':language==='en'}">
<%- include('view-partial/header.html') -%>
<!-- Page Contents -->
<div class="pusher">
    <div class="b-contractus footer-main"></div>

    <div class="page-content">
    	<div class="b-contractus-content">
    		<div class="ui container">
    			<div class="ui grid">
    				<div class="eight wide column right floated content-column">
    					<h2><%= __('ContractusContentTitle') %></h2>
    					<h4><%= __('ContractusContentLine1') %> <a href="mailto:mytalent@bridgeplus.me"> mytalent@bridgeplus.me</a></h4>
			    		<h4><%= __('ContractusContentLine2') %> <a href="mailto:campus@bridgeplus.me"> campus@bridgeplus.me</a></h4>
			    		<h4><%= __('ContractusContentLine3') %> <a href="mailto:support@bridgeplus.me"> support@bridgeplus.me</a> </h4>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

</div>
<%- include('view-partial/footer.html') -%>
<!--JS-->
<script src="<%= cdn.normal %>bower/owl.carousel/dist/owl.carousel.js?<%= cdn.version %>"></script>
<!--Page JS-->
<script src="<%= cdn.normal %>js/factories/WechatLogon.js<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/controllers/AppCtrl.js<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/page/footer/main.js<%= cdn.version %>"></script>
</body>

</html>
