<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('出错啦') %></title>
    <meta name="description" content="<%= __('Bridge+') %>">
    <%- include('view-partial/head.html') -%>
</head>

<body class="b-background" ng-app="bplusModule">
<%- include('view-partial/header.html') -%>
<div class="ui b-signin-wrapper" style="min-height: 500px;">
    <%= __('出错啦! 请稍后重试或者向我们报告问题.') %>
</div>
<%- include('view-partial/footer.html') -%>
</body>

</html>
