<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bridge+</title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
</head>

<body ng-controller="AppCtrl" ng-app="bplus" ng-init="current_page='game'" ng-class="{'chinese':language==='zh','english':language==='en'}">
    <%- include('view-partial/header.html') -%>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="b-game">
            <div class="b-game-stripe animated b-fadeInUp">
                <div class="ui container equal width grid">
                    <div class="row">
                        <div class="column">
                            <h2 class="ui header" ng-cloak>{{'GameMarkSimos' | translate}}</h2>
                            <div ng-cloak>
                                <p>{{'GameMarkSimosInfo'| translate}}</p>
                            </div>
                        </div>
                        <div class="column">
                            <img class="ui circular small left floated image" src="img/salespage/wilfried.png">
                            <h3 class="ui header" ng-cloak>{{'GameDeveloper' | translate}}</h3>
                            <p ng-cloak>{{'GameDeveloperInfo' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="b-process">
                <div class="ui container">
                    <h3 class="ui header b-sp" ng-cloak>{{'GameFeature' | translate}}</h3>
                    <div class="ui three column grid">
                        <div class="column b-process-item" id="team-column">
                            <div class="content" cloak>
                                <h4 class="ui header">
                                    <i class="users icon"></i>
                                    <div class="content">{{'GameTeamWork' | translate}}</div>
                                </h4>
                                <p>{{'GameTeamWorkInfo' | translate}}</p>
                            </div>
                            <div class="image game-gif team-gif">
                                <img src="img/salespage/gif/team.png" width="100%">
                            </div>
                        </div>
                        <div class="column b-process-item" id="game-column">
                            <div class="content" ng-cloak>
                                <h4 class="ui header">
                                    <i class="line chart icon"></i>
                                    <div class="content">{{'GameRunning' | translate}}</div>
                                </h4>
                                <span class="b-process-item-next">
                                    <i class="caret right icon"></i>
                                </span>
                                <p>{{'GameRunningInfo' | translate}}</p>
                            </div>
                            <div class="image gaming-gif">
                                <img src="img/salespage/gif/gaming.png" width="100%">
                            </div>
                        </div>
                        <div class="column b-process-item" id="win-column">
                            <div class="content" ng-cloak>
                                <h4 class="ui header">
                                    <i class="flag icon"></i>
                                    <div class="content">{{'GameTarget' | translate}}</div>
                                </h4>
                                <span class="b-process-item-next">
                                    <i class="caret right icon"></i>
                                </span>
                                <p>{{'GameTargetInfo' | translate}}</p>
                            </div>
                            <div class="image winning-gif">
                                <img src="img/salespage/gif/winning.png" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-skill">
                <div class="ui container">
                    <div class="ui grid">
                        <div class="seventy wide column">
                            <div class="b-skill-topic">
                                <img src="img/salespage/topics.png">
                            </div>
                        </div>
                        <div class="thirty wide column">
                            <div class="b-skill-skill">
                                <div class="ui relaxed huge list b-game-list" ng-class="{'huge':language==='zh','large':language==='en'}">
                                    <div class="item">
                                        <i class="large checkmark box icon"></i>
                                        <div class="content" ng-cloak>
                                            <h3 class="ui header">{{'GameAcquireSkills' | translate}}</h3>
                                            <div class="list">
                                                <div class="item">
                                                    <i class="bar chart icon"></i>
                                                    <div class="content">
                                                        <div class="header">{{'GameSkill1' | translate}}</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="users icon"></i>
                                                    <div class="content">
                                                        <div class="header">{{'GameSkill2' | translate}}</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calculator icon"></i>
                                                    <div class="content">
                                                        <div class="header">{{'GameSkill3' | translate}}</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="bullseye icon"></i>
                                                    <div class="content">
                                                        <div class="header">{{'GameSkill4' | translate}}</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="comments outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">{{'GameSkill5' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="ui center aligned test-button grid">
                        <div class="column">
                            <a class="ui red large button b-sp" ng-cloak>{{'GameTest' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-popularity">
                <div class="ui equal width grid container">
                    <div class="row">
                        <div class="column b-theory-header" ng-cloak>
                            <div class="content">
                                <h3 class="ui header b-sp">{{'GameGetGoodComment' | translate}}</h3>
                                <div>
                                    <p>{{'GameCommentContent' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="column b-theory-content" ng-cloak>
                            <p>{{'GameFeedbackList1' | translate}}<br>{{'GameFeedbackList1SubContent' | translate}}</p>
                            <p class="text-right">{{'GameFeedbackList1Name' | translate}}</p>
                            <p>{{'GameFeedbackList2' | translate}}</p>
                            <p class="text-right">{{'GameFeedbackList2Name' | translate}}</p>
                            <p>{{'GameFeedbackList1' | translate}}<br>{{'GameFeedbackList1SubContent' | translate}}</p>
                            <p class="text-right">{{'GameFeedbackList1Name' | translate}}</p>
                            <p>{{'GameFeedbackList2' | translate}}</p>
                            <p class="text-right">{{'GameFeedbackList2Name' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-events">
                <div class="ui container" ng-cloak>
                    <h3 class="ui header b-sp">{{'GameList' | translate}}</h3>
                    <table class="ui very basic table unstackable events-table">
                        <tbody>
                            <tr>
                                <td style="width:50%">
                                    <i class="big trophy icon"></i>
                                    {{'GameList1' | translate}}
                                </td>
                                <td style="width:15%">{{'GameList1Place' | translate}}</td>
                                <td style="width:15%">{{'GameList1Date' | translate}}</td>
                                <td style="width:20%" class="text-right">
                                    <a class="ui red button b-normal">{{'GameListStart' | translate}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="big trophy icon"></i>{{'GameList2' | translate}}</td>
                                <td>{{'GameList2Place' | translate}}</td>
                                <td>{{'GameList2Date' | translate}}</td>
                                <td class="text-right">
                                    <a class="ui red button b-normal">{{'GameListStart' | translate}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="big trophy icon"></i>{{'GameList3' | translate}}</td>
                                <td>{{'GameList3Place' | translate}}</td>
                                <td>{{'GameList3Date' | translate}}</td>
                                <td class="text-right">
                                    <a class="ui red button b-normal">{{'GameListStart' | translate}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="big trophy icon"></i>{{'GameList4' | translate}}</td>
                                <td>{{'GameList4Place' | translate}}</td>
                                <td>{{'GameList4Date' | translate}}</td>
                                <td class="text-right">
                                    <a class="ui red button b-normal">{{'GameListStart' | translate}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="b-trial">
                <div class="ui center aligned container grid">
                    <div class="column">
                        <a class="ui red large button b-sp" ng-cloak>{{'GameListStart' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <%- include('view-partial/footer.html') -%>

    <!--Page JS-->
    <script src="js/controllers/AppCtrl.js"></script>
    <script src="js/page/game/main.js"></script>
</body>

</html>
