<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bridge+</title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
</head>

<body>
    <%- include('view-partial/header.html') -%>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="b-game">
            <div class="b-game-stripe animated fadeInUp">
                <div class="ui container equal width grid">
                    <div class="row">
                        <div class="column">
                            <h2 class="ui header">商战模拟游戏MarkSimos</h2>
                            <div>
                                <p>游戏者在逼真、无风险的虚拟环境下运营一家公司。<br>通过激励团队分享与体验式学习的方式，鼓励学员锻炼管理者的视角，全方位了解整个市场及其运作方式。</p>
                            </div>
                        </div>
                        <div class="column">
                            <img class="ui circular small left floated image" src="img/salespage/wilfried.png">
                            <h3 class="ui header">游戏开发者</h3>
                            <p>Wilfried Vanhonacker俄罗斯总统梅德韦杰夫教育顾问，商战模拟游戏专家，中欧国际工商学院联合创始人，欧洲工商管理学院PhD项目创始主任。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="b-process">
                <div class="ui container">
                    <h3 class="ui header b-sp">游戏特点－游戏基于新兴的快速消费市场</h3>
                    <div class="ui three column grid">
                        <div class="column fadeInUp b-process-item" id="team-column">
                            <div class="content">
                                <h4 class="ui header">
                                    <i class="users icon"></i>
                                    <div class="content">组队参赛：</div>
                                </h4>
                                <p>5人组成一队,分任不同角色，即可开始游戏。</p>
                            </div>
                            <div class="image game-gif team-gif">
                                <img src="img/salespage/gif/team.png" width="100%">
                            </div>
                        </div>
                        <div class="column fadeInUp b-process-item" id="game-column">
                            <div class="content">
                                <h4 class="ui header">
                                    <i class="line chart icon"></i>
                                    <div class="content">游戏进行：</div>
                                </h4>
                                <span class="b-process-item-next">
                                    <i class="caret right icon"></i>
                                </span>
                                <p>模拟公司经营，每次的决策影响公司未来。</p>
                            </div>
                            <div class="image gaming-gif">
                                <img src="img/salespage/gif/gaming.png" width="100%">
                            </div>
                        </div>
                        <div class="column fadeInUp b-process-item" id="win-column">
                            <div class="content">
                                <h4 class="ui header">
                                    <i class="flag icon"></i>
                                    <div class="content">获胜目标：</div>
                                </h4>
                                <span class="b-process-item-next">
                                    <i class="caret right icon"></i>
                                </span>
                                <p>增量市场份额与累积利润最高的公司得胜。</p>
                            </div>
                            <div class="image winning-gif">
                                <img src="img/salespage/gif/winning.png" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-skill">
                <div class="ui container">
                    <div class="ui grid">
                        <div class="seventy wide column">
                            <div class="b-skill-topic">
                                <img src="img/salespage/topics.png">
                            </div>
                        </div>
                        <div class="thirty wide column">
                            <div class="b-skill-skill">
                                <div class="ui relaxed huge list b-game-list">
                                    <div class="item">
                                        <i class="large checkmark box icon"></i>
                                        <div class="content">
                                            <h3 class="ui header">收获技能：</h3>
                                            <div class="list">
                                                <div class="item">
                                                    <i class="bar chart icon"></i>
                                                    <div class="content">
                                                        <div class="header">数据分析</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="users icon"></i>
                                                    <div class="content">
                                                        <div class="header">团队合作</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calculator icon"></i>
                                                    <div class="content">
                                                        <div class="header">战略管理</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="bullseye icon"></i>
                                                    <div class="content">
                                                        <div class="header">系统性思维</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="comments outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">商业敏感度</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="ui center aligned test-button grid">
                        <div class="column">
                            <a class="ui red large button b-sp">测试我的游戏水平</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-popularity">
                <div class="ui equal width grid container">
                    <div class="row">
                        <div class="column b-theory-header">
                            <div class="content">
                                <h3 class="ui header b-sp">首届大赛就得到广泛好评</h3>
                                <div>
                                    <p>2015年5-6月，第一届Bridge+全国商业实战大赛在华东、京津、东北三个赛区开展，来自100余所大学的1500多名同学参加了这个与众不同的商赛。</p>
                                </div>
                            </div>
                        </div>
                        <div class="column b-theory-content">
                            <p>这次比赛给我的感觉十分特别,MarkSimos这个软件设计的十分科学,让 我更直观地感受到公司运营过程中涉及到的决策对公司未来的影响。让我 把之前学习和实习中市场营销的知识有了更多更加深刻的认识。更重要的是团队协作的体验,和一群小伙伴一起头脑风暴,分工协作真的 很有意思。<br>P.S真的很烧脑细胞!</p>
                            <p class="text-right">—林芳琴 天津财经大学</p>
                            <p>这是一个团队性的商战项目,商场如战场,对手从来不会心慈手软,所以这 个经历告诉将走进职场的新手要以坚强的心态来面临商场上的种种挑战。一 个人的胜利不是胜利,所以如何更好地团队协作,如何把个体的力量发挥到最大是成功的关键。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-events">
                <div class="ui container">
                    <h3 class="ui header b-sp">现有比赛列表</h3>
                    <table class="ui very basic table unstackable events-table">
                        <tbody>
                            <tr>
                                <td style="width:50%">
                                    <i class="big trophy icon"></i>
                                    第二届Bridge+全国商业实战大赛初赛
                                </td>
                                <td style="width:15%">华东赛区</td>
                                <td style="width:15%">10月15日</td>
                                <td style="width:20%" class="text-right">
                                    <a class="ui red button b-normal">马上报名</a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="big trophy icon"></i>第二届Bridge+全国商业实战大赛初赛</td>
                                <td>华东赛区</td>
                                <td>10月15日</td>
                                <td class="text-right">
                                    <a class="ui red button b-normal">马上报名</a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="big trophy icon"></i>第二届Bridge+全国商业实战大赛初赛</td>
                                <td>华东赛区</td>
                                <td>10月15日</td>
                                <td class="text-right">
                                    <a class="ui red button b-normal">马上报名</a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="big trophy icon"></i>第二届Bridge+全国商业实战大赛初赛</td>
                                <td>华东赛区</td>
                                <td>10月15日</td>
                                <td class="text-right">
                                    <a class="ui red button b-normal">马上报名</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="b-trial">
                <div class="ui center aligned container grid">
                    <div class="column">
                        <a class="ui red large button b-sp">立即体验</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <%- include('view-partial/footer.html') -%>
    <!--JS-->
    <script src="bower/jquery/dist/jquery.js"></script>
    <script src="bower/semantic-ui/dist/semantic.js"></script>
    <script src="bower/underscore/underscore.js"></script>
    <!--Angular JS-->
    <script src="bower/angular/angular.min.js"></script>
    <script src="bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!--Page JS-->
    <script src="js/page/game/main.js"></script>
    <!--Utils JS-->
    <script src="js/utils/utils.js"></script>
    <script src="js/utils/msgbus.js"></script>
    <script src="js/utils/underscore.js"></script>
</body>

</html>
