<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bridge+</title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="<%= cdn.normal %>bower/owl.carousel/dist/assets/owl.carousel.min.css?<%= cdn.version %>">
    <link rel="stylesheet" type="text/css"
          href="<%= cdn.normal %>bower/owl.carousel/dist/assets/owl.theme.default.min.css?<%= cdn.version %>">
</head>

<body ng-controller="AppCtrl" ng-app="bplus" ng-init="current_page='index'"
      ng-class="{'chinese':language==='zh','english':language==='en'}">
<%- include('view-partial/header.html') -%>
<% if (typeof hcd_user === 'undefined' || !hcd_user.member_id) { %>
<div class="ui">
    <div class="ui container">
        <div class="b-sign-in-position-wrapper">
            <div class="b-sign-in-position">
                <div class="ui b-signin-semi-transparent-wrapper">
                    <div class="ui column b-signin-semi-transparent-container">
                        <div class="b-signin-narrow" tab=".b-signin-narrow">
                            <%- include('view-partial/sign-in.html') -%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>
<!-- Page Contents -->
<div class="pusher">
    <div class="b-masthead">
        <div class="owl-carousel owl-theme b-slider masthead-carousel" id="superpulse">
            <div class="b-slider-item first-item">
                <div class="ui container">
                    <h1 class="ui header" ng-cloak><%= __('IndexFirstItemHeader') %></h1>

                    <h2 ng-cloak><%= __('IndexFirstItemContent') %><br><%= __('IndexFirstItemSubContent') %>
                    </h2>
                </div>
            </div>
            <div class="b-slider-item second-item">
                <div class="ui container">
                    <h1 class="ui header" ng-cloak><%= __('IndexSecondItemHeader') %></h1>

                    <h2 ng-cloak><%= __('IndexSecondItemContent') %><br><%= __('IndexSecondItemSubContent') %>
                    </h2>
                </div>
            </div>
            <div class="b-slider-item third-item">
                <div class="ui container">
                    <h1 class="ui header" ng-cloak><%= __('IndexThirdItemHeader') %></h1>

                    <h2 ng-cloak><%= __('IndexThirdItemContent') %><br><%= __('IndexThirdItemSubContent') %>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="b-client">
            <div class="ui container" id="b-client-content">
                <h3 class="ui header b-sp animated" id="b-client-header" ng-cloak><%= __('IndexServiceTarget') %></h3>

                <div class="ui horizontal list owl-carousel owl-theme" id="b-client-list">
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/tencent.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/cocacola.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/huawei.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/tsinghua.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/ceibs.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/cas.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/tencent.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/cocacola.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/huawei.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/tsinghua.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/ceibs.png">
                    </div>
                    <div class="item">
                        <img class="ui image" src="<%= cdn.normal %>img/client/1x/cas.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="b-advantage">
            <div class="ui container">
                <h3 class="ui header b-sp" ng-cloak><%= __('IndexBusinessSimulationGame') %></h3>

                <div class="ui three column grid">
                    <div class="column b-advantage-item">
                        <div class="image index-gif online-gif">
                            <img src="<%= cdn.normal %>img/salespage/gif/online-animate.gif?<%= cdn.version %>"
                                 width="160px" height="160px">
                        </div>
                        <div class="content">
                            <p class="header" ng-cloak><%= __('IndexOnlineSimulation') %></p>

                            <div class="description">
                                <p ng-cloak><%= __('IndexOnlineSimulationLine1') %><br><%=
                                    __('IndexOnlineSimulationLine2') %><br><%= __('IndexOnlineSimulationLine3') %></p>
                            </div>
                        </div>
                    </div>
                    <div class="column b-advantage-item">
                        <div class="image top-gif">
                            <img src="<%= cdn.normal %>img/salespage/gif/top-animate.gif?<%= cdn.version %>"
                                 width="160px" height="160px">
                        </div>
                        <div class="content">
                            <p class="header" ng-cloak> <%= __('IndexDevelopmentTeam') %></p>

                            <div class="description">
                                <p ng-cloak><%= __('IndexDevelopmentTeamLine1') %><br><%=
                                    __('IndexDevelopmentTeamLine2') %></p>
                            </div>
                        </div>
                    </div>
                    <div class="column b-advantage-item">
                        <div class="image enhance-gif">
                            <img src="<%= cdn.normal %>img/salespage/gif/enhance-animate.gif?<%= cdn.version %>"
                                 width="160px" height="160px">
                        </div>
                        <div class="content">
                            <p class="header" ng-cloak><%= __('IndexImproveTheLevel') %></p>

                            <div class="description">
                                <p ng-cloak><%= __('IndexImproveTheLevelLine1') %><br><%=
                                    __('IndexImproveTheLevelLine2') %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-theory">
            <div class="ui container equal width grid">
                <h3 class="ui header b-sp" ng-cloak><%= __('IndexLearningTheory') %></h3>

                <div class="row">
                    <div class="column b-theory-header">
                        <div>
                            <p ng-cloak><%= __('IndexLearningTheoryTeacherInfo') %><br><b><%=
                                __('IndexLearningTheoryTeacher') %></b>
                            </p>
                        </div>
                    </div>
                    <div class="column b-theory-content">
                        <h3 ng-cloak><%= __('IndexLearningMethodology') %></h3>

                        <p ng-cloak><%= __('IndexLearningMethodologyInfo') %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-jobs">
            <div class="ui container">
                <h3 class="ui header b-sp" ng-cloak><%= __('IndexGameCredits') %></h3>

                <div class="ui grid">
                    <div class="eight wide column b-jobs-pokesperson">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui small image">
                                    <img src="<%= cdn.normal %>img/salespage/jobs_lijing.png?<%= cdn.version %>">
                                </div>
                                <div class="content">
                                    <div class="b-jobs-pokesperson-sink">
                                        <div class="header" ng-cloak><%= __('IndexLeader') %></div>
                                        <div class="meta" ng-cloak><%= __('IndexLeaderMeta') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description" ng-cloak>
                                            <p><%= __('IndexLeaderDescription') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column b-jobs-statistics">
                        <div class="b-jobs-statistics-sink">
                            <h2 class="ui sub header" ng-cloak><%= __('IndexPlatform') %></h2>

                            <div class="ui horizontal statistics">
                                <div class="statistic">
                                    <div class="value">321</div>
                                    <div class="label" ng-cloak><%= __('IndexPlatformJobs') %></div>
                                </div>
                                <div class="statistic">
                                    <div class="value">89</div>
                                    <div class="label" ng-cloak><%= __('IndexPlatformCompanies') %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="b-jobs-list">
                            <h2 class="ui header">
                                <i class="bookmark icon red"></i>

                                <div class="content" ng-cloak><%= __('IndexTableInternship') %></div>
                            </h2>
                            <table class="ui very basic table unstackable" ng-cloak>
                                <thead>
                                <tr>
                                    <th><%= __('IndexTablePosition') %></th>
                                    <th><%= __('IndexTableCompany') %></th>
                                    <th><%= __('IndexTablePlace') %></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><%= __('IndexTablePosition1') %></td>
                                    <td><%= __('IndexTableCompany1') %></td>
                                    <td><%= __('IndexTablePlace1') %></td>
                                </tr>
                                <tr>
                                    <td><%= __('IndexTablePosition2') %></td>
                                    <td><%= __('IndexTableCompany2') %></td>
                                    <td><%= __('IndexTablePlace2') %></td>
                                </tr>
                                <tr>
                                    <td><%= __('IndexTablePosition3') %></td>
                                    <td><%= __('IndexTableCompany3') %></td>
                                    <td><%= __('IndexTablePlace3') %></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="b-jobs-list">
                            <h2 class="ui header">
                                <i class="suitcase icon red"></i>

                                <div class="content" ng-cloak><%= __('IndexTableJobs') %></div>
                            </h2>
                            <table class="ui very basic table unstackable" ng-cloak>
                                <thead>
                                <tr>
                                    <th><%= __('IndexTablePosition') %></th>
                                    <th><%= __('IndexTableCompany') %></th>
                                    <th><%= __('IndexTablePlace') %></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><%= __('IndexTablePosition4') %></td>
                                    <td><%= __('IndexTableCompany4') %></td>
                                    <td><%= __('IndexTablePlace4') %></td>
                                </tr>
                                <tr>
                                    <td><%= __('IndexTablePosition5') %></td>
                                    <td><%= __('IndexTableCompany5') %></td>
                                    <td><%= __('IndexTablePlace5') %></td>
                                </tr>
                                <tr>
                                    <td><%= __('IndexTablePosition6') %></td>
                                    <td><%= __('IndexTableCompany6') %></td>
                                    <td><%= __('IndexTablePlace6') %></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ui right aligned container b-jobs-action">
                    <a class="ui red large button check-more-buuton b-sp" ng-cloak><%= __('IndexCheckMoreJobs') %></a>
                </div>
            </div>
        </div>
        <div class="b-feedback">
            <h3 class="ui header container b-sp" ng-cloak><%= __('IndexStudentFeedback') %></h3>

            <div class="owl-carousel owl-theme b-slider feedback-carousel">
                <div class="b-slider-item">
                    <div class="ui equal width grid ui control-container container">
                        <div class="row">
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/pic_student_feedback_1.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('IndexStudentName1') %></div>
                                        <div class="meta" ng-cloak><%= __('IndexStudentMeta1') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('IndexStudentDescription1') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/pic_student_feedback_2.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('IndexStudentName2') %></div>
                                        <div class="meta" ng-cloak><%= __('IndexStudentMeta2') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('IndexStudentDescription2') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-slider-item">
                    <div class="ui equal width grid ui control-container container">
                        <div class="row">
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/pic_student_feedback_3.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('IndexStudentName3') %></div>
                                        <div class="meta" ng-cloak><%= __('IndexStudentMeta3') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('IndexStudentDescription3') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/pic_student_feedback_4.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('IndexStudentName4') %></div>
                                        <div class="meta" ng-cloak><%= __('IndexStudentMeta4') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('IndexStudentDescription4') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-slider-item">
                    <div class="ui equal width grid ui control-container container">
                        <div class="row">
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/pic_student_feedback_5.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('IndexStudentName5') %></div>
                                        <div class="meta" ng-cloak><%= __('IndexStudentMeta5') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('IndexStudentDescription5') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/pic_student_feedback_6.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('IndexStudentName6') %></div>
                                        <div class="meta" ng-cloak><%= __('IndexStudentMeta6') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('IndexStudentDescription6') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-slider-item">
                    <div class="ui equal width grid ui control-container container">
                        <div class="row">
                            <div class="column ui items">
                                <div class="item">
                                    <div class="ui circular small image b-sp">
                                        <img src="<%= cdn.normal %>img/feedback/pic_student_feedback_7.png?<%= cdn.version %>">
                                    </div>
                                    <div class="content">
                                        <div class="header" ng-cloak><%= __('IndexStudentName7') %></div>
                                        <div class="meta" ng-cloak><%= __('IndexStudentMeta7') %></div>
                                        <div class="ui divider"></div>
                                        <div class="description">
                                            <p ng-cloak><%= __('IndexStudentDescription7') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-trial">
            <div class="ui center aligned container grid">
                <div class="column">
                    <a class="ui red large button b-sp" ng-cloak><%= __('IndexStart') %></a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('view-partial/footer.html') -%>
<!--JS-->
<script src="<%= cdn.normal %>bower/owl.carousel/dist/owl.carousel.js"></script>

<!--Page JS-->
<!-- build:js js/cdn/index.<%= grunt.file.readJSON('package.json').version %>.js -->
<script src="js/directives/captcha.js"></script>
<script src="js/directives/ngEnter.js"></script>
<script src="js/directives/registerForm.js"></script>
<script src="js/directives/tab.js"></script>
<script src="js/controllers/LoginCtrl.js"></script>
<script src="js/controllers/SignUpCtrl.js"></script>
<script src="js/factories/queryParser.js"></script>
<script src="js/controllers/WechatLoginCtrl.js"></script>
<script src="js/page/homepage/main.js"></script>
<!-- endbuild -->
</body>

</html>