<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bridge+</title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
</head>

<body ng-controller="AppCtrl" ng-app="bplus" ng-init="current_page='opportunity'" ng-class="{'chinese':language==='zh','english':language==='en'}">
    <%- include('view-partial/header.html') -%>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="b-opportunity-masthead">
            <div class="ui opportunity-banner">
                <div class="ui container" ng-cloak>
                    <h1 class="ui header">{{'OpportunityTitle' | translate}}</h1>
                    <h2>{{'OpportunityInfoLine1' | translate}}<br>
                    {{'OpportunityInfoLine2' | translate}}</h2>
                    <div class="column">
                        <a class="ui opportunity-gray large button b-sp">{{'OpportunityApply' | translate}}</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="b-opportunity">
                <div class="ui container">
                    <h3 class="ui header b-sp">
                        {{'OpportunityJobList' | translate}}
                    </h3>
                    <div class="ui container grid opportunity-box">
                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-red jobs_administration front">
                                <div class="content">
                                    <p>{{'OpportunityJobList1' | translate}}</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-white back">
                                <table class="ui very basic table unstackable" ng-cloak>
                                    <thead>
                                        <tr>
                                            <th>{{'OpportunityTablePosition' | translate}}</th>
                                            <th>{{'OpportunityTableCompany' | translate}}</th>
                                            <th>{{'OpportunityTablePlace' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{'OpportunityJobList1Position1' | translate}}</td>
                                            <td>{{'OpportunityJobList1Company1' | translate}}</td>
                                            <td>{{'OpportunityJobList1Place1' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList1Position2' | translate}}</td>
                                            <td>{{'OpportunityJobList1Company2' | translate}}</td>
                                            <td>{{'OpportunityJobList1Place2' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList1Position3' | translate}}</td>
                                            <td>{{'OpportunityJobList1Company3' | translate}}</td>
                                            <td>{{'OpportunityJobList1Place3' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="four-column wide column"></div>

                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-white jobs_marketing front">
                                <div class="content">
                                    <p>{{'OpportunityJobList2' | translate}}</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-red back">
                                <table class="ui very basic table unstackable" ng-cloak>
                                    <thead>
                                        <tr>
                                            <th>{{'OpportunityTablePosition' | translate}}</th>
                                            <th>{{'OpportunityTableCompany' | translate}}</th>
                                            <th>{{'OpportunityTablePlace' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{'OpportunityJobList2Position1' | translate}}</td>
                                            <td>{{'OpportunityJobList2Company1' | translate}}</td>
                                            <td>{{'OpportunityJobList2Place1' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList2Position2' | translate}}</td>
                                            <td>{{'OpportunityJobList2Company2' | translate}}</td>
                                            <td>{{'OpportunityJobList2Place2' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList2Position3' | translate}}</td>
                                            <td>{{'OpportunityJobList2Company3' | translate}}</td>
                                            <td>{{'OpportunityJobList2Place3' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-white jobs_sales front">
                                <div class="content">
                                    <p>{{'OpportunityJobList3' | translate}}</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-red back">
                                <table class="ui very basic table unstackable" ng-cloak>
                                    <thead>
                                        <tr>
                                            <th>{{'OpportunityTablePosition' | translate}}</th>
                                            <th>{{'OpportunityTableCompany' | translate}}</th>
                                            <th>{{'OpportunityTablePlace' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{'OpportunityJobList3Position1' | translate}}</td>
                                            <td>{{'OpportunityJobList3Company1' | translate}}</td>
                                            <td>{{'OpportunityJobList3Place1' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList3Position2' | translate}}</td>
                                            <td>{{'OpportunityJobList3Company2' | translate}}</td>
                                            <td>{{'OpportunityJobList3Place2' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList3Position3' | translate}}</td>
                                            <td>{{'OpportunityJobList3Company3' | translate}}</td>
                                            <td>{{'OpportunityJobList3Place3' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="four-column wide column"></div>

                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-red jobs_technology front">
                                <div class="content">
                                    <p>{{'OpportunityJobList4' | translate}}</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-white back">
                                <table class="ui very basic table unstackable" ng-cloak>
                                    <thead>
                                        <tr>
                                            <th>{{'OpportunityTablePosition' | translate}}</th>
                                            <th>{{'OpportunityTableCompany' | translate}}</th>
                                            <th>{{'OpportunityTablePlace' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{'OpportunityJobList4Position1' | translate}}</td>
                                            <td>{{'OpportunityJobList4Company1' | translate}}</td>
                                            <td>{{'OpportunityJobList4Place1' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList4Position2' | translate}}</td>
                                            <td>{{'OpportunityJobList4Company2' | translate}}</td>
                                            <td>{{'OpportunityJobList4Place2' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList4Position3' | translate}}</td>
                                            <td>{{'OpportunityJobList4Company3' | translate}}</td>
                                            <td>{{'OpportunityJobList4Place3' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-red jobs_service front">
                                <div class="content">
                                    <p>{{'OpportunityJobList5' | translate}}</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-white back">
                                <table class="ui very basic table unstackable" ng-cloak>
                                    <thead>
                                        <tr>
                                            <th>{{'OpportunityTablePosition' | translate}}</th>
                                            <th>{{'OpportunityTableCompany' | translate}}</th>
                                            <th>{{'OpportunityTablePlace' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{'OpportunityJobList5Position1' | translate}}</td>
                                            <td>{{'OpportunityJobList5Company1' | translate}}</td>
                                            <td>{{'OpportunityJobList5Place1' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList5Position2' | translate}}</td>
                                            <td>{{'OpportunityJobList5Company2' | translate}}</td>
                                            <td>{{'OpportunityJobList5Place2' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList5Position3' | translate}}</td>
                                            <td>{{'OpportunityJobList5Company3' | translate}}</td>
                                            <td>{{'OpportunityJobList5Place3' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="four-column wide column"></div>

                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-white jobs_finance front">
                                <div class="content">
                                    <p>{{'OpportunityJobList6' | translate}}</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-red back">
                                <table class="ui very basic table unstackable" ng-cloak>
                                    <thead>
                                        <tr>
                                            <th>{{'OpportunityTablePosition' | translate}}</th>
                                            <th>{{'OpportunityTableCompany' | translate}}</th>
                                            <th>{{'OpportunityTablePlace' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{'OpportunityJobList6Position1' | translate}}</td>
                                            <td>{{'OpportunityJobList6Company1' | translate}}</td>
                                            <td>{{'OpportunityJobList6Place1' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList6Position2' | translate}}</td>
                                            <td>{{'OpportunityJobList6Company2' | translate}}</td>
                                            <td>{{'OpportunityJobList6Place2' | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'OpportunityJobList6Position3' | translate}}</td>
                                            <td>{{'OpportunityJobList6Company3' | translate}}</td>
                                            <td>{{'OpportunityJobList6Place3' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="ui right aligned container b-opportunity-action">
                        <a class="ui red large button b-sp check-more-buuton" ng-cloak>{{'OpportunityCheckMoreJob' | translate}}</a>
                    </div>
                </div>
            </div>

            <div class="b-opportunity-client">
                <div class="ui container">
                    <h3 class="ui header b-sp" ng-cloak>{{'OpportunityCompanies' | translate}}</h3>
                    <div class="ui five column grid">
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tencent.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/cocacola.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tencent.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/huawei.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tsinghua.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/cas.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tencent.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/cocacola.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tencent.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/huawei.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tsinghua.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/cas.png">
                        </div>
                    </div>
                    <div class="ui right aligned container b-opportunity-action">
                        <a class="ui red large button b-sp check-more-buuton">{{'OpportunityCheckMoreCompany' | translate}}</a>
                    </div>
                </div>
            </div>

            <div class="b-opportunity-jobs">
                <div class="ui container">
                    <h3 class="ui header b-sp" ng-cloak>{{'OpportunityWhyUs' | translate}}</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="ui embed">
                                <embed src="http://player.youku.com/player.php/Type/Folder/Fid/26037420/Ob/1/sid/XMTMyMjQ2NzkxMg==/v.swf" quality="high" align="middle" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>
                            </div>
                        </div>
                        <div class="eight wide column b-opportunity-pokesperson" ng-cloak>
                            <div class="header">{{'OpportunityLiJing' | translate}}</div>
                            <div class="meta">{{'OpportunityLiJingMeta' | translate}}</div>
                            <div class="description">
                                <p>{{'OpportunityLiJingLine1' | translate}}<br>{{'OpportunityLiJingLine2' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-opportunity-trial">
                <div class="ui center aligned container grid">
                    <div class="column">
                        <a class="ui red large button b-sp">{{'OpportunityStart' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <%- include('view-partial/footer.html') -%>

    <!--Page JS-->
    <script src="js/page/opportunity/main.js"></script>
</body>

</html>
