<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bridge+</title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
</head>

<body ng-controller="AppCtrl" ng-app="bplus">
    <%- include('view-partial/header.html') -%>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="b-opportunity-masthead">
            <div class="ui opportunity-banner">
                <div class="ui container">
                    <h1 class="ui header">企业信赖的人才评价方式</h1>
                    <h2>企业信赖的人才评价方式，你可以用游戏优胜得到的积分来申请职位，<br>
                    或者换取礼品、1对1导师咨询、企业家午餐会等。</h2>
                    <div class="column">
                        <a class="ui opportunity-gray large button b-sp">立即申请</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="b-opportunity">
                <div class="ui container">
                    <h3 class="ui header b-sp">
                        平台现有321个工作机会
                    </h3>
                    <div class="ui container grid opportunity-box">
                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-red jobs_administration front">
                                <div class="content">
                                    <p>行政管理类</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-white back">
                                <table class="ui very basic table unstackable">
                                    <thead>
                                        <tr>
                                            <th>职位</th>
                                            <th>公司</th>
                                            <th>地点</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>市场部实习生</td>
                                            <td>EF</td>
                                            <td>上海</td>
                                        </tr>
                                        <tr>
                                            <td>供应链管理实习生</td>
                                            <td>可口可乐</td>
                                            <td>杭州</td>
                                        </tr>
                                        <tr>
                                            <td>总裁助理</td>
                                            <td>Admaster</td>
                                            <td>北京</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="four-column wide column"></div>

                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-white jobs_marketing front">
                                <div class="content">
                                    <p>市场类</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-red back">
                                <table class="ui very basic table unstackable">
                                    <thead>
                                        <tr>
                                            <th>职位</th>
                                            <th>公司</th>
                                            <th>地点</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>市场部实习生</td>
                                            <td>EF</td>
                                            <td>上海</td>
                                        </tr>
                                        <tr>
                                            <td>供应链管理实习生</td>
                                            <td>可口可乐</td>
                                            <td>杭州</td>
                                        </tr>
                                        <tr>
                                            <td>总裁助理</td>
                                            <td>Admaster</td>
                                            <td>北京</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-white jobs_sales front">
                                <div class="content">
                                    <p>销售类</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-red back">
                                <table class="ui very basic table unstackable">
                                    <thead>
                                        <tr>
                                            <th>职位</th>
                                            <th>公司</th>
                                            <th>地点</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>市场部实习生</td>
                                            <td>EF</td>
                                            <td>上海</td>
                                        </tr>
                                        <tr>
                                            <td>供应链管理实习生</td>
                                            <td>可口可乐</td>
                                            <td>杭州</td>
                                        </tr>
                                        <tr>
                                            <td>总裁助理</td>
                                            <td>Admaster</td>
                                            <td>北京</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="four-column wide column"></div>

                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-red jobs_technology front">
                                <div class="content">
                                    <p>技术类</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-white back">
                                <table class="ui very basic table unstackable">
                                    <thead>
                                        <tr>
                                            <th>职位</th>
                                            <th>公司</th>
                                            <th>地点</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>市场部实习生</td>
                                            <td>EF</td>
                                            <td>上海</td>
                                        </tr>
                                        <tr>
                                            <td>供应链管理实习生</td>
                                            <td>可口可乐</td>
                                            <td>杭州</td>
                                        </tr>
                                        <tr>
                                            <td>总裁助理</td>
                                            <td>Admaster</td>
                                            <td>北京</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-red jobs_service front">
                                <div class="content">
                                    <p>运营类</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-white back">
                                <table class="ui very basic table unstackable">
                                    <thead>
                                        <tr>
                                            <th>职位</th>
                                            <th>公司</th>
                                            <th>地点</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>市场部实习生</td>
                                            <td>EF</td>
                                            <td>上海</td>
                                        </tr>
                                        <tr>
                                            <td>供应链管理实习生</td>
                                            <td>可口可乐</td>
                                            <td>杭州</td>
                                        </tr>
                                        <tr>
                                            <td>总裁助理</td>
                                            <td>Admaster</td>
                                            <td>北京</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="four-column wide column"></div>

                        <div class="four-eight-column wide column opportunity-container">
                            <div class="column opportunity-list-white jobs_finance front">
                                <div class="content">
                                    <p>财务类</p>
                                </div>
                            </div>
                            <div class="column opportunity-list-red back">
                                <table class="ui very basic table unstackable">
                                    <thead>
                                        <tr>
                                            <th>职位</th>
                                            <th>公司</th>
                                            <th>地点</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>市场部实习生</td>
                                            <td>EF</td>
                                            <td>上海</td>
                                        </tr>
                                        <tr>
                                            <td>供应链管理实习生</td>
                                            <td>可口可乐</td>
                                            <td>杭州</td>
                                        </tr>
                                        <tr>
                                            <td>总裁助理</td>
                                            <td>Admaster</td>
                                            <td>北京</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ui right aligned container b-opportunity-action">
                        <a class="ui red large button b-sp check-more-buuton">查看更多职位</a>
                    </div>
                </div>
            </div>

            <div class="b-opportunity-client">
                <div class="ui container">
                    <h3 class="ui header b-sp">89家合作公司</h3>
                    <div class="ui five column grid">
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tencent.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/cocacola.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tencent.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/huawei.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tsinghua.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/cas.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tencent.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/cocacola.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tencent.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/huawei.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/tsinghua.png">
                        </div>
                        <div class="column">
                            <img class="ui image" src="img/client/1x/cas.png">
                        </div>
                    </div>
                    <div class="ui right aligned container b-opportunity-action">
                        <a class="ui red large button b-sp check-more-buuton">所有合作公司</a>
                    </div>
                </div>
            </div>

            <div class="b-opportunity-jobs">
                <div class="ui container">
                    <h3 class="ui header b-sp">为什么企业信赖我们</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="ui embed">
                                <embed src="http://player.youku.com/player.php/Type/Folder/Fid/26037420/Ob/1/sid/XMTMyMjQ2NzkxMg==/v.swf" quality="high" align="middle" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>
                            </div>
                        </div>
                        <div class="eight wide column b-opportunity-pokesperson">
                            <div class="header">李静</div>
                            <div class="meta">宝洁中国人力资源总监</div>
                            <div class="description">
                                <p>Bridge+为我们开启了一种全新的招聘模式。<br>宝洁中国现已全面与Bridge+展开合作，以期高效精准地匹配到我们所需的人才。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-opportunity-trial">
                <div class="ui center aligned container grid">
                    <div class="column">
                        <a class="ui red large button b-sp">立即体验</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <%- include('view-partial/footer.html') -%>
    <!--JS-->
    <script src="bower/jquery/dist/jquery.js"></script>
    <script src="bower/semantic-ui/dist/semantic.js"></script>
    <script src="bower/underscore/underscore.js"></script>
    <!--Angular JS-->
    <script src="bower/angular/angular.min.js"></script>
    <script src="bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!--Page JS-->
    <script src="js/controllers/AppCtrl.js"></script>
    <script src="js/factories/service.js"></script>
    <script src="js/factories/MessageStore.js"></script>
    <script src="js/page/opportunity/main.js"></script>
    <!--Utils JS-->
    <script src="js/utils/utils.js"></script>
    <script src="js/utils/msgbus.js"></script>
    <script src="js/utils/underscore.js"></script>
</body>

</html>
