<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>个人信息 - Bridge+</title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
    <!--LESS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="signIn">
<%- include('view-partial/header.html') -%>
<div class="ui b-signin-wrapper">
    <div class="ui success message brand" ng-hide="userHide === true">
        <i class="large close icon" ng-click="userHide = true"></i>

        <div class="header">
            恭喜您完成注册! 填写下方基本资料即可开始游戏!
        </div>
    </div>
    <div class="ui column b-step-container b-separator">
        <div class="ui center aligned container subcontainer">
            <h2 class="grey color">个人信息</h2>
        </div>
    </div>
    <div class="ui column">
        <div class="ui text shape personal-history" ng-controller="PersonalHistoryCtrl">
            <div class="sides">
                <div class="active side">
                    <form name="personalInfoForm" class="ui form personal-history step-1" ng-submit="tryNextStep()">
                        <div class="b-step-container">
                            <div class="field">
                                <label><i class="ui large red icon">*</i>真实姓名</label>
                                <input type="text" name="realName" placeholder="请输入真实姓名"
                                       ng-model="personalInfo.realName">
                            </div>
                            <div class="field">
                                <label><i class="ui large red icon">*</i>性别</label>
                                <select class="ui dropdown" name="gender" ng-model="personalInfo.gender">
                                    <option value="">请选择...</option>
                                    <option value="1">男</option>
                                    <option value="0">女</option>
                                </select>
                            </div>
                            <div class="fields">
                                <div class="four wide field">
                                    <label><i class="ui large red icon">*</i>生日</label>

                                    <div class="fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown defer" name="yearOfBirth"
                                                    ng-model="personalInfo.yearOfBirth">
                                                <option value="">请选择...</option>
                                                <option value="{{y}}" ng-repeat="y in birthYearList" dropdown>{{y}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            年
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide field">
                                    <label>&nbsp;</label>

                                    <div class="fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown defer" name="monthOfBirth"
                                                    ng-model="personalInfo.monthOfBirth">
                                                <option value="">选择...</option>
                                                <option value="{{m}}" ng-repeat="m in monthList" dropdown="">{{m}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            月
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide field">
                                    <label>&nbsp;</label>

                                    <div class="fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown defer" name="dayOfBirth"
                                                    ng-model="personalInfo.dayOfBirth">
                                                <option value="">选择...</option>
                                                <option value="{{d}}" ng-repeat="d in getBirthDayList()" dropdown>
                                                    {{d}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            日
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide field">
                                    <label>&nbsp;</label>

                                    <div class="ui right aligned container subcontainer">
                                        <div class="ui checkbox">
                                            <input type="checkbox" checked name="setPrivacy"
                                                   ng-model="personalInfo.setPrivacy">
                                            <label>设置为隐私</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><i class="ui large red icon">*</i>目前所在地</label>
                                <input type="text" name="currentLocation" ng-model="personalInfo.currentLocation"
                                       placeholder="请输入目前所在地">
                            </div>
                        </div>
                        <div class="ui horizontal divider"></div>
                        <div class="ui right aligned container subcontainer">
                            <button type="reset" class="ui large red basic button" ng-click="gotoNextStep()">跳过</button>
                            <button type="submit" class="ui large red button">下一步: 完善教育背景</button>
                        </div>

                    </form>
                </div>
                <div class="side">
                    <form name="personalInfoForm2" class="ui form personal-history step-2 brand"
                          ng-submit="trySubmit()">
                        <div class="b-step-container">
                            <div class="ui error message brand"></div>
                            <div class="field">
                                <label><i class="ui large red icon">*</i>学校名称</label>
                                <input type="text" name="schoolName" placeholder="请输入学校名称" ng-model="schoolInfo.name">
                            </div>
                            <div class="field">
                                <label><i class="ui large red icon">*</i>所学专业</label>
                                <input type="text" name="schoolMajor" placeholder="请输入所学专业" ng-model="schoolInfo.major">
                            </div>
                            <div class="field">
                                <label><i class="ui large red icon">*</i>学历</label>
                                <select class="ui fluid search dropdown" ng-model="schoolInfo.educationBackground"
                                        name="schoolEducationBackground">
                                    <option value="">请选择...</option>
                                    <option value="本科">本科</option>
                                    <option value="硕士">硕士</option>
                                </select>
                            </div>
                            <div class="two fields">
                                <div class="nine wide field">
                                    <label><i class="ui large red icon">*</i>求学时间</label>

                                    <div class="fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown defer" name="schoolStartYear"
                                                    ng-model="schoolInfo.startYear">
                                                <option value="">请选择...</option>
                                                <option value="{{y}}" ng-repeat="y in startYearList" dropdown>{{y}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            年
                                        </div>
                                        <div class="field">
                                            <select class="ui fluid search dropdown defer" name="schoolStartMonth"
                                                    ng-model="schoolInfo.startMonth">
                                                <option value="">请选择...</option>
                                                <option value="{{m}}" ng-repeat="m in monthList" dropdown>{{m}}</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            月
                                        </div>
                                        <div class="field">
                                            —
                                        </div>
                                    </div>
                                </div>
                                <div class="eight wide field">
                                    <label><i class="ui large red icon">*</i>毕业时间</label>

                                    <div class="fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown defer" name="schoolEndYear"
                                                    ng-model="schoolInfo.endYear">
                                                <option value="">请选择...</option>
                                                <option value="{{y}}" ng-repeat="y in endYearList" dropdown>{{y}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            年
                                        </div>
                                        <div class="field">
                                            <select class="ui fluid search dropdown defer" name="schoolEndMonth"
                                                    ng-model="schoolInfo.endMonth">
                                                <option value="">请选择...</option>
                                                <option value="{{m}}" ng-repeat="m in monthList" dropdown>{{m}}</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            月
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui horizontal divider"></div>
                        <div class="ui right aligned container subcontainer">
                            <button type="button" class="ui large red basic button left floated" ng-click="prevStep()">
                                上一步
                            </button>
                            <button type="reset" class="ui large red basic button" ng-click="gotoComplete()">跳过</button>
                            <button type="submit" class="ui large red button">完成</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<%- include('view-partial/footer.html') -%>
<!--JS-->
<script src="bower/jquery/dist/jquery.js"></script>
<script src="bower/jquery-address/src/jquery.address.js"></script>
<script src="bower/semantic-ui/dist/semantic.js"></script>
<script src="bower/underscore/underscore.js"></script>
<!--Angular JS-->
<script src="bower/angular/angular.min.js"></script>
<script src="bower/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--Page JS-->
<script src="js/factories/FormValidation.js"></script>
<script src="js/page/register/main.js"></script>
<!--Utils JS-->
<script src="js/utils/utils.js"></script>
<script src="js/utils/msgbus.js"></script>
<script src="js/utils/underscore.js"></script>
</body>

</html>
