<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Bridge+</title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
</head>

<body ng-controller="AppCtrl" ng-app="bplusRanking" ng-init="current_page='ranking'">
<%- include('view-partial/header.html') -%>
<!-- Page Contents -->
<div class="b-ranking-body" ng-controller="RankingCtrl">
    <div class="b-ranking-bg1"></div>
    <div class="b-ranking-bg2"></div>
    <h2 class="b-ranking-content-title">
        <span style="vertical-align:middle">
            <img src="<%= cdn.normal %>img/ranking/title.png?<%= cdn.version %>">
        </span>
        <span>
            &nbsp;
        </span>
        <span>
            排行榜
        </span>
    </h2>
    <div class="ui equal width center aligned padded grid b-ranking-content-container">
        <div class="row b-ranking-row">
            <div ng-class="{'b-ranking-active':option===0}" class="column b-ranking-options b-ranking-cell" ng-click="rankChange(0)">
                平均名次排行榜
            </div>
            <div ng-class="{'b-ranking-active':option===1}" class="column b-ranking-options b-ranking-cell" ng-click="rankChange(1)">
                平均得分排行榜
            </div>
            <div ng-class="{'b-ranking-active':option===2}" class="column b-ranking-options b-ranking-cell" ng-click="rankChange(2)">
                晋级队伍数排行榜
            </div>
        </div>
        <div class="row b-ranking-row b-ranking-detail" ng-repeat="detail in details">
            <div class="two wide column b-ranking-rank b-ranking-cell" ng-bind-template="{{detail.rank}}">
            </div>
            <div class="nine wide column b-ranking-name b-ranking-cell" ng-bind-template="{{detail.name}}">
            </div>
            <div class="five wide column b-ranking-score b-ranking-cell" ng-bind-template="{{detail.score}}">
            </div>
        </div>
    </div>
</div>
<!-- Page End -->
<!-- Footer Begin -->
<%- include('view-partial/footer.html') -%>
<!-- Footer End -->
<!-- Page visit tracking-->
<script type="text/javascript">
    window.t_PageName = "ranking";
</script>
<!-- Page visit End -->
<script src="<%= cdn.normal %>js/controllers/RankingCtrl.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/page/ranking/main.js?<%= cdn.version %>"></script>
</body>
</html>