<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>找回密码 - Bridge+</title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
    <!--LESS-->
    <link rel="stylesheet/less" type="text/css" href="css/page/register/main.less">
    <script src="bower/less/dist/less.js"></script>
</head>

<body ng-app="signIn" ng-controller="AppCtrl">
<%- include('view-partial/header.html') -%>
<div class="ui b-signin-wrapper">
    <div class="ui column b-signin-container">
        <div class="b-signin-wide">
            <div class="ui center aligned container">
                <h2 class="grey color">忘记密码</h2>
            </div>

            <div class="ui reset-by-email" ng-controller="ResetPasswordByEmailCtrl">
                <div class="sides">
                    <div class="active side" ng-hide="emailSent">
                        <form name="resetPasswordForm" class="ui large form b-sign-up reset-by-email"
                              ng-submit="tryResetPassword($event)">
                            <div class="ui error message brand"></div>
                            <div class="ui">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="text" name="email" placeholder="请输入注册的邮箱地址"
                                               ng-model="resetData.email">
                                    </div>
                                </div>
                                <div class="field absolute-prompt">
                                    <div class="ui left icon input">
                                        <i class="write icon"></i>
                                        <input type="text" name="captcha" placeholder="请输入图形验证码"
                                               ng-model="resetData.captcha">
                                        <img src="icon/android-icon-36x36.png" width="100">
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="eleven wide field"></div>
                                    <div class="five wide field ui center aligned container">
                                        <a href="javascript: void(0);">换一张</a>
                                    </div>
                                </div>
                                <button type="submit" class="ui fluid huge red button"
                                        ng-disabled="!isResetPasswordFormValid()">找回密码
                                </button>
                            </div>
                        </form>
                        <div class="ui grid">
                            <div class="nine wide column">
                                服务电话4008-111-111
                            </div>
                            <div class="seven wide column right aligned">
                                <a href="reset-password">手机重设密码</a>
                            </div>
                        </div>
                    </div>
                    <div class="side" ng-show="emailSent">
                        <div class="ui horizontal divider"></div>
                        <div class="ui grid">
                            <div class="row">
                                <div class="two wide column">
                                    <i class="big grey mail icon"></i>
                                </div>
                                <div class="fourteen wide column">
                                    <p>密码重设邮件已经发往您所注册的邮箱地址.</p>

                                    <p><a href="">前往邮箱</a></p>
                                </div>
                            </div>
                            <div class="ui horizontal divider"></div>
                            <div class="ui padded row">
                                <div class="sixteen wide column">
                                    <a href="signin#/login" class="ui fluid huge red active button">重新登录</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui grid">
                            <div class="nine wide column">
                                服务电话4008-111-111
                            </div>
                            <div class="seven wide column right aligned">
                                <a href="reset-password-by-email">邮箱找回密码</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('view-partial/footer.html') -%>
<!--JS-->
<script src="bower/jquery/dist/jquery.js"></script>
<script src="bower/jquery-address/src/jquery.address.js"></script>
<script src="bower/semantic-ui/dist/semantic.js"></script>
<script src="bower/underscore/underscore.js"></script>
<!--Angular JS-->
<script src="bower/angular/angular.min.js"></script>
<script src="bower/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--Page JS-->
<script src="js/page/register/main.js"></script>
<!--Utils JS-->
<script src="js/utils/utils.js"></script>
<script src="js/utils/msgbus.js"></script>
<script src="js/utils/underscore.js"></script>
</body>

</html>
