<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_ResetPassword') %></title>
    <meta name="description" content="<%= __('SEODesc_ResetPassword') %>">
    <%- include('view-partial/head.html') -%>
</head>

<body ng-app="resetPassword" class="b-background" ng-controller="AppCtrl">
<%- include('view-partial/header.html') -%>
<%- include('../../client/views/partial/reset-password.html') -%>
<%- include('view-partial/footer.html') -%>

<% if (dev_mode) { %>
<script src="js/directives/captcha.js"></script>
<script src="js/directives/registerForm.js"></script>
<script src="js/directives/ngEnter.js"></script>
<script src="js/page/reset-password/ResetPasswordCtrl.js"></script>
<script src="js/page/reset-password/main.js"></script>

<% } else { %>
<script src="<%= config.normal %>js/cdn/reset-password.js?<%= cdn.version %>"></script>
<% } %>

<%- include('view-partial/external-js.html') -%>
</body>

</html>
