<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>找回密码 - Bridge+</title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
    <!--LESS-->
    <link rel="stylesheet/less" type="text/css" href="css/page/register/main.less">
    <script src="bower/less/dist/less.js"></script>
</head>

<body ng-app="signIn">
<%- include('view-partial/header.html') -%>
<div class="ui">
    <div class="ui column b-signin-container">
        <div class="b-signin-wide">
            <div class="ui center aligned container">
                <h2 class="grey color">忘记密码</h2>
            </div>

            <div class="ui bottom attached tab" data-tab="register" ng-controller="ResetPasswordCtrl">
                <register-form action="resetPassword"></register-form>
                <div class="ui grid">
                    <div class="nine wide column">
                        服务电话4008-111-111
                    </div>
                    <div class="seven wide column right aligned">
                        <a href="reset-password-by-email">邮箱找回密码</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('view-partial/footer.html') -%>
<!--JS-->
<script src="bower/jquery/dist/jquery.js"></script>
<script src="bower/jquery-address/src/jquery.address.js"></script>
<script src="bower/semantic-ui/dist/semantic.js"></script>
<script src="bower/underscore/underscore.js"></script>
<!--Angular JS-->
<script src="bower/angular/angular.min.js"></script>
<script src="bower/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--Page JS-->
<script src="js/page/register/main.js"></script>
<!--Utils JS-->
<script src="js/utils/utils.js"></script>
<script src="js/utils/msgbus.js"></script>
<script src="js/utils/underscore.js"></script>
</body>

</html>
