<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_ResetPasswordByEmail') %></title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
</head>

<body ng-app="resetPassword" ng-controller="AppCtrl" class="b-background">
<%- include('view-partial/header.html') -%>
<%- include('../../client/views/partial/reset-password-by-email.html') -%>
<%- include('view-partial/footer.html') -%>

<script src="<%= cdn.normal %>js/directives/captcha.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/page/reset-password/ResetPasswordByEmailCtrl.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/directives/registerForm.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/page/reset-password/main.js?<%= cdn.version %>"></script>

<%- include('view-partial/external-js.html') -%>
</body>

</html>
