<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_ResetPassword') %></title>
    <meta name="description" content="<%= __('SEODesc_ResetPassword') %>">
    <%- include('view-partial/head.html') -%>
    <!--LESS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="resetPassword">
<%- include('view-partial/header.html') -%>
<div class="ui b-signin-wrapper">
    <div class="ui column b-signin-container">
        <div class="b-signin-wide">
            <div class="ui center aligned container subcontainer">
                <h2 class="grey color"><%= __('ForgotPassword') %></h2>
            </div>

            <div class="ui shape reset" ng-controller="ResetPasswordCtrl">
                <div class="sides">
                    <div class="active side reset-password-side">
                        <register-form action="resetPassword" control="formCtrl"></register-form>
                        <div class="ui grid">
                            <div class="nine wide column">
                                <%= __('ServicePhoneNumber') %> 4008-111-111
                            </div>
                            <div class="seven wide column right aligned">
                                <a href="reset-password-by-email"><%= __('ResetPasswordViaEmail') %></a>
                            </div>
                        </div>
                    </div>
                    <div class="side">
                        <%- include('view-partial/password-reset.html') -%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('view-partial/footer.html') -%>
<!--JS-->
<script src="bower/jquery/dist/jquery.js"></script>
<script src="bower/jquery-address/src/jquery.address.js"></script>
<script src="bower/semantic-ui/dist/semantic.js"></script>
<script src="bower/underscore/underscore.js"></script>
<!--Angular JS-->
<script src="bower/angular/angular.min.js"></script>
<script src="bower/angular-translate/angular-translate.min.js"></script>
<!--Page JS-->
<script src="js/factories/service.js"></script>
<script src="js/factories/MessageStore.js"></script>
<script src="js/controllers/AppCtrl.js"></script>
<script src="/config.js"></script>
<script src="js/config/translate.js"></script>
<script src="js/factories/translationLoader.js"></script>
<script src="/translation/localeHelper.js"></script>
<script src="js/directives/captcha.js"></script>
<script src="js/factories/FormValidation.js"></script>
<script src="js/directives/registerForm.js"></script>
<script src="js/directives/ngEnter.js"></script>
<script src="js/page/reset-password/ResetPasswordCtrl.js"></script>
<script src="js/page/reset-password/main.js"></script>
<!--Utils JS-->
<script src="js/utils/utils.js"></script>
<script src="js/utils/msgbus.js"></script>
<script src="js/utils/underscore.js"></script>
</body>

</html>
