<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SchoolTitle') %></title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="<%= cdn.normal %>bower/owl.carousel/dist/assets/owl.carousel.min.css?<%= cdn.version %>">
    <link rel="stylesheet" type="text/css"
          href="<%= cdn.normal %>bower/owl.carousel/dist/assets/owl.theme.default.min.css?<%= cdn.version %>">
</head>

<body ng-controller="AppCtrl" ng-app="bplus">
<%- include('view-partial/header.html') -%>
<!-- Page Contents -->
<div class="pusher">
	<div class="b-school">
		<div class="footer-main"></div>
	    <div class="page-content">
	    	<div class="b-school-content">
	    		<div class="ui container">
	    			<div class="ui grid">
	    				<div class="sixteen wide column">
	    					<div class="what">
	    						<h2><%= __('SchoolContentQ1') %></h2>
	    						<p><%= __('SchoolContentA1') %></p>
	    					</div>
	    					<div class="question q1">
	    						<h2><%= __('SchoolContentTitle1') %><span><%= __('SchoolContentSub1') %></span></h2>
	    						<p><%= __('SchoolContentContent1') %> <a href="mailto:campus@bridgeplus.me"> campus@bridgeplus.me</a></p>
	    					</div>

	    					<div class="question q2">
	    						<h2><%= __('SchoolContentTitle2') %><span><%= __('SchoolContentSub2') %></span></h2>
	    						<p><%= __('SchoolContentContent2') %> <a href="mailto:campus@bridgeplus.me"> campus@bridgeplus.me</a></p>
	    						
	    					</div>

	    					<div class="question q3">
	    						<h2><%= __('SchoolContentTitle3') %><span><%= __('SchoolContentSub3') %></span></h2>
	    						<p><%= __('SchoolContentContent3') %> <a href="mailto:campus@bridgeplus.me"> campus@bridgeplus.me</a></p>
	    						
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>

	        <div class="b-feedback">
	            <h3 class="ui header container b-sp" ng-cloak><%= __('SchoolTeam') %></h3>

	            <div class="owl-carousel owl-theme b-slider feedback-carousel">
	                <div class="b-slider-item">
	                    <div class="ui equal width grid ui control-container container">
	                        <div class="row">
	                            <div class="column ui items">
	                                <div class="item">
	                                    <div class="ui circular small image b-sp">
	                                        <img src="<%= cdn.normal %>img/feedback/school-team-1.jpg?<%= cdn.version %>">
	                                    </div>
	                                    <div class="content">
	                                        <div class="header" ng-cloak><%= __('SchoolTeamP1') %></div>
	                                        <div class="meta" ng-cloak><%= __('SchoolTeamP1meta') %></div>
	                                        <div class="ui divider"></div>
	                                        <div class="description">
	                                            <p ng-cloak><%= __('SchoolTeamP1Info') %></p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="column ui items">
	                                <div class="item">
	                                    <div class="ui circular small image b-sp">
	                                        <img src="<%= cdn.normal %>img/feedback/school-team-2.jpg?<%= cdn.version %>">
	                                    </div>
	                                    <div class="content">
	                                        <div class="header" ng-cloak><%= __('SchoolTeamP2') %></div>
	                                        <div class="meta" ng-cloak><%= __('SchoolTeamP2meta') %></div>
	                                        <div class="ui divider"></div>
	                                        <div class="description">
	                                            <p ng-cloak><%= __('SchoolTeamP2Info') %></p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="b-slider-item">
	                    <div class="ui equal width grid ui control-container container">
	                        <div class="row">
	                            <div class="column ui items">
	                                <div class="item">
	                                    <div class="ui circular small image b-sp">
	                                        <img src="<%= cdn.normal %>img/feedback/school-team-3.jpg?<%= cdn.version %>">
	                                    </div>
	                                    <div class="content">
	                                        <div class="header" ng-cloak><%= __('SchoolTeamP3') %></div>
	                                        <div class="meta" ng-cloak><%= __('SchoolTeamP3meta') %></div>
	                                        <div class="ui divider"></div>
	                                        <div class="description">
	                                            <p ng-cloak><%= __('SchoolTeamP3Info') %></p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="column ui items">
	                                <div class="item">
	                                    <div class="ui circular small image b-sp">
	                                        <img src="<%= cdn.normal %>img/feedback/school-team-4.jpg?<%= cdn.version %>">
	                                    </div>
	                                    <div class="content">
	                                        <div class="header" ng-cloak><%= __('SchoolTeamP4') %></div>
	                                        <div class="meta" ng-cloak><%= __('SchoolTeamP4meta') %></div>
	                                        <div class="ui divider"></div>
	                                        <div class="description">
	                                            <p ng-cloak><%= __('SchoolTeamP4Info') %></p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="b-slider-item">
	                    <div class="ui equal width grid ui control-container container">
	                        <div class="row">
	                            <div class="column ui items">
	                                <div class="item">
	                                    <div class="ui circular small image b-sp">
	                                        <img src="<%= cdn.normal %>img/feedback/school-team-5.jpg?<%= cdn.version %>">
	                                    </div>
	                                    <div class="content">
	                                        <div class="header" ng-cloak><%= __('SchoolTeamP5') %></div>
	                                        <div class="meta" ng-cloak><%= __('SchoolTeamP5meta') %></div>
	                                        <div class="ui divider"></div>
	                                        <div class="description">
	                                            <p ng-cloak><%= __('SchoolTeamP5Info') %></p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="column ui items">
	                                <div class="item">
	                                    <div class="ui circular small image b-sp">
	                                        <img src="<%= cdn.normal %>img/feedback/school-team-6.jpg?<%= cdn.version %>">
	                                    </div>
	                                    <div class="content">
	                                        <div class="header" ng-cloak><%= __('SchoolTeamP6') %></div>
	                                        <div class="meta" ng-cloak><%= __('SchoolTeamP6meta') %></div>
	                                        <div class="ui divider"></div>
	                                        <div class="description">
	                                            <p ng-cloak><%= __('SchoolTeamP6Info') %></p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	    </div>
	</div>

</div>
<%- include('view-partial/footer.html') -%>
<!--JS-->
<script src="<%= cdn.normal %>bower/owl.carousel/dist/owl.carousel.js?<%= cdn.version %>"></script>
<!--Page JS-->
<script src="<%= cdn.normal %>js/factories/WechatLogon.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/controllers/AppCtrl.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>js/page/footer/main.js?<%= cdn.version %>"></script>

<%- include('view-partial/external-js.html') -%>
</body>

</html>
