<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_SetPassword') %></title>
    <meta name="description" content="<%= __('SEODesc_SetPassword') %>">
    <%- include('view-partial/head.html') -%>
</head>

<body ng-app="setPassword" ng-controller="AppCtrl" class="b-background">
<%- include('view-partial/header.html') -%>
<div class="ui b-signin-wrapper subcontainer">
    <div class="ui column b-signin-container">
        <div class="b-signin-wide b-signin-wider">
            <div class="ui center aligned container">
                <h2 class="grey color"><%= __('FindPassword') %></h2>
            </div>

            <div class="ui reset-by-email" ng-controller="SetPasswordCtrl">
                <form name="setPasswordForm" class="ui large form b-sign-up set-password"
                      ng-submit="trySetPassword($event)" ng-hide="passwordReset">
                    <div class="ui error message brand"></div>
                    <div class="ui">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password"
                                       placeholder="<%= __('PleaseSetSignInPassword') %>"
                                       ng-model="setData.password">
                            </div>
                        </div>
                        <button type="submit" class="ui fluid huge red button"
                                ng-disabled="!isSetPasswordFormValid()"><%= __('FindPassword') %>
                        </button>
                    </div>
                </form>
                <div ng-show="passwordReset" ng-cloak>
                    <%- include('view-partial/password-reset.html') -%>
                </div>
                <div class="ui grid mobile-hidden">
                    <div class="nine wide column">
                        <%= __('ServicePhoneNumber') %> <%= __('ServicePhoneNumberValue') %>
                    </div>
                    <div class="seven wide column right aligned">
                        <a href="reset-password"><%= __('ResetPasswordViaMobile') %></a>
                    </div>
                </div>
                <div class="ui grid mobile" ng-hide="passwordReset">
                    <div class="eight wide column">
                        <%= __('ServicePhoneNumber') %> <br/> <%= __('ServicePhoneNumberValue') %>
                    </div>
                    <div class="eight wide column right aligned floated">
                        <a class="ui large red basic button no-wrap" href="reset-password"><%=
                            __('ResetPasswordViaMobile')
                            %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('view-partial/footer.html') -%>

<!--Page JS-->
<script src="js/page/set-password/main.js"></script>
</body>

</html>