<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('SEOTitle_SetPassword') %></title>
    <meta name="description" content="<%= __('SEODesc_SetPassword') %>">
    <%- include('view-partial/head.html') -%>
</head>

<body ng-app="setPassword" ng-controller="AppCtrl" class="b-background">
<%- include('view-partial/header.html') -%>
<%- include('../../client/views/partial/set-password.html') -%>
<%- include('view-partial/footer.html') -%>

<!--Page JS-->
<script src="<%= cdn.normal %>js/page/set-password/main.js?<%= cdn.version %>"></script>
<%- include('view-partial/external-js.html') -%>
</body>

</html>