<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>找回密码 - Bridge+</title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
    <!--LESS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="signIn" ng-controller="AppCtrl">
<%- include('view-partial/header.html') -%>
<div class="ui b-signin-wrapper subcontainer">
    <div class="ui column b-signin-container">
        <div class="b-signin-wide">
            <div class="ui center aligned container">
                <h2 class="grey color">找回密码</h2>
            </div>

            <div class="ui reset-by-email" ng-controller="SetPasswordCtrl">
                <form name="setPasswordForm" class="ui large form b-sign-up set-password"
                      ng-submit="trySetPassword()">
                    <div class="ui error message brand"></div>
                    <div class="ui">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="text" name="password" placeholder="请输入注册的邮箱地址"
                                       ng-model="setData.password">
                            </div>
                        </div>
                        <button type="submit" class="ui fluid huge red button"
                                ng-disabled="!isSetPasswordFormValid()">找回密码
                        </button>
                    </div>
                </form>
                <div class="ui grid">
                    <div class="nine wide column">
                        服务电话4008-111-111
                    </div>
                    <div class="seven wide column right aligned">
                        <a href="reset-password">手机重设密码</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('view-partial/footer.html') -%>
<!--JS-->
<script src="bower/jquery/dist/jquery.js"></script>
<script src="bower/jquery-address/src/jquery.address.js"></script>
<script src="bower/semantic-ui/dist/semantic.js"></script>
<script src="bower/underscore/underscore.js"></script>
<!--Angular JS-->
<script src="bower/angular/angular.min.js"></script>
<script src="bower/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--Page JS-->
<script src="js/factories/service.js"></script>
<script src="js/factories/MessageStore.js"></script>
<script src="js/controllers/AppCtrl.js"></script>
<script src="js/factories/FormValidation.js"></script>
<script src="js/page/register/main.js"></script>
<!--Utils JS-->
<script src="js/utils/utils.js"></script>
<script src="js/utils/msgbus.js"></script>
<script src="js/utils/underscore.js"></script>
</body>

</html>
