<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= __('StatementTitle') %></title>
    <meta name="description" content="Bridge+">
    <%- include('view-partial/head.html') -%>
</head>

<body ng-controller="AppCtrl" ng-app="bplus">
<%- include('view-partial/header.html') -%>
<!-- Page Contents -->
<div class="pusher">
    <div class="page-content">
    	<div class="b-statement-content">
    		<div class="ui container">
                <h1 class="statement-header"><%= __('StatementHeader') %></h1>
                <div class="ui divider"></div>

                <div class="b-statement-info">
                    <p class="info-header"><%= __('StatementInfo') %></p>
                    <h3 class="content"><%= __('StatementInfo1') %></h3>
                    <p class="content"><%= __('StatementInfoA1') %></p>

                    <h3 class="content"><%= __('StatementInfo2') %></h3>
                    <p class="content"><%= __('StatementInfoA2') %></p>
                    <h3 class="content"><%= __('StatementInfo3') %></h3>
                    <p class="content list"><%= __('StatementInfoA3A') %></p>
                    <p class="content list"><%= __('StatementInfoA3B') %></p>
                    <p class="content list"><%= __('StatementInfoA3C') %></p>

                    <h3 class="content"><%= __('StatementInfo4') %></h3>
                    <p class="content contact"><%= __('StatementInfoA4A') %></p>
                    <p class="content contact"><%= __('StatementInfoA4B') %></p>

                    <h3 class="content"><%= __('StatementInfo5') %></h3>
                    <p class="content"><%= __('StatementInfoA5') %></p>
                    <h3 class="content"><%= __('StatementInfo6') %></h3>
                    <p class="content"><%= __('StatementInfoA6') %></p>
                    <h3 class="content"><%= __('StatementInfo7') %></h3>
                    <p class="content"><%= __('StatementInfoA7') %></p>
                </div>
                <div class="ui divider middle"></div>
                <div class="b-statement-info">
                    <p class="info-header"><%= __('StatementLaw') %></p>
                    <h3 class="content"><%= __('StatementLaw1') %></h3>
                    <p class="content"><%= __('StatementLawA1A') %></p>
                    <p class="content"><%= __('StatementLawA1B') %></p>
                    <p class="content"><%= __('StatementLawA1C') %></p>

                    <h3 class="content"><%= __('StatementLaw2') %></h3>
                    <p class="content contact"><%= __('StatementLawA2A') %></p>
                    <p class="content contact"><%= __('StatementLawA2B') %></p>


                    <h3 class="content"><%= __('StatementLaw3') %></h3>
                    <p class="content contact"><%= __('StatementLawA3A') %></p>
                    <p class="content contact"><%= __('StatementLawA3B') %></p>

                    <h3 class="content"><%= __('StatementLaw4') %></h3>
                    <p class="content"><%= __('StatementLaw4A') %></p>
                    <p class="content"><%= __('StatementLawA4') %></p>
                    <p class="content list"><%= __('StatementLawA4A') %></p>
                    <p class="content list"><%= __('StatementLawA4B') %></p>
                    <p class="content list"><%= __('StatementLawA4C') %></p>
                    <p class="content list"><%= __('StatementLawA4D') %></p>
                        
                    <p class="content"><%= __('StatementLaw4B') %></p>
                    <p class="content"><%= __('StatementLawB4') %></p>
                    <p class="content list"><%= __('StatementLawB4A') %></p>
                    <p class="content list"><%= __('StatementLawB4B') %></p>
                    <p class="content list"><%= __('StatementLawB4C') %></p>
                    <p class="content list"><%= __('StatementLawB4D') %></p>
                    <p class="content list"><%= __('StatementLawB4E') %></p>

                    <p class="content"><%= __('StatementLaw4C') %></p>
                    <p class="content"><%= __('StatementLawC4') %></p>
                    <p class="content list"><%= __('StatementLawB4A') %></p>
                    <p class="content list"><%= __('StatementLawC4B') %></p>
                    <p class="content list"><%= __('StatementLawC4C') %></p>

                    <h3 class="content"><%= __('StatementLaw5') %></h3>
                    <p class="content"><%= __('StatementLaw5A') %></p>
                    <h3 class="content"><%= __('StatementLaw6') %></h3>
                    <p class="content"><%= __('StatementLaw6A') %></p>
                    <h3 class="content"><%= __('StatementLaw7') %></h3>
                    <p class="content"><%= __('StatementLaw7A') %></p>
                    <h3 class="content"><%= __('StatementLaw8') %></h3>

                </div>
                <div class="ui divider end"></div>
                <h3 class="statement-footer"><%= __('StatementWar1') %></h3>
                <h3 class="statement-footer"><%= __('StatementWar2') %></h3>
    		</div>
    	</div>
    </div>

</div>
<%- include('view-partial/footer.html') -%>
<!--JS-->
<script src="<%= cdn.normal %>bower/owl.carousel/dist/owl.carousel.js"></script>
<!--Page JS-->
<script src="js/controllers/AppCtrl.js"></script>
<script src="js/page/footer/main.js"></script>
</body>

</html>
