<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta content='IE=edge' http-equiv='X-UA-Compatible'>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--ICON-->
	<link rel="apple-touch-icon" sizes="57x57" href="<%= cdn.normal %>icon/apple-icon-57x57.png?<%= cdn.version %>">
	<link rel="apple-touch-icon" sizes="60x60" href="<%= cdn.normal %>icon/apple-icon-60x60.png?<%= cdn.version %>">
	<link rel="apple-touch-icon" sizes="72x72" href="<%= cdn.normal %>icon/apple-icon-72x72.png?<%= cdn.version %>">
	<link rel="apple-touch-icon" sizes="76x76" href="<%= cdn.normal %>icon/apple-icon-76x76.png?<%= cdn.version %>">
	<link rel="apple-touch-icon" sizes="114x114" href="<%= cdn.normal %>icon/apple-icon-114x114.png?<%= cdn.version %>">
	<link rel="apple-touch-icon" sizes="120x120" href="<%= cdn.normal %>icon/apple-icon-120x120.png?<%= cdn.version %>">
	<link rel="apple-touch-icon" sizes="144x144" href="<%= cdn.normal %>icon/apple-icon-144x144.png?<%= cdn.version %>">
	<link rel="apple-touch-icon" sizes="152x152" href="<%= cdn.normal %>icon/apple-icon-152x152.png?<%= cdn.version %>">
	<link rel="apple-touch-icon" sizes="180x180" href="<%= cdn.normal %>icon/apple-icon-180x180.png?<%= cdn.version %>">
	<link rel="icon" type="image/png" sizes="192x192"
	      href="<%= cdn.normal %>icon/android-icon-192x192.png?<%= cdn.version %>">
	<link rel="icon" type="image/png" sizes="32x32" href="<%= cdn.normal %>icon/favicon-32x32.png?<%= cdn.version %>">
	<link rel="icon" type="image/png" sizes="96x96" href="<%= cdn.normal %>icon/favicon-96x96.png?<%= cdn.version %>">
	<link rel="icon" type="image/png" sizes="16x16" href="<%= cdn.normal %>icon/favicon-16x16.png?<%= cdn.version %>">
	<link rel="manifest" href="<%= cdn.normal %>icon/manifest.json?<%= cdn.version %>">
	<link rel="shortcut icon" href="<%= cdn.normal %>icon/favicon.ico?<%= cdn.version %>"/>
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="<%= cdn.normal %>icon/ms-icon-144x144.png?<%= cdn.version %>">
	<meta name="theme-color" content="#ffffff">
	<!--CSS-->
	<link rel="stylesheet" type="text/css"
	      href="<%= cdn.normal %>bower/semantic-ui/dist/semantic.min.css?<%= cdn.version %>">
	<link rel="stylesheet" type="text/css" href="<%= cdn.normal %>css/hp.css?<%= cdn.version %>">
	<!--[if lt IE 9]>
    	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
   	<![endif]-->
</head>
<body>
	<div class="pusher">
		<div class="hp-mastead youth">
			<div class="ui container">
				<div class="header-wechat">
					<img src="<%=cdn.normal%>img/hp/header_wechat.jpg?<%=cdn.version%>">
					<p class="wechat">微信扫一扫</p>
					<p class="wechat">关注该公众号</p>
				</div>

				<p class="header-title">MarkSimos全民商战模拟游戏大赛</p>
				<p class="header-content">(18~22岁)</p>
				<button class="ui button hp-button-gray">等你来战</button>

				<p class="header-content">其他组别</p>
				<div class="link-item">
					<a href="www.hcdglobal.com/teenage.html" class="header-link">18岁以下 ></a>
				</div>
				<div class="link-item">
					<a href="www.hcdglobal.com/adult.html" class="header-link">22岁以上 ></a>
				</div>

				<i class="hp icon"></i>
			</div>
		</div>
		<div class="hp-header-title">
			<h1>商战模拟游戏大赛介绍</h1>
		</div>

		<div class="hp-white-space">
			<div class="ui container">
				<p class="title">
					<span>1</span> 大赛简介
				</p>
				<p class="content">
					MarkSimos商战模拟游戏大赛（以下简称MS大赛），是由合得国际与Bridge+联合主办的全民性商战模拟游戏大赛，旨在将之前只有世界级高等学府和500强企业在用的模拟游戏训练方式推广到更广泛的社会群体，让人人都可以有机会接触和感受与世界同步的学习体验。
				</p>
				<p class="content">
					MS大赛的举办时间是2015年11月到2016年2月，届时将有来自中学生、大学生、个人和企业群体数万名参赛选手组成四大战区，通过合得的社会化在线游戏学习引擎MarkSimos 同台竞技，MS大赛采用海选淘汰制，每轮角逐只会有一个小组胜出，最终四个大区的四个冠军小组将代表各自大区进行总决赛，总决赛的冠军小组将会获得神秘大奖。
				</p>
				<div class="ui grid">
					<div class="middle aligned row">
						<div class="seven wide column">
							<img src="<%=cdn.normal%>img/hp/mk-pc.png?<%=cdn.version%>">
						</div>
						<div class="nine wide column text-right">
							<img src="<%=cdn.normal%>img/hp/mk-learn.png?<%=cdn.version%>">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hp-gray-space">
			<div class="ui container">
				<p class="title">
					<span>2</span> 大赛宗旨
				</p>
				<h2 class="sub-title">游戏化学习时代的到来</h2>
				<p class="content">
					经济学家爱德华·卡斯特罗诺瓦（Edward Castronova）曾指出，人类社会出现了向游戏空间“大规模迁移”的现象，全世界数亿人在游戏上投入了大量的时间。尤其是“85后”、“90后”这些所谓的“新人类”，更是伴随着多屏幕、视频游戏长大起来的技术达人、社交网络达人、游戏达人。因此，通过将游戏的元素和机制融入学习设计之中，提高学习的乐趣和学习者的参与感，成为一个自然的选择，也是大势所趋。这就是当前企业学习发展领域的热门话题——“游戏化（Gamification）”。
				</p>
				<p class="content">
					据著名IT调研公司Gartner公司2011年预测，未来5年将有超过70%的全球性机构拥有至少一个“游戏化”的应用。Gartner分析师表示，游戏化将是一个显著的发展趋势。
				</p>
			</div>
		</div>

		<div class="hp-white-space">
			<div class="ui container">
				<p class="title">
					<span>3</span> 大赛缘起
				</p>
				<div class="ui grid two column">
					<div class="column">
						<h2 class="sub-title">
							MarkSimos营销商战模拟游戏
						</h2>
						<p class="intensive-content">
							模拟技术最早是用于军事应用，二战时期为了降低实弹战场的伤亡率，美苏德等军事大国纷纷开始投入资金技术用模拟训练来代替实弹演习，提升士兵在战场上的反应能力和战斗能力，特别是在飞行员和宇航员等项目上，模拟训练发挥了巨大的作用，甚至对飞行员的考核之一就包含模拟飞行的训练时间。
						</p>
						<p class="intensive-content">
							上个世纪70年代，欧洲工商管理学院的Jean-Claude Larreche 和Hubert Gatignon 两位教授不满于传统学习方式，开发了在“做中学”的商战模拟程序，这是根据商业运营模型为基础的一种有次序的决策练习，以提高学生决策能力。这次实验掀开了世界商战模拟游戏学习革命的序幕，成为了MarkSimos诞生的催化剂。
						</p>
					</div>
					<div class="column simulation">
						<img src="<%=cdn.normal%>img/hp/simulation.png?<%=cdn.version%>">
					</div>
					<div class="bottom aligned row">
						<div class="four wide column info-column-left">
							<img src="<%=cdn.normal%>img/hp/wf.png?<%=cdn.version%>" style="width:100%">
						</div>
						<div class="twelve wide column info-column-right">
							<p class="content">
								世界商战模拟游戏学习革命的序幕被拉开之后，经历了无数次的迭代升级，最终由世界级营销大师温伟德教授(Wilfried Vanhonacker) 指导世界一流研发团队研发出MarkSimos营销商战模拟游戏，成为商战模拟游戏的集大成者。
							</p>
							<div class="info-content">
								<p class="content">
									温伟德教授是合得国际首批签约的世界级大师之一。之前曾任俄罗斯总统顾问，是莫斯科SKOLKOVO商学院前院长，是原中欧国际工商学院早期联合创始人之一、前院长。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hp-gray-dark-space">
			<div class="ui container">
				<p class="title">
					<span>4</span> 大赛背景
				</p>
				<h2 class="sub-title">合得MarkSimos掀起游戏学习革命</h2>
				<p class="content">
					MarkSimos商战模游戏将最先进的体验式学习、反思型学习 与 社会化学习 理念融为一体， 倡导“做中学”、“玩中学”、“竞争中学”。它的仿真模拟技术源自于军事仿真模拟，基于数据建模与大数据的分析技术，结合商业智能与商业视觉技术，动态再现真实的市场环境和典型的管理挑战，零风险进行重大商业竞争决策的实操练习。
				</p>
				<p class="content">
					MarkSimos商战模拟游戏诞生之后，被合得国际带入中国，为可口可乐、TCL、腾讯、百度、中广核、拜耳、北京农商银行、OPPO、VIVO、淘宝大学、旺旺、国家广电总局等众多知名企业和机构用于培养其核心管理团队和高潜力的储备干部。
				</p>

				<div class="ui horizontal list partners">
					<div class="item">
						<img src="<%=cdn.normal%>img/hp/1x/bayer.png?<%=cdn.version%>">
					</div>
					<div class="item">
						<img src="<%=cdn.normal%>img/hp/1x/cas.png?<%=cdn.version%>">
					</div>
					<div class="item">
						<img src="<%=cdn.normal%>img/hp/1x/ceibs.png?<%=cdn.version%>">
					</div>
					<div class="item">
						<img src="<%=cdn.normal%>img/hp/1x/cocacola.png?<%=cdn.version%>">
					</div>
					<div class="item">
						<img src="<%=cdn.normal%>img/hp/1x/fudan.png?<%=cdn.version%>">
					</div>
					<div class="item">
						<img src="<%=cdn.normal%>img/hp/1x/huawei.png?<%=cdn.version%>">
					</div>
					<div class="item">
						<img src="<%=cdn.normal%>img/hp/1x/shufe.png?<%=cdn.version%>">
					</div>
					<div class="item">
						<img src="<%=cdn.normal%>img/hp/1x/suning.png?<%=cdn.version%>">
					</div>
					<div class="item">
						<img src="<%=cdn.normal%>img/hp/1x/tencent.png?<%=cdn.version%>">
					</div>
					<div class="item">
						<img src="<%=cdn.normal%>img/hp/1x/tsinghua.png?<%=cdn.version%>">
					</div>
				</div>

				<p class="content">
					2013年起MarkSimos模拟游戏被陆续引入清华大学、复旦大学、上海财经大学、中央财经大学、中科院、华中科技大学等国内一流院校MBA课程。
				</p>
			</div>
		</div>

		<div class="hp-gray-space">
			<div class="ui container">
				<p class="title">
					<span>5</span> 大赛规则
				</p>
				<h2 class="sub-title">MarkSimos商战模拟游戏规则</h2>

				<p class="content">
					MarkSimos模拟了一个高度竞争的新兴市场，有多家公司在该市场中平行竞争，每个小组接手管理虚拟世界中的一家公司，你们将进行4-6轮决策，每个阶段代表现实世界中的一个季度。最后以相对增加的市场份额和累计净利润决定优胜者。
				</p>

				<h2 class="sub-title text-center">
					你只需要
				</h2>
				<div class="ui grid game">
					<div class="column">
						<img class="ui avatar image small" src="<%=cdn.normal%>img/hp/icon/computer.png?<%=cdn.version%>">
						<div class="content">
							<p>一台电脑</p>
						</div>
					</div>
					<div class="column">
						<img class="ui avatar image small" src="<%=cdn.normal%>img/hp/icon/team.png?<%=cdn.version%>">
						<div class="content">
							<p>三五个知己</br>（你的同事、好友、家人）</p>
						</div>
					</div>
					<div class="column">
						<img class="ui avatar image small" src="<%=cdn.normal%>img/hp/icon/net.png?<%=cdn.version%>">
						<div class="content">
							<p>网路连接</p>
						</div>
					</div>
				</div>

				<h2 class="sub-title text-center danger">
					你就可以得到可口可乐、腾讯、苏宁等一流企业管理者同样的学习机会！
				</h2>

				<div class="ui three column grid game-pic">
					<div class="column">
						<img src="<%=cdn.normal%>img/hp/pic-1.png?<%=cdn.version%>">
					</div>
					<div class="column">
						<img src="<%=cdn.normal%>img/hp/pic-2.png?<%=cdn.version%>">
					</div>
					<div class="column">
						<img src="<%=cdn.normal%>img/hp/pic-3.png?<%=cdn.version%>">
					</div>
					<div class="column">
						<img src="<%=cdn.normal%>img/hp/pic-4.png?<%=cdn.version%>">
					</div>
					<div class="column">
						<img src="<%=cdn.normal%>img/hp/pic-5.png?<%=cdn.version%>">
					</div>
				</div>
			</div>
		</div>

		<div class="hp-white-space">
			<div class="ui container">
				<p class="title">
					<span>6</span> 大赛赛制
				</p>

				<div class="format-grid-parent">
					<div class="ui grid two column format-grid">
						<div class="column left">
							<div class="ui list">
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>对象:</b>全职工作,代表个人参赛
									</p>
								</div>
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>规模:</b>40,000人
									</p>
								</div>
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>特点:</b>寻找就业或创业契机，渴望通过大赛一展长才，证明实力和能力，获得关注的机会。
									</p>
								</div>
							</div>
						</div>
						<div class="column right">
							<div class="ui list">
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>对象:</b>初中生或高中生
									</p>
								</div>
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>规模:</b>10,000人
									</p>
								</div>
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>特点:</b>体验引领时代的学习方式，通过体验式学习，以高度模拟动态竞争当中，启发商业直觉，以及未来作为职业经理人或经商创业的天赋。
									</p>
								</div>
							</div>
						</div>
						<div class="column left bottom">
							<div class="ui list">
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>对象:</b>全职工作,代表企业参赛
									</p>
								</div>
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>规模:</b>30,000人
									</p>
								</div>
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>特点:</b>员工代表所属企业参加全国大赛，提升雇主品牌知名度，让全体员工上下一心为参赛队伍摇旗呐喊。提升企业整体士气，让员工为企业争光，增加归属感。
									</p>
								</div>
							</div>
						</div>
						<div class="column right bottom">
							<div class="ui list">
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>对象:</b>本科、研究生、博士班
									</p>
								</div>
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>规模:</b>40,000人
									</p>
								</div>
								<div class="item">
									<p class="format-content">
										<i class="circle icon"></i><b>特点:</b>学生为争取求职或创业机会，通过大赛提升个人知名度，让无穷潜力得以被雇主或投资人看见，一战成名！
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--1-->
				<div class="ui grid national-grid">
					<div class="middle aligned row">
						<div class="two wide column">
							<img src="<%=cdn.normal%>img/hp/icon/x1.png?<%=cdn.version%>">
						</div>
						<div class="fourteen wide column">
							<div class="pk-column">
								<div class="header national">
									<h1>全国总冠军赛</h1>
								</div>
								<div class="footer">
									<p>2016年1月10日 - 11日</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui grid national-grid">
					<div class="middle aligned row">
						<div class="two wide column"></div>
						<div class="fourteen wide column">
							<div class="ui grid four column list-grid">
								<div class="column">
									<img src="<%=cdn.normal%>img/hp/icon/personal.png?<%=cdn.version%>">
								</div>
								<div class="column">
									<img src="<%=cdn.normal%>img/hp/icon/company.png?<%=cdn.version%>">
								</div>
								<div class="column">
									<img src="<%=cdn.normal%>img/hp/icon/student.png?<%=cdn.version%>">
								</div>
								<div class="column">
									<img src="<%=cdn.normal%>img/hp/icon/youth.png?<%=cdn.version%>">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--2-->
				<div class="ui grid national-grid">
					<div class="middle aligned row">
						<div class="two wide column">
							<img src="<%=cdn.normal%>img/hp/icon/x2.png?<%=cdn.version%>">
						</div>
						<div class="fourteen wide column">
							<div class="ui grid four column list-grid">
								<div class="pk-column column">
									<div class="header personal">
										<h1>个人组</h1>
										<h3>冠军赛</h3>
									</div>
									<div class="footer">
										<p>2015年12月6日</p>
									</div>
								</div>
								<div class="pk-column column">
									<div class="header company">
										<h1>企业组</h1>
										<h3>冠军赛</h3>
									</div>
									<div class="footer">
										<p>2015年12月6日</p>
									</div>
								</div>
								<div class="pk-column column">
									<div class="header student">
										<h1>大学生组</h1>
										<h3>冠军赛</h3>
									</div>
									<div class="footer">
										<p>2015年12月20日</p>
									</div>
								</div>
								<div class="pk-column column">
									<div class="header youth">
										<h1>青少年组</h1>
										<h3>冠军赛</h3>
									</div>
									<div class="footer">
										<p>2015年12月13日</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui grid national-grid">
					<div class="middle aligned row">
						<div class="two wide column"></div>
						<div class="fourteen wide column">
							<div class="ui grid four column list-grid">
								<div class="column">
									<img src="<%=cdn.normal%>img/hp/icon/personal.png?<%=cdn.version%>">
								</div>
								<div class="column">
									<img src="<%=cdn.normal%>img/hp/icon/company.png?<%=cdn.version%>">
								</div>
								<div class="column">
									<img src="<%=cdn.normal%>img/hp/icon/student.png?<%=cdn.version%>">
								</div>
								<div class="column">
									<img src="<%=cdn.normal%>img/hp/icon/youth.png?<%=cdn.version%>">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--3-->
				<div class="ui grid national-grid">
					<div class="middle aligned row">
						<div class="two wide column">
							<img src="<%=cdn.normal%>img/hp/icon/x3.png?<%=cdn.version%>">
						</div>
						<div class="fourteen wide column">
							<div class="ui grid four column list-grid">
								<div class="pk-column column">
									<div class="header personal">
										<h1>个人组</h1>
										<h3>初赛</h3>
									</div>
									<div class="footer">
										<p>2015年11月</p>
									</div>
								</div>
								<div class="pk-column column">
									<div class="header company">
										<h1>企业组</h1>
										<h3>初赛</h3>
									</div>
									<div class="footer">
										<p>2015年11月</p>
									</div>
								</div>
								<div class="pk-column column">
									<div class="header student">
										<h1>大学生组</h1>
										<h3>初赛</h3>
									</div>
									<div class="footer">
										<p>2015年11月</p>
									</div>
								</div>
								<div class="pk-column column">
									<div class="header youth">
										<h1>青少年组</h1>
										<h3>初赛</h3>
									</div>
									<div class="footer">
										<p>2015年11月</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hp-gray-space">
			<div class="ui container">
				<p class="title">
					<span>7</span> 大赛主办方
				</p>

				<div class="ui grid hcd">
					<div class="middle aligned row">
						<div class="three wide column">
							<img src="<%=cdn.normal%>img/hp/hcd-logo.png?<%=cdn.version%>">
						</div>
						<div class="thirteen wide column">
							<h2 class="sub-title">合得国际</h2>
							<p class="content">
								MS大赛的主办机构合得国际（HCD Learning）是创新学习领域的全球领导品牌，是第一个把电脑商战模拟游
								戏带入企业管理培训的机构, 也是拥有全球电脑商战模拟技术研发团队的机构。
							</p>
						</div>
					</div>
				</div>
				<div class="hp-tech">
					<p class="title">科技如何让学习更简单</p>
					<div class="ui grid five column">
						<div class="column">
							<img class="ui avatar image small" src="<%=cdn.normal%>img/hp/icon/hcd-1.png?<%=cdn.version%>">
						</div>
						<div class="column">
							<img class="ui avatar image small" src="<%=cdn.normal%>img/hp/icon/hcd-2.png?<%=cdn.version%>">
						</div>
						<div class="column">
							<img class="ui avatar image small" src="<%=cdn.normal%>img/hp/icon/hcd-3.png?<%=cdn.version%>">
						</div>
						<div class="column">
							<img class="ui avatar image small" src="<%=cdn.normal%>img/hp/icon/hcd-4.png?<%=cdn.version%>">
						</div>
						<div class="column">
							<img class="ui avatar image small" src="<%=cdn.normal%>img/hp/icon/hcd-5.png?<%=cdn.version%>">
						</div>
					</div>
					<p class="sub-title">Fulfilling Technology’s Promise to Education:</p>
					<h2>How Much Can Technology Help Us Teach and Learn?</h2>
				</div>

				<p class="content">
					合得国际凭借其全球性智库网络和先进的商战模拟游戏平台，为世界500强企业（可口可乐、耐克等）与中国500强企业 ( 阿里巴巴、百度、腾讯、苏宁等)提供商战模拟游戏的综合实训解决方案，同时也为大学和商学院的企业家学员（包括清华、中欧、复旦等）提供仿真度极高的商战模拟训练产品。
				</p>

				<div class="ui divider"></div>

				<div class="ui grid bpuls">
					<div class="middle aligned row">
						<div class="four wide column">
							<img src="<%=cdn.normal%>img/hp/b-logo.png?<%=cdn.version%>">
						</div>
						<div class="twelve wide column">
							<h2 class="sub-title">Bridge+</h2>
							<p class="content">
								Bridge+致力于将在线商战模拟游戏推广到中国的高校和年轻人群体，借助在线模拟训练和丰富的企业资源，构建从学校到企业之间的实训平台，帮助更多的年轻人实现梦想。
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="hp-contract-space">
			<h1>商务合作</h1>
			<p class="content">邮箱: ms2015@hcdlearning.com </p>
			<img src="<%=cdn.normal%>img/hp/qrcode_hcd_service.jpg?<%=cdn.version%>">
			<p class="footer-title">大赛夺冠攻略全在这</p>
			<button class="ui button hp-button-red">阅读原文</button>
		</div>

	</div>
</body>
</html>
