mixin unfinishedCourseBlocks(c)
    td(style="position: relative", class="dimmable", ng-mouseleave="hideDimmer($event)")
        div(class="ui dimmer")
            div.content
                div.center
                    i(class="big long arrow right icon")
                    div 火速邀请小伙伴
        a(class="ui transparent right corner label", ng-mouseenter="showDimmer($event)", ng-mouseover="showDimmer($event)")
            i(class="share alternate icon")
        bopdcompetitiveness(data="{progressRate: #{c}.status}")
    td
        p(class="red hover") 距离课程开始还有2天
        p
            button(class="ui button", ng-class="{'black': hovering[$index], 'grey': !hovering[$index]}") 进入视频课

mixin finishedUnratedCourseBlocks(c)
    td 尚未评价
    td
        button(class="ui black button", ng-click="showRating=true", ng-disabled="showRating") 立刻评价

mixin finishedRatedCourseBlocks(c)
    td
        div(class="ui star rating", data-max-rating="5", data-rating="4")
    td
        button(class="ui black button") 评价详情

mixin courseTable()
    table(class="ui basic table positions hoverable", style="border: none; background-color: white;")
        block

mixin courseTableColumnDef()
    colgroup
        col
        col(style="background-color: #f6f6f6;")
        col
        col(style="background-color: #f6f6f6;")

mixin courseTableHead()
    thead
        tr
            block

mixin courseTableHeader
    + courseTableColumnDef
    + courseTableHead
        block

mixin courseTableBody(courses)
    tbody
        tr(ng-mouseenter="hovering[$index]=true", ng-mouseleave="hovering[$index]=false", ng-repeat-start="c in #{courses} track by $index")
            td
                h4(class="ui header") {{c.name}}
                    div(class="sub header")  {{c.teacher}}
            td
                p {{c.startDate}}
                p {{c.startTime}}~{{c.endTime}}
            block
        tr.rating(ng-repeat-end, ng-show="showRating")
            td(colspan="4", style="padding: 0;")
                form(class="ui form")
                    div(style="padding: 20px;")
                        div(class="field")
                            label 发表评论
                            textarea(rows="2")
                    div(class="inline field", style="background-color: #f9f9f9; padding: 5px 20px;")
                        label 总体评分
                        div(class="ui mini star rating", data-max-rating="5", data-rating="5")
                    div(style="padding: 20px;")
                        div(class="inline field")
                            label(ng-bind="'准时\u2001\u2001'")
                            div(class="ui mini star rating", data-max-rating="5", data-rating="4")
                        div(class="inline field")
                            label(ng-bind="'专业度\u2001'")
                            div(class="ui mini star rating", data-max-rating="5", data-rating="5")
                        div(class="inline field")
                            label 通话质量
                            div(class="ui mini star rating", data-max-rating="5", data-rating="4")
                        div(class="inline field")
                            label(ng-bind="'态度\u2001\u2001'")
                            div(class="ui mini star rating", data-max-rating="5", data-rating="4")
                            div(class="right floated")
                                button(class="ui mini black button", type="reset") 取消
                                button(class="ui mini red button", type="submit") 完成

    tfoot
        tr
            th(colspan="4")
                h4(class="ui white header center aligned") 查看更多


mixin unfinishedCourseTable(courses)
    + courseTable
        + courseTableHeader
            th
                h4(class="ui white header left aligned") 课程名称
            th
                h4(class="ui white header left aligned") 开课时间
            th
                h4(class="ui white header left aligned") 开课状态
            th
                h4(class="ui white header left aligned") 操作
        + courseTableBody(courses)
            + unfinishedCourseBlocks('c')

mixin finishedCourseTable(courses, header)
    + courseTable
        + courseTableHeader
            th(colspan="4")
                h4(class="ui white header left aligned") #{header}
        + courseTableBody(courses)
            block

mixin finishedUnratedCourseTable(courses)
    + finishedCourseTable(courses, '待评价')
        + finishedUnratedCourseBlocks('c')

mixin finishedRatedCourseTable(courses)
    + finishedCourseTable(courses, '已评价')
        + finishedRatedCourseBlocks('c')


mixin sticky
    div(class="right ui rail", style="margin: 0; padding: 0;")
        div(class="ui sticky")
            div(style="background-color: rgba(0, 0, 0, 0.8); color: white; padding: 5px; width: 2em; text-orientation: upright;") 今日课程