html
    head
        title!= title
        // <%- include("/../client/www/view-partial/head.html") -%>
    body
        // <%- include("/../client/www/view-partial/header.html") -%>
        h1!= message
        p!=test
        // <%- include("/../client/www/view-partial/footer.html") -%>
