block customizedHead
    include ../www/view-partial/slim-head.html
block customizedHeader
    include ../www/view-partial/header.html
block customizedFooter
    include ../www/view-partial/footer.html
    include ../www/view-partial/external-js.html