<div class="ui inverted vertical footer">
    <div class="ui container">
        <div class="ui horizontal list footer-list">
            <div class="item">
                <div class="content">
                    <a class="header" href="##" ng-cloak><span>|</span> {{'FooterAboutUs' | translate}}</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header" href="##" ng-cloak><span>|</span> {{'FooterBusinessCooperation' | translate}}</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header" href="##" ng-cloak><span>|</span> {{'FooterContactUs' | translate}}</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header" href="##" ng-cloak><span>|</span> {{'FooterJoinUs' | translate}}</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header" href="##" ng-cloak><span>|</span> {{'FooterServiceStatement' | translate}}</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header" href="##" ng-cloak><span>|</span> {{'FooterFeedbacks' | translate}}</a>
                </div>
            </div>
            <div class="item footer-wechat-share" data-html="<img src='/img/b-wechat.jpg' class='ui large image'>" data-position="left center">
                <img class="ui tiny image wechat" src="/img/b-wechat.jpg">
            </div>
        </div>

        <p class="b-copyright floatd left" ng-cloak>&copy; 2015 Bridge+ {{'FooterReserved' | translate}} | {{'FooterLicense' | translate}}</p>
    </div>
</div>

<!-- build:js js/cdn/lib.<%= grunt.file.readJSON('package.json').version %>_<%= grunt.file.readJSON('package.json').date %>.js -->
<script src="bower/jquery/dist/jquery.min.js"></script>
<script src="bower/semantic-ui/dist/semantic.min.js"></script>
<script src="bower/underscore/underscore-min.js"></script>
<script src="bower/jquery-address/src/jquery.address.js"></script>
<!--Angular JS-->
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-translate/angular-translate.min.js"></script>
<!-- endbuild -->

<!-- build:js js/cdn/combined1.<%= grunt.file.readJSON('package.json').version %>_<%= grunt.file.readJSON('package.json').date %>.js -->
<script src="js/factories/service.js"></script>
<script src="js/factories/MessageStore.js"></script>
<script src="js/config/translate.js"></script>
<script src="js/config/xhr.js"></script>
<script src="js/factories/translationLoader.js"></script>
<!-- endbuild -->
<%# TODO: minify and combine ? %>
<script src="<%= cdn.normal %>translation/localeHelper.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>config.js?<%= cdn.version %>"></script>
<!-- build:js js/cdn/combined2.<%= grunt.file.readJSON('package.json').version %>_<%= grunt.file.readJSON('package.json').date %>.js -->
<script src="js/factories/FormValidation.js"></script>
<script src="js/controllers/AppCtrl.js"></script>
<!--Utils JS-->
<script src="/js/utils/utils.js"></script>
<script src="/js/utils/msgbus.js"></script>
<script src="/js/utils/underscore.js"></script>
<!-- endbuild -->

<script type="text/javascript">
$('.footer-wechat-share').popup({
    on: 'hover',
});
</script>