<div>
	<img src="<%= cdn.normal %>img/salespage/gif/banner_seasons.gif?<%= cdn.version %>" width="100%" style="max-width:843px">
</div>

<div class="season-content">
	<div class="timeline">
		<div class="timeline-content first">
			<div class="ui three column grid timeline-content-grid available">
				<div class="three wide column"><p class="text-right">2015.12.31</p></div>
				<div class="one wide column time-line">
				</div>
				<div class="twelve wide column">
					<div class="ui card season-card fluid available">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									还有10天结束
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui card season-card fluid">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									报名额满
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui card season-card fluid available">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									还有10天结束
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-content">
			<div class="ui three column grid timeline-content-grid available">
				<div class="three wide column"><p class="text-right">2015.12.31</p></div>
				<div class="one wide column time-line">
				</div>
				<div class="twelve wide column">
					<div class="ui card season-card fluid available">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									还有10天结束
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui card season-card fluid">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									还有10天结束
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui card season-card fluid">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									还有10天结束
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-content">
			<div class="ui three column grid timeline-content-grid">
				<div class="three wide column"><p class="text-right">2015.12.31</p></div>
				<div class="one wide column time-line">
				</div>
				<div class="twelve wide column">
					<div class="ui card season-card fluid">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									还有10天结束
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-content">
			<div class="ui three column grid timeline-content-grid">
				<div class="three wide column"><p class="text-right">2015.12.31</p></div>
				<div class="one wide column time-line">
				</div>
				<div class="twelve wide column">
					<div class="ui card season-card fluid">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									还有10天结束
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui card season-card fluid">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									还有10天结束
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-content last">
			<div class="ui three column grid timeline-content-grid">
				<div class="three wide column"><p class="text-right">2015.12.31</p></div>
				<div class="one wide column time-line">
				</div>
				<div class="twelve wide column">
					<div class="ui card season-card fluid">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									还有10天结束
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui card season-card fluid">
						<div class="content season-name">
							<div class="header">Bridge+青年商业实战大赛 华东赛区</div>
						</div>
						<div class="content">
							<div class="description">
								<div class="left floated" ng-cloak>
									<i class="user icon"></i>
									731{{'MapSeasonPersons' | translate}}
								</div>
								<div class="right floated">
									还有10天结束
								</div>
							</div>
						</div>
						<div class="ui dimmer season-dimmer">
							<div class="content">
								<div class="center">
									<p>说明文字说明文字说明文字
										说明文字说明文字说明文字
										说明文字说明文字说明文字
									</p>
									<div class="ui label dimmer-label">查看详情</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('.season-card').dimmer({
	on: 'click'
});
</script>