<div class="ui modal b-game-detail">
    <div class="ui red header"><%= __('早鸟报名，你会获得') %></div>
    <div class="content">
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    <img src="<%= cdn.normal %>img/game-detail/1.jpg?<%= cdn.version %>">
                </div>
                <div class="content">
                    <div class="ui red header">1. <%= __('教练点评与职涯答疑') %></div>
                    <div class="description">
                        <p><%=
                            __('具若干年行业经验的教练将会根据游戏中的决策结果事前进行精辟的商业分析，并给予点评。除了能详细的回答你们游戏中的问题外，你们更能选择事先发出个人简历，让教练做出职涯解惑。')
                            %></p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="ui tiny image">
                    <img src="<%= cdn.normal %>img/game-detail/2.jpg?<%= cdn.version %>">
                </div>
                <div class="content">
                    <div class="ui red header">2. <%= __('团队参赛结果报告') %></div>
                    <div class="description">
                        <p><%= __('透过数万个参赛队伍的大数据，我们将会进行深度的数据挖掘，精准的呈现出你们的问题，把你们的队伍的决策结果深度的剖析。最后由专家亲自撰写点评，给你最精辟的建议!')
                            %></p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="ui tiny image">
                    <img src="<%= cdn.normal %>img/game-detail/3.jpg?<%= cdn.version %>">
                </div>
                <div class="content">
                    <div class="ui red header">3. <%= __('顶级商学院创始人背书的奖状/证书') %></div>
                    <div class="description">
                        <p><%=
                            __('本次大赛的核心运行系统作者中欧工商学院(CEIBS)联合创始人温教授将亲自署名背书。我们将透过你在比赛中的成绩评比等级，支持中、英、俄三种语言，让你顺利申请名校、保研与国奖。')
                            %></p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="ui tiny image">
                    <img src="<%= cdn.normal %>img/game-detail/4.jpg?<%= cdn.version %>">
                </div>
                <div class="content">
                    <div class="ui red header">4. <%= __('只要你现在支持我们，Bridge+加码赠送独家限量造型U盘') %></div>
                    <div class="description">
                        <p><%=
                            __('这很可能不止是U盘。我们准备了100个存著精华求职、留学、考试、商学等四大主题的干货。包含了各大行业简历精选、面经集锦、各大投行谘询、名校MBA的casebook、CFA、CPA、GRE、GMAT应考资料、20本世界知名的管理、经济与金融原文教科书。让你拥有世界顶尖人才所使用的资源。')
                            %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui red approve button"><%= __('我知道了') %></div>
    </div>
</div>