<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Following(fixed) Menu -->
<div class="ui center aligned container brand message-wrapper" ng-show="message && !hideMessage" ng-cloak>
    <div class="ui black brand message">
        {{message}}
        <i class="large remove circle icon" ng-click="hideMessage = true"></i>
    </div>
</div>

<div class="ui top fixed hidden b-header" data-action="fixedHeader">
    <div class="ui menu b-header-account">
        <div class="ui container">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>

            <div class="right item">
                <a href="<%= localeLink('signin#/login') %>" class="ui button"><%= __('SignIn') %></a>
                <a href="<%= localeLink('signin#register') %>" class="ui button"><%= __('SignUp') %></a>
                <a ng-href="<%= otherLocaleLink %>{{hash}}" class="ui button"><%= __('otherLocale') %></a>
            </div>
        </div>
    </div>
    <div class="ui menu b-header-nav">
        <div class="ui container">
            <a href="#" class="b-header-logo">
                <img src="img/logo.png" height="60">
            </a>

            <div class="right item">
                <a href="<%= localeLink('/index') %>" class="ui button nav-button"><%= __('Home') %></a>
                <a href="<%= localeLink('/study') %>" class="ui button nav-button"><%= __('Learn') %></a>
                <a href="<%= localeLink('/game') %>" class="ui button nav-button"><%= __('Play') %></a>
                <a href="<%= localeLink('/opportunity') %>" class="ui button nav-button"><%= __('Opportunity') %></a>
            </div>
        </div>
    </div>
</div>
<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a href="<%= localeLink('/index') %>" class="item active"><%= __('Home') %></a>
    <a href="<%= localeLink('/study') %>" class="item"><%= __('Learn') %></a>
    <a href="<%= localeLink('/game') %>" class="item"><%= __('Play') %></a>
    <a href="<%= localeLink('/opportunity') %>" class="item"><%= __('Opportunity') %></a>
</div>
<!-- Initial Menu -->
<div class="ui b-header">
    <div class="ui menu b-header-account">
        <div class="ui container">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>

            <div class="right item">
                <% if (typeof hcd_user !== 'undefined' && hcd_user.member_id) { %>
                <div class="ui right dropdown b-profile item" ng-cloak>
                    <img ng-src="{{memberInfo.avatar || 'img/anonymous_default.png'}}" class="ui circular image avatar">
                    <span class="ui button">{{memberInfo.displayName}} <i class="large angle down icon"></i></span>

                    <div class="ui inverted vertical center aligned b-profile menu">
                        <img
                                ng-src="{{memberInfo.avatar || (memberInfo.gender ? 'img/male_default.png' : 'img/female_default.png')}}"
                                class="ui circular image avatar">
                        <a class="center aligned item" href="<%= localeLink('profile') %>"><%= __('Profile') %></a>
                        <a class="center aligned item" href="<%= localeLink('account-setting') %>"><%=
                            __('AccountSetting') %></a>
                        <a class="center aligned item" ng-click="signOut()"><%= __('SignOut') %></a>
                    </div>
                </div>
                <% } else { %>
                <a href="<%= localeLink('signin#/login') %>" class="ui button"><%= __('SignIn') %></a>
                <a href="<%= localeLink('signin#/register') %>" class="ui button"><%= __('SignUp') %></a>
                <% } %>
                <a ng-href="<%= otherLocaleLink %>{{hash}}" class="ui button"><%= __(otherLocale) %></a>
            </div>
        </div>
    </div>
    <div class="ui menu b-header-nav">
        <div class="ui container">
            <a href="#" class="b-header-logo">
                <img src="img/logo.png" height="60">
            </a>

            <div class="right item">
                <a href="<%= localeLink('/index') %>" class="ui button nav-button"><%= __('Home') %></a>
                <a href="<%= localeLink('/study') %>" class="ui button nav-button"><%= __('Learn') %></a>
                <a href="<%= localeLink('/game') %>" class="ui button nav-button"><%= __('Play') %></a>
                <a href="<%= localeLink('/opportunity') %>" class="ui button nav-button"><%= __('Opportunity') %></a>
            </div>
        </div>
    </div>
</div>
