<script src="<%= cdn.normal %>bower/jquery/dist/jquery.min.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>bower/semantic-ui/dist/semantic.min.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>bower/underscore/underscore-min.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>bower/jquery-address/src/jquery.address.js?<%= cdn.version %>"></script>
<!--Angular JS-->
<script src="<%= cdn.normal %>bower/angular/angular.min.js?<%= cdn.version %>"></script>
<script src="<%= cdn.normal %>bower/angular-translate/angular-translate.min.js?<%= cdn.version %>"></script>

<!-- build:js js/cdn/combined1.js -->
<script src="/js/factories/service.js"></script>
<script src="/js/factories/MessageStore.js"></script>
<script src="/js/config/translate.js"></script>
<script src="/js/config/xhr.js"></script>
<script src="/js/factories/translationLoader.js"></script>
<!-- endbuild -->
<script src="<%= cdn.normal %>translation/localeHelper.js?<%= cdn.version %>"></script>
<%/* Never cdnify config.js! */%>
<script src="/config.js?<%= cdn.version %>"></script>
<!-- build:js js/cdn/combined2.js -->
<script src="/js/factories/FormValidation.js"></script>
<script src="/js/factories/DeviceHelper.js"></script>
<script src="/js/factories/queryParser.js"></script>
<script src="/js/controllers/AppCtrl.js"></script>
<script src="/js/page/bplusModule.js"></script>
<!--Utils JS-->
<script src="/js/utils/utils.js"></script>
<script src="/js/utils/msgbus.js"></script>
<script src="/js/utils/underscore.js"></script>
<!-- endbuild -->

<script type="text/javascript">
    $('.footer-wechat-share').popup({
        on: 'hover'
    });
</script>
<script src="/js/utils/trackingSender.js"></script>