<a href="<%= localeLink('/index') %>" class="ui button nav-button"
   ng-class="{'active':current_page==='index'}"><%= __('Home') %></a>
<a href="<%= localeLink('/study') %>" class="ui button nav-button"
   ng-class="{'active':current_page==='study'}"><%= __('Learn') %></a>
<a href="<%= localeLink('/game') %>" class="ui button nav-button"
   ng-class="{'active':current_page==='game'}"><%= __('Play') %></a>
<a href="<%= localeLink('/opportunity') %>" class="ui button nav-button"
   ng-class="{'active':current_page==='opportunity'}"><%= __('Opportunity') %></a>
<a href="<%= localeLink('/ranking') %>" class="ui button nav-button"
   ng-class="{'active': current_page === 'ranking'}"><%= __('排行榜') %></a>
<a href="<%= localeLink('/youth') %>" class="ui button nav-button"
   ng-class="{'active': current_page === 'poster'}"><%= __('全国大赛') %></a>