<a href="<%= localeLink('/index') %>" class="ui button nav-button"
   ng-class="{'active':current_page==='index'}"><%= __('Home') %></a>
<a href="<%= localeLink('/study') %>" class="ui button nav-button"
   ng-class="{'active':current_page==='study'}"><%= __('Learn') %></a>
<a href="<%= localeLink('/game') %>" class="ui button nav-button"
   ng-class="{'active':current_page==='game'}"><%= __('Play') %></a>
<a href="<%= localeLink('/opportunity') %>" class="ui button nav-button"
   ng-class="{'active':current_page==='opportunity'}"><%= __('Opportunity') %></a>
<% if (false) { %>
<a href="<%= localeLink('/youth') %>" class="ui button nav-button"
   ng-class="{'active': current_page === 'poster'}"><%= __('全国大赛') %></a>
<% } %>
<a href="<%= localeLink('/store/offers') %>" class="ui button nav-button"
   ng-class="{'active': current_page === 'store'}"><%=
    __('商城') %></a>