<form class="ui large form b-sign-up" name="signUpForm" ng-submit="trySignUp($event)">
    <div class="ui error message brand"></div>
    <div class="ui">
        <div class="field">
            <div class="ui left icon input fluid">
                <input type="text" name="mobile" placeholder="{{'PleaseInputMobileNumber'| translate}}"
                       ng-model="signUpData.mobile"
                       ng-enter>
                <i class="phone icon"></i>
            </div>
        </div>
        <div class="field absolute-prompt">
            <div class="ui left icon input fluid">

                <input type="text" name="captcha" placeholder="{{'PleaseInputCaptcha' | translate}}"
                       ng-model="signUpData.captcha" ng-enter>
                <i class="write icon"></i>

                <div captcha ng-model="signUpData.captchaId" class="ui fluid b-captcha"></div>
            </div>
            <div class="ui right aligned container subcontainer">
                <a href="javascript: void(0);" ng-click="refreshCaptcha()">{{'RefreshCaptcha' | translate}}</a>
            </div>
        </div>
        <div class="field" ng-show="sendCodeButtonClicked">
            <div class="ui left icon input fluid">
                <input type="text" name="verificationCode"
                       placeholder="{{'PleaseInputMobileVerificationCode' | translate}}"
                       ng-model="signUpData.verificationCode">
                <i class="write icon"></i>
                &nbsp;
                <button type="button" class="ui red button" ng-show='sendCodeButtonClicked'
                        ng-disabled="!(allowGetCode && isSignUpFormPartiallyValid())"
                        ng-click="getVerificationCode()">
                    {{verificationCodeButtonText | translate}}
                </button>
            </div>
        </div>
        <div class="field" ng-hide="sendCodeButtonClicked">
            <button type="button" class="ui huge red button fluid" ng-click="getVerificationCode()"
                    ng-disabled="!(allowGetCode && isSignUpFormPartiallyValid())">
                {{verificationCodeButtonText | translate}}
            </button>
        </div>
        <div class="field">
            <div class="ui left icon input fluid">
                <input type="password" name="password" placeholder="{{passwordPlaceholder | translate}}"
                       ng-model="signUpData.password">
                <i class="lock icon"></i>
            </div>
        </div>
        <div class="field">
            <button type="submit" class="ui fluid huge red submit button"
                    ng-disabled="!isSignUpFormFullyValid()">{{'Done' | translate}}
            </button>
        </div>
    </div>
</form>