<div class="ui grid mobile-hidden">
    <div class="nine wide column">
        <%= __('ServicePhoneNumber') %> 4008-111-111
    </div>
    <div class="seven wide column right aligned">
        <a href="reset-password"><%= __('ResetPasswordViaMobile') %></a>
    </div>
</div>
<div class="ui grid mobile">
    <div class="eight wide column">
        <%= __('ServicePhoneNumber') %> <br/>4008-111-111
    </div>
    <div class="eight wide column right aligned floated">
        <a class="ui large basic red button mobile no-wrap"><%= __('ResetPasswordViaMobile') %></a>
    </div>
</div>