<div class="ui fluid two item top pointing secondary menu brand">
    <a class="item" data-tab="login"><%= __('SignIn') %></a>
    <a class="item" data-tab="register"><%= __('SignUp') %></a>
</div>
<div class="ui bottom attached tab" data-tab="login" ng-controller="LoginCtrl">
    <form class="ui large fluid form login" ng-submit="tryLogin($event)" name="loginForm">
        <div class="ui error message brand"></div>
        <div class="ui">
            <div class="field">
                <div class="ui left icon input">
                    <i class="phone icon"></i>
                    <input type="text" name="mobile" placeholder="<%= __('Mobile') %>"
                           ng-model="loginData.mobile">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="<%= __('PleaseInputPassword') %>"
                           ng-model="loginData.password">
                </div>
            </div>
            <div class="fields">
                <div class="eight wide field">
                    <div class="ui checkbox">
                        <input type="checkbox" ng-model="loginData.rememberMe" id="remember-me-check-box">
                        <label for="remember-me-check-box"><%= __('RememberMe') %></label>
                    </div>
                </div>
                <div class="eight wide field ui right aligned container subcontainer">
                    <a href="/reset-password"><%= __('ForgotPassword') %> <i
                            class="hidden help circle icon"></i> </a>
                </div>
            </div>
            <div class="ui divider horizontal"></div>
            <button type="submit" class="ui fluid large red submit button hidden mobile-button"
                    ng-disabled="!isLoginFormValid()">
                <%= __('SignIn') %>
            </button>
            <button type="submit" class="ui fluid large red submit button"
                    ng-disabled="!isLoginFormValid()"><%= __('SignIn') %>
            </button>
        </div>
    </form>
    <div class="hidden mobile-button">
        <a class="ui fluid large red basic button" href="#register">
            <%= __('NoAccount') %> <%= __('SignUpNow') %>
        </a>
    </div>
    <div class="ui right aligned container subcontainer">
        <div><%= __('NoAccount') %> <a href="#register"><%= __('SignUpNow') %></a></div>
    </div>
    <div class="ui divider"></div>
    <div class="ui">
        <a class="wechat link" ng-click="logOnViaWechat()">
            <%= __('SignInWithOtherWays') %>
            <i class="big wechat icon"></i>
        </a>
    </div>
</div>
<div class="ui bottom attached tab" data-tab="register" ng-controller="SignUpCtrl">
    <div class="ui center aligned container subcontainer mobile">
        <h2 class="grey color"><%= __('SignUp') %></h2>
    </div>
    <register-form action="signUp" control="registerFormCtrl"></register-form>

    <div class="field ui right aligned container subcontainer mobile-hidden">
        <%= __('HasAccount') %> <a href="signin#/login"><%= __('SignInNow') %></a>
    </div>
</div>
<div class="ui bottom attached tab" data-tab="wechat-logon" ng-controller="WechatLoginCtrl">
    <iframe name="wechat-frame" class="b-wechat-frame b-background-lighter" ng-src="{{wechatQRPage}}"></iframe>
    <button type="reset" class="ui fluid large red basic button" ng-click="cancelWechatLogin()"
            ng-class="{'inverted': invertCancelButtonTheme}"><%=
        __('Cancel') %>
    </button>
</div>