<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--ICON-->
<link rel="apple-touch-icon" sizes="57x57" href="<%= cdn.normal %>icon/apple-icon-57x57.png?<%= cdn.version %>">
<link rel="apple-touch-icon" sizes="60x60" href="<%= cdn.normal %>icon/apple-icon-60x60.png?<%= cdn.version %>">
<link rel="apple-touch-icon" sizes="72x72" href="<%= cdn.normal %>icon/apple-icon-72x72.png?<%= cdn.version %>">
<link rel="apple-touch-icon" sizes="76x76" href="<%= cdn.normal %>icon/apple-icon-76x76.png?<%= cdn.version %>">
<link rel="apple-touch-icon" sizes="114x114" href="<%= cdn.normal %>icon/apple-icon-114x114.png?<%= cdn.version %>">
<link rel="apple-touch-icon" sizes="120x120" href="<%= cdn.normal %>icon/apple-icon-120x120.png?<%= cdn.version %>">
<link rel="apple-touch-icon" sizes="144x144" href="<%= cdn.normal %>icon/apple-icon-144x144.png?<%= cdn.version %>">
<link rel="apple-touch-icon" sizes="152x152" href="<%= cdn.normal %>icon/apple-icon-152x152.png?<%= cdn.version %>">
<link rel="apple-touch-icon" sizes="180x180" href="<%= cdn.normal %>icon/apple-icon-180x180.png?<%= cdn.version %>">
<link rel="icon" type="image/png" sizes="192x192"
      href="<%= cdn.normal %>icon/android-icon-192x192.png?<%= cdn.version %>">
<link rel="icon" type="image/png" sizes="32x32" href="<%= cdn.normal %>icon/favicon-32x32.png?<%= cdn.version %>">
<link rel="icon" type="image/png" sizes="96x96" href="<%= cdn.normal %>icon/favicon-96x96.png?<%= cdn.version %>">
<link rel="icon" type="image/png" sizes="16x16" href="<%= cdn.normal %>icon/favicon-16x16.png?<%= cdn.version %>">
<link rel="manifest" href="<%= cdn.normal %>icon/manifest.json?<%= cdn.version %>">
<link rel="shortcut icon" href="<%= cdn.normal %>icon/favicon.ico?<%= cdn.version %>"/>
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="<%= cdn.normal %>icon/ms-icon-144x144.png?<%= cdn.version %>">
<meta name="theme-color" content="#ffffff">
<!--CSS-->
<link rel="stylesheet" type="text/css" href="<%= cdn.normal %>css/slim.css?<%= cdn.version %>">