/*
* - @Bridge+
*/
// Page

.ui.dropdown .default.text {
    white-space: nowrap;
}

@media all and (max-width: 414px) {
    .ui.form .fields.mobile {
        display: flex !important;
    }

    .ui.form .fields {
        -webkit-flex-wrap: inherit;
        -ms-flex-wrap: inherit;
        flex-wrap: inherit;
    }
}