<div class="b-opd-favorite" ng-if="hasLoggedin()">
    <div class="ui top attached tabular menu">
        <a class="item" data-tab="recommendation">推荐职位</a>
        <a class="active item" data-tab="subscribe">我的订阅</a>
        <a class="item" data-tab="competency">我有竞争力的</a>
        <a class="item" data-tab="relevant">他人在看</a>
    </div>
    <div class="ui bottom attached tab segment" data-tab="recommendation">
        <bopdpositionpattern positions="data.positions"/>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="subscribe">
        <form name="filterForm" class="ui form">
            <!-- <div class="ui bk-color-coral-red inverted vertical padded segment">
                <h4 class="ui white header">每周一将通知您最新订阅职位！</h4>
                <h4 class="ui white disabled header">
                    同步发送到
                    &nbsp;&nbsp;
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label style="color: inherit;">微信</label>
                    </div>
                    &nbsp;&nbsp;
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label style="color: inherit;">Email</label>
                    </div>
                </h4>
            </div> -->
            <div class="ui segments" style="border: none; box-shadow: none;">
                <div class="ui segment">
                    <h4 class="ui header">
                        <i class="ui right floated large angle up icon" style="cursor: pointer;"
                           ng-click="hideFilters = true" ng-hide="hideFilters"></i>
                        <i class="ui right floated large angle down icon" style="cursor: pointer;"
                           ng-click="hideFilters = false" ng-show="hideFilters"></i>
                        订阅条件
                    </h4>
                </div>
                <div class="ui fitted divider" style="margin: 0;"></div>
                <opd-filter-item ng-repeat-start="f in filters" f="f" filter-setting="filterSetting" ng-if="!hideFilters">{{filters}}</opd-filter-item>
                <opd-sub-filter-item ng-repeat-end f="f" filter-setting="filterSetting" ng-if="!hideFilters">{{filterSetting}}</opd-sub-filter-item>
<!--                 <div class="ui segment inline fields" style="border-top: none; border-bottom: none;"
                     ng-hide="hideFilters">
                    <strong ng-bind="'职\u2001\u2001位：&nbsp&nbsp&nbsp'"></strong>
                        <input style="width:80%" class="marginal-input opd-search-input" type="text" placeholder="请输入想订阅的职位" ng-model="position">
                </div>
 -->
                <div class="ui right floated field vertical horizontal padded segment" style="border-top: none;" ng-hide="hideFilters">
                    <button type="submit" class="ui red large button" ng-click="subscribe()" ng-show="!hasSubscribed">开始订阅</button>
                    <button type="submit" class="ui red large button" ng-click="subscribe()" ng-show="hasSubscribed">修改订阅</button>
                    <button type="reset" class="ui basic large button" ng-click="subscribeCancel()">取消</button>
                </div>

                <div class="ui clearing horizontal divider"></div>
            </div>
            <div class="ui bk-color-coral-red inverted vertical padded segment" ng-show="data.positions.data.length===0">
                <p>尚无职位信息。</p>
            </div>
            <bopdpositionpattern positions="data.positions" ng-show="data.positions.data.length>=0"/>
        </form>
    </div>
</div>

<script type="text/javascript">
    $('.b-opd-favorite .tabular.menu .item').tab();
</script>