<table class="ui celled table positions">
    <colgroup>
        <col style="background-color: #F9F9F9; width: 120px; text-align: center;">
        <col style="width: 120px; text-align: center;">
        <col style="background-color: #F9F9F9;">
    </colgroup>
    <tr ng-repeat="data in positions">
        <td style="padding: 1.5em;">
            <img ng-src="<%= cdn.normal %>img/opd/match_{{data.matchLevel}}.png?<%= cdn.version %>"/>
        </td>
        <td>
            <div class="progress-radial">
                <div class="ring"></div>
                <div class="progress" ng-class="'progress-' + data.progressRate"></div>
                <div class="overlay"></div>
            </div>
        </td>
        <td class="desc">
            <h3 class="ui header">
                <a class="title" href="" ng-bind="data.position.name"></a> / <a class="company" ng-bind="data.company"> </a>
            </h3>

            <div class="grey color">
                <span class="ui smooth label" ng-bind="data.position.type"></span>
                <span class="grey color loose" ng-bind="data.position.salary"></span>
                <span class="grey color loose" ng-bind="data.position.certification"></span>
                <span class="ui right floated light grey color" ng-bind="data.issueTime"></span>
            </div>
        </td>
    </tr>
</table>
    <script>
 
    </script>