<div>
    <opd-search></opd-search>
    <div class="field">
        <strong>
            热门搜索：
        </strong>
        <span class="loose tag">PHP</span>
        <span class="loose tag">新媒体</span>
        <span class="loose tag">运营</span>
        <span class="loose tag">市场推广</span>
    </div>

    <div class="ui clearing segment" style="border-radius: 0;">
        <strong ng-repeat-start="s in settings" ng-bind="s.key">
        </strong>
        <span class="ui light label" ng-repeat="l in s.list"
              ng-class="{'red': settingData[s.name] === l.id, 'transparent': settingData[s.name] !== l.id}"
              ng-click="settingData[s.name] = l.id">{{l.text}}</span>
        <span class="ui transparent label" ng-repeat-end="" style="cursor: default;">&nbsp;</span>
    </div>
    <table class="ui celled table training">
        <tbody>
        <tr>
            <td style="background-color: #F9F9F9; padding: 1.5em;">
                <div class="ui items">
                    <div class="ui training item">
                        <a class="ui tiny image">
                            <img src="/img/opd/training.jpg">
                        </a>

                        <div class="content">
                            <a class="ui red header" href="">诵苑艺术培训中心</a>

                            <div class="description">
                                全清华北大名师
                            </div>
                            <div class="description">
                                推荐星级
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="empty star icon"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="unhide grey icon">&nbsp;192</i>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="color: grey;">适合想进入创意与设计领域的你</p>

                <p>职场竞争力提升指标：

                    <span class="ui label">创意</span>
                    <span class="ui label">思维</span>
                    <span class="ui label">人文</span>
                    <span class="ui label">创作</span>
                </p>
            </td>
            <td style="text-align: center; position: relative; padding-left: 3em; padding-right: 5em;">
                <div class="ribbon teal right corner label">广告</div>
                <div class="ui image">
                    <i class="ui left arrow angle big left icon"></i>
                    <img src="/img/opd/ad.jpg" style="border: solid 1px #F0F0F0;">
                    <i class="ui right arrow angle big right icon"></i>
                </div>

                <p style="margin-top: 10px;">商业海报设计基础班 / 免费</p>
            </td>
        </tr>

        <tr>
            <td style="background-color: #F9F9F9; padding: 1.5em;">
                <div class="ui items">
                    <div class="ui training item">
                        <a class="ui tiny image">
                            <img src="/img/opd/training.jpg">
                        </a>

                        <div class="content">
                            <a class="ui red header" href="">诵苑艺术培训中心</a>

                            <div class="description">
                                全清华北大名师
                            </div>
                            <div class="description">
                                推荐星级
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="empty star icon"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="unhide grey icon">&nbsp;192</i>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="color: grey;">适合想进入创意与设计领域的你</p>

                <p>职场竞争力提升指标：

                    <span class="ui label">创意</span>
                    <span class="ui label">思维</span>
                    <span class="ui label">人文</span>
                    <span class="ui label">创作</span>
                </p>
            </td>
            <td style="text-align: center; position: relative; padding-left: 3em; padding-right: 5em;">
                <div class="ribbon yellow right corner label">推荐 <i class="star icon"></i></div>
                <div class="ui image">
                    <i class="ui left arrow angle big left icon"></i>
                    <img src="/img/opd/ad.jpg" style="border: solid 1px #F0F0F0;">
                    <i class="ui right arrow angle big right icon"></i>
                </div>

                <p style="margin-top: 10px;">商业海报设计基础班 / 免费</p>
            </td>
        </tr>

        <tr>
            <td style="background-color: #F9F9F9; padding: 1.5em;">
                <div class="ui items">
                    <div class="ui training item">
                        <a class="ui tiny image">
                            <img src="/img/opd/training.jpg">
                        </a>

                        <div class="content">
                            <a class="ui red header" href="">诵苑艺术培训中心</a>

                            <div class="description">
                                全清华北大名师
                            </div>
                            <div class="description">
                                推荐星级
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="empty star icon"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="unhide grey icon">&nbsp;192</i>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="color: grey;">适合想进入创意与设计领域的你</p>

                <p>职场竞争力提升指标：

                    <span class="ui label">创意</span>
                    <span class="ui label">思维</span>
                    <span class="ui label">人文</span>
                    <span class="ui label">创作</span>
                </p>
            </td>
            <td style="text-align: center; position: relative; padding-left: 3em; padding-right: 5em;">
                <div class="ui image">
                    <i class="ui left arrow angle big left icon" style="display: none;"></i>

                    <p class="no-course">暂未发布课程</p>
                    <i class="ui right arrow angle big right icon" style="display: none;"></i>
                </div>

                <p style="margin-top: 10px;">商业海报设计基础班 / 免费</p>
            </td>
        </tr>

        <tr>
            <td style="background-color: #F9F9F9; padding: 1.5em;">
                <div class="ui items">
                    <div class="ui training item">
                        <a class="ui tiny image">
                            <img src="/img/opd/training.jpg">
                        </a>

                        <div class="content">
                            <a class="ui red header" href="">诵苑艺术培训中心</a>

                            <div class="description">
                                全清华北大名师
                            </div>
                            <div class="description">
                                推荐星级
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="empty star icon"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="unhide grey icon">&nbsp;192</i>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="color: grey;">适合想进入创意与设计领域的你</p>

                <p>职场竞争力提升指标：

                    <span class="ui label">创意</span>
                    <span class="ui label">思维</span>
                    <span class="ui label">人文</span>
                    <span class="ui label">创作</span>
                </p>
            </td>
            <td style="text-align: center; position: relative; padding-left: 3em; padding-right: 5em;">
                <div class="ui image">
                    <i class="ui left arrow angle big left icon"></i>

                    <div class="ui cube shape">
                        <div class="sides">
                            <div class="active side">
                                <img src="/img/opd/ad.jpg" style="border: solid 1px #F0F0F0;">
                            </div>
                            <div class="side">
                                <img src="/img/opd/ad.jpg" style="border: solid 1px #F0F0F0;">
                            </div>
                            <div class="side">
                                <img src="/img/opd/ad.jpg" style="border: solid 1px #F0F0F0;">
                            </div>
                        </div>
                    </div>
                    <i class="ui right arrow angle big right icon"></i>
                </div>

                <p style="margin-top: 10px;">商业海报设计基础班 / 免费</p>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="transparent">
            <th colspan="3" class="ui center aligned">
                <div class="ui loose pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="active item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="disabled item">...</a>
                    <a class="item">10</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
</div>
<style type="text/css">
    .marginal-input {
        border-right: 1px solid rgba(34, 36, 38, .15) !important;
    }

    .marginal-input:focus {
        border-right: 1px solid #B1B2B3 !important;
    }

    .training.item .star.icon {
        color: #F88700;
        font-size: larger;
        margin-right: 0;
        margin-left: 0;
    }

    .ribbon.right.corner.label {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 10px;
        color: white;
        z-index: 4;
    }

    .ribbon.teal.right.corner.label::before {
        display: block;
        width: 0;
        content: ' ';
        height: 0;
        position: absolute;
        top: 0;
        left: -15px;
        border-left: solid 15px transparent;
        border-top: solid 15px #2990B6;
        border-right: none;
        border-bottom: none;
    }

    .ribbon.teal.right.corner.label::after {
        display: block;
        width: 0;
        content: ' ';
        height: 0;
        position: absolute;
        bottom: 0;
        left: -15px;
        border-left: solid 15px transparent;
        border-bottom: solid 15px #2990B6;
        border-right: none;
        border-top: none;
    }

    .ribbon.teal {
        background-color: #2990B6;
    }

    .ribbon.yellow {
        background-color: #F88D02;
    }

    .ribbon.yellow.ribbon.corner.label::before {
        display: block;
        width: 0;
        content: ' ';
        height: 0;
        position: absolute;
        top: 0;
        left: -15px;
        border-left: solid 15px transparent;
        border-top: solid 15px #F88D02;
        border-right: none;
        border-bottom: none;
    }

    .ribbon.yellow.ribbon.corner.label::after {
        display: block;
        width: 0;
        content: ' ';
        height: 0;
        position: absolute;
        bottom: 0;
        left: -15px;
        border-left: solid 15px transparent;
        border-bottom: solid 15px #F88D02;
        border-right: none;
        border-top: none;
    }

    table.training tr td {
        border: none !important;
        border-bottom: solid 2px #D1D1D1 !important;
    }

    table.training tr td:last-child .ui.image {
        min-height: 150px;
        min-width: 250px;
        position: relative;
    }

    table.training tr td:last-child .ui.image .side {
        padding: 0;
        height: auto;
        box-shadow: none;
    }

    table.training tr td:last-child .ui.image .side img {
        border: solid 1px #F0F0F0;
    }

    .ui.image .no-course {
        margin-top: 25%;
    }

    .arrow {
        cursor: pointer;
        height: 100% !important;
        position: absolute;
        padding-top: 25%;
    }

    .left.arrow {
        top: 0;
        right: 100%;
    }

    .right.arrow {
        top: 0;
        left: 100%;
    }
</style>