<div class="b-opd-favorite">
    <div class="ui top attached tabular menu">
        <a class="item" data-tab="recommendation">推荐职位</a>
        <a class="active item" data-tab="subscribe">我的订阅</a>
        <a class="item" data-tab="competency">我有竞争力的</a>
        <a class="item" data-tab="relevant">他人在看</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="subscribe">
        <form name="filterForm" class="ui form">
            <div class="ui bk-color-coral-red inverted vertical padded segment">
                <h4 class="ui white header">每周一将通知您最新订阅职位！</h4>
                <h4 class="ui white disabled header">
                    同步发送到
                    &nbsp;&nbsp;
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label style="color: inherit;">微信</label>
                    </div>
                    &nbsp;&nbsp;
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label style="color: inherit;">Email</label>
                    </div>
                </h4>
            </div>
            <div class="ui segments" style="border: none; box-shadow: none;">
                <div class="ui segment">
                    <h4 class="ui header">
                        <i class="ui right floated large angle up icon" style="cursor: pointer;"
                           ng-click="hideFilters = true" ng-hide="hideFilters"></i>
                        <i class="ui right floated large angle down icon" style="cursor: pointer;"
                           ng-click="hideFilters = false" ng-show="hideFilters"></i>
                        订阅条件
                    </h4>
                </div>

                <div class="ui segment" ng-hide="hideFilters">
                    <div class="field" ng-repeat-start="f in filterables">
                        <strong ng-bind="f.label"> </strong>
                    <span class="ui light label" ng-repeat="p in f.less"
                          ng-class="{'red': filters[f.key] === p.id, 'transparent': filters[f.key] !== p.id}"
                          ng-click="filters[f.key] = p.id">{{p.text}}</span>
                        <button class="ui basic mini button" ng-click="f.less = f.list"
                                ng-hide="f.less === f.list">更多…
                        </button>
                    </div>

                    <div class="ui horizontal divider" ng-repeat-end></div>

                    <div>
                        <strong ng-bind="'月\u2001\u2001薪：'"></strong>
                        <span class="ui light label"
                              ng-class="{'red': filters['monthlySalaryLowerBound'] === null && filters['monthlySalaryUpperBound'] === null, 'transparent': filters['monthlySalaryLowerBound'] != null || filters['monthlySalaryUpperBound'] != null}">
                            不限
                        </span>

                        &nbsp;&nbsp;&nbsp;&nbsp;

                        <span class="inline field">
                            <input type="text">
                            <span>-&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="text">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;人民币</span>
                        </span>
                    </div>

                    <div class="ui horizontal divider"></div>

                    <div class="inline fields">
                        <strong ng-bind="'职\u2001\u2001位：'"></strong>
                        <span class="thirteen wide field">
                            <input type="text" placeholder="请输入想订阅的职位">
                        </span>
                    </div>

                    <div class="ui horizontal divider"></div>

                    <div class="ui right floated large field">
                        <button type="submit" class="ui red large button">开始订阅</button>
                        <button type="reset" class="ui basic large button">取消</button>
                    </div>

                    <div class="ui horizontal clearing divider"></div>
                </div>
                <div class="ui bk-color-coral-red inverted vertical padded segment">
                    <p>尚无职位信息。</p>
                </div>
            </div>
        </form>
    </div>
</div>
