<link rel="stylesheet" type="text/css"
      href="<%= cdn.normal %>bower/owl.carousel/dist/assets/owl.carousel.min.css?<%= cdn.version %>">
<link rel="stylesheet" type="text/css"
      href="<%= cdn.normal %>bower/owl.carousel/dist/assets/owl.theme.default.min.css?<%= cdn.version %>">

<div class="b-masthead">
    <div class="owl-carousel owl-theme b-slider masthead-carousel" id="superpulse" style="max-height: 100%;">
        <div class="b-slider-item first-item"
             style="background-image: url('<%= cdn.normal %>img/salespage/bg_1.jpg?<%= cdn.version %>');">
            <div class="ui container">
                <h1 class="ui header"><%= __('IndexFirstItemHeader') %></h1>

                <h2><%= __('IndexFirstItemContent') %><br><%= __('IndexFirstItemSubContent') %>
                </h2>
            </div>
        </div>
        <div class="b-slider-item second-item"
             style="background-image: url('<%= cdn.normal %>img/salespage/bg_2.jpg?<%= cdn.version %>');">
            <div class="ui container">
                <h1 class="ui header" ng-cloak><%= __('IndexSecondItemHeader') %></h1>

                <h2 ng-cloak><%= __('IndexSecondItemContent') %><br><%= __('IndexSecondItemSubContent') %>
                </h2>
            </div>
        </div>
        <div class="b-slider-item third-item"
             style="background-image: url('<%= cdn.normal %>img/salespage/bg_3.jpg?<%= cdn.version %>');">
            <div class="ui container">
                <h1 class="ui header" ng-cloak><%= __('IndexThirdItemHeader') %></h1>

                <h2 ng-cloak><%= __('IndexThirdItemContent') %><br><%= __('IndexThirdItemSubContent') %>
                </h2>
            </div>
        </div>

        <div class="b-slider-item fourth-item"
             style="background-image: url('<%= cdn.normal %>img/salespage/dazhao.jpg?<%= cdn.version %>');">

        </div>
    </div>
</div>