<link rel="stylesheet" type="text/css"
      href="<%= cdn.normal %>bower/owl.carousel/dist/assets/owl.carousel.min.css?<%= cdn.version %>">
<link rel="stylesheet" type="text/css"
      href="<%= cdn.normal %>bower/owl.carousel/dist/assets/owl.theme.default.min.css?<%= cdn.version %>">

<div class="b-masthead">
    <div class="owl-carousel owl-theme b-slider masthead-carousel" id="superpulse" style="max-height: 100%;">
        <div class="b-slider-item first-item"
             style="background-image: url('<%= cdn.normal %>img/corp/carousel/bg.jpg?<%= cdn.version %>');">
            <div class="ui container">
                <h1 class="ui header"><%= __('校园猎聘第一选择!') %></h1>

                <h2><%= __('精准推送人才,高效') %><br><%= __('按照效果付费,无忧') %>
                </h2>
            </div>
        </div>
    </div>
</div>