<div class="pusher">
    <div class="b-contractus footer-main"></div>

    <div class="page-content">
        <div class="b-contractus-content">
            <div class="ui container">
                <div class="ui grid">
                    <div class="eight wide column right floated content-column">
                        <h2><%= __('ContractusContentTitle') %></h2>
                        <h4><%= __('ContractusContentLine1') %> <a href="mailto:mytalent@bridgeplus.me"> mytalent@bridgeplus.me</a></h4>
                        <h4><%= __('ContractusContentLine2') %> <a href="mailto:campus@bridgeplus.me"> campus@bridgeplus.me</a></h4>
                        <h4><%= __('ContractusContentLine3') %> <a href="mailto:support@bridgeplus.me"> support@bridgeplus.me</a> </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>