<div class="ui grid mobile-hidden">
    <div class="nine wide column">
        <%= __('ServicePhoneNumber') %> <%= __('ServicePhoneNumberValue') %>
    </div>
    <div class="seven wide column right aligned">
        <a href="reset-password"><%= __('ResetPasswordViaMobile') %></a>
    </div>
</div>
<div class="ui grid mobile">
    <div class="eight wide column">
        <%= __('ServicePhoneNumber') %> <br/><%= __('ServicePhoneNumberValue') %>
    </div>
    <div class="eight wide column right aligned floated">
        <a class="ui large basic red button mobile no-wrap" href="reset-password"><%= __('ResetPasswordViaMobile')
            %></a>
    </div>
</div>