<div class="ui b-signin-wrapper b-reset-password">
    <div class="ui column b-signin-container">
        <div class="b-signin-wide b-signin-wider">
            <div class="ui center aligned container subcontainer">
                <h2 class="grey color"><%= __('ForgotPassword') %></h2>
            </div>

            <div class="ui text shape reset" ng-controller="ResetPasswordCtrl">
                <div class="sides">
                    <div class="active side reset-password-side">
                        <register-form action="resetPassword" control="formCtrl"></register-form>
                        <div class="ui grid mobile-hidden">
                            <div class="nine wide column">
                                <%= __('ServicePhoneNumber') %> <%= __('ServicePhoneNumberValue') %>
                            </div>
                            <div class="seven wide column right aligned">
                                <a href="reset-password-by-email"><%= __('ResetPasswordViaEmail') %></a>
                            </div>
                        </div>
                        <div class="ui grid mobile">
                            <div class="eight wide column">
                                <%= __('ServicePhoneNumber') %> <br/>
                                <%= __('ServicePhoneNumberValue') %>
                            </div>
                            <div class="eight wide column right floated">
                                <a href="reset-password-by-email" class="ui large red basic button no-wrap"><%=
                                    __('ResetPasswordViaEmail') %></a>
                            </div>
                        </div>
                    </div>
                    <div class="side">
                        <%- include('../../www/view-partial/password-reset.html') -%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>