<div class="ui">
    <div class="ui container">
        <div class="b-sign-in-position-wrapper">
            <div class="b-sign-in-position">
                <div class="ui b-signin-semi-transparent-wrapper">
                    <div class="ui column b-signin-semi-transparent-container">
                        <div class="b-signin-narrow" tab=".b-signin-narrow">
                            <%- include('../../www/view-partial/sign-in.html') -%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>