div.ui.modal.modal-password(modal-password)
    div.header 修改密码
        div.btn-close
            i.close.icon
    div.content
        include ../partial/error-form.jade
        + errorForm('changingPassword')(name="changePasswordForm", ng-submit="changePassword($event)")
            form-error
            div.field
                div.ui.left.icon.input.fluid
                    i.lock.icon
                    input(type="password", name="oldPassword", placeholder="请输入原来密码", ng-model="changePasswordData.oldPassword", ng-required="true")
            div.field
                div.ui.left.icon.input.fluid
                    i.lock.icon
                    input(type="password", name="newPassword", placeholder="重新设置新密码", data-prompt="与原来密码一致，无需修改", ng-model="changePasswordData.newPassword", ng-required="true")
            div.field
                div.ui.left.icon.input.fluid
                    i.lock.icon
                    input(type="password", name="reEnterPassword", placeholder="再次输入新密码", data-prompt="两次输入的密码不一致", ng-model="changePasswordData.newPassword2", ng-required="true")
            div.field.btn-container
                button.fluid.ui.red.button(ng-disabled="!changePasswordForm.$valid") 完成