div(style="background-color: white; margin-bottom: 0;")
    div.ui.container
        p &nbsp;
        div.ui.text.menu
            a.item(href="/about-us") | 关于我们
            a.item(href="/school") | 校园合作
            a.item(href="/contact-us") | 联系我们
            a.item | 服务声明
            div.right.text.menu
                span.ui.item 沪ICP备13045400号
        div.ui.horizontal.divider