block content
    include ../../www/view-partial/head.html
    include ../partial/reset-password.html
block extraJs
    script.
        angular.element(document).ready(function () {
            angular.bootstrap(document.getElementById('corp-content'), ['resetPassword']);
        });
    if (dev_mode)
        script(src="js/directives/captcha.js")
        script(src="js/directives/registerForm.js")
        script(src="js/directives/ngEnter.js")
        script(src="js/page/reset-password/ResetPasswordCtrl.js")
        script(src="js/page/reset-password/main.js")
    else
        script(src="#{cdn.normal}js/cdn/reset-password.js?#{cdn.version}")