block content
    include ../../www/view-partial/head.html
    include ../partial/school.html
block extraJs
    script(src="#{cdn.normal}bower/owl.carousel/dist/owl.carousel.js?#{cdn.version}")
    script(src="#{cdn.normal}js/page/footer/main.js?#{cdn.version}")
