block content
    include ../../www/view-partial/head.html
    include ../partial/set-password.html
block extraJs
    script.
        angular.element(document).ready(function () {
            angular.bootstrap(document.getElementById('corp-content'), ['setPassword']);
        });
    script(src="#{cdn.normal}js/page/set-password/main.js?#{cdn.version}")