block content
    div.corp-cv(ng-controller="settingCtrl")
block extraJs
    script(src="#{cdn.normal}js/proxy/corp/main.js?#{cdn.version}")
    script(src="#{cdn.normal}js/page/corp/setting/main.js?#{cdn.version}")
