/*
* - @Bridge+
*/
// Basic
@import "../basic/variable";
@import "../basic/mixin";
// Widget
@import "../widget/header";
// Theme
@import "../theme/variable";
@import "../theme/zh-cn";
@import "../theme/header";
@import "../theme/footer";
@import "./opportunity-detail/job/favorite/main";
@import "./opportunity-detail/job/pattern.less";
@import "../../js/page/opportunity-detail/widget/competitiveness/main.less";

.left.floated {
    float: left;
}

.right.floated {
    float: right;
}

.store-body {
    padding-top: 6em;
    padding-bottom: 2em;
}

.store-offer-body {
    padding-bottom: 2em;
}

.offer-list {
    padding-top: 4em;
}

.transparent.corner.label {
    &:after {
        border-right: none;
    }

    .icon {
        cursor: pointer;
    }
}