.b-upsell-body {
    margin-top: 60px;
    margin-bottom: 100px;
}
.b-upsell-hotarea:hover {
    -webkit-user-select: none;
 }
 .b-upsell-hotarea:hover {
    cursor: pointer;
 }
.b-upsell-items-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.b-upsell-refund-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
}
.b-upsell-refund-text {
    width: 248px;
    float: right;
    border-top: dashed 1px grey;
    padding-top: 1em;
    text-align: right;
    color: #838383;
    font-size: 14px;
}
.b-upsell-item-A1,
.b-upsell-item-A2,
.b-upsell-item-B1,
.b-upsell-item-C1 {
    display: block;
    height: 350px;
    background-repeat: no-repeat;
    background-color: #c7c7c7;
    background-position: center;
    background-size: 200px 290px;
}
.b-upsell-hotarea:hover .b-upsell-item-A1,
.b-upsell-hotarea:hover .b-upsell-item-A2,
.b-upsell-hotarea:hover .b-upsell-item-B1,
.b-upsell-hotarea:hover .b-upsell-item-C1 {
    background-color: #ff3c42;
}
.b-upsell-items-header-container {
    background-color: #ff3c42;
}
.b-upsell-items-header {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #f5f5f5!important;
    margin: auto;
    width: 250px;
    height: 80px;
    vertical-align: middle;
    padding: 30px!important;
    border-bottom: none;
}
.b-upsell-hotarea:hover .b-upsell-items-header {
    border-bottom: solid 1px white;
}
.b-upsell-item-A1 {
    background-image: url("/img/upsell/ItemA1.png")
}
.b-upsell-item-A2 {
    background-image: url("/img/upsell/ItemA2.png")
}
.b-upsell-item-B1 {
    background-image: url("/img/upsell/ItemB1.png")
}
.b-upsell-item-C1 {
    background-image: url("/img/upsell/ItemC1.png")
}
.b-upsell-item-price-container {
    background-color: #c7c7c7;
}
.b-upsell-item-price {
    border-top: solid 1px white;
    text-align: center;
    color: white;
    font-size: 1.5em;
    height: 80px;
    vertical-align: middle;
    margin: auto;
    padding-top: 30px;
    font-weight: 700;
}
.b-upsell-hotarea:hover .b-upsell-item-price {
    border-top: none;
}
.b-upsell-hotarea:hover .b-upsell-item-arrow, 
.b-upsell-hotarea:hover + .b-upsell-detail {
    display: block;
}
.b-upsell-detail {
    visibility: hidden;
    position: relative;
    width: 800px!important;
    height: 80px!important;
    background-color: #2e363d;
    color: #f5f5f5;
    top: -80px;
    padding-top: 26px;
}
.b-upsell-detail-picture {
    padding-left: 8px;
    width: 32px;
}
.b-upsell-detail-number {
    font-size: 20px;
    font-weight: 700;
    color: #ff3c42;
    vertical-align: middle;
}
.b-upsell-detail-text {
    font-size: 12px;
    font-weight: 700;
    color: #f5f5f5;
    vertical-align: middle;
    padding-left: 6px;
}
.b-upsell-detail-totalNumber {
    font-size: 26px;
    font-weight: 700;
    color: #f5f5f5;
    padding-top: 20px!important;
    padding-left: 28px!important;
}
.b-upsell-hidden-banner {
    position: relative;
    height: 100px!important;
    top: -160px;
}
.b-upsell-item-arrow {
    display: none;
    position: absolute;
    left: 111px;
    top: 430px;
}
.b-upsell-optionA-choose {
    position: relative;
    z-index: 999;
    top: 96px;
    left: 68px;
    width: 110px;
}
.b-upsell-darkred:hover,
.b-upsell-darkred {
    background-color: #cc181e!important;
    color: #white;
}
.b-upsell-white:hover,
.b-upsell-white {
    color: #white;
    background-color: #e0e1e2!important;
}