<div class="ui segment detail"
     ng-hide="filterSetting.showThumb" style="border-top: none; border-bottom: none;">

    <i class="ui right floated angle large up icon" style="cursor: pointer;"
       ng-click="filterSetting.showThumb = true" ng-if="addShowThumbButton"></i>

    <strong>{{f.label}}</strong>
    <span class="ui light label" ng-repeat="l in f.list" style="cursor: pointer;"
          ng-class="{'red': equals(filterSetting[f.key], l), 'transparent': !equals(filterSetting[f.key], l)}"
          ng-click="filterSetting[f.key] = l">
        {{l.text}}
    </span>

    <span class="ui light label red" ng-show="!filterSetting.findKey(f, filterSetting[f.key].text)" ng-bind="filterSetting[f.key].text || filterSetting[f.key]"></span>
    <div ng-show="f.autoComplete" class="input-autocomplete-container">
      <input class="input-autocomplete-input" type="text" name="filter-item-autocomplete" autocomplete datasource-bplus-autocomplete="f.autoComplete" ng-model="f.type"/>
      <button class="ui basic mini button" ng-click="filterSetting.autoCompleteConfirm(filterSetting, f, f.type)">确定</button>
    </div>
    <button class="ui basic mini button" ng-show="f.more" ng-click="f.showMore = !f.showMore">
        更多…
    </button>
</div>