<form class="ui segment form">
    <strong ng-repeat-start="f in filters.detail">{{f.label}}</strong>
    <span class="ui light label" ng-repeat="l in f.list" style="cursor: pointer;"
          ng-class="{'red': equals(filterSetting[f.key], l), 'transparent': !equals(filterSetting[f.key], l)}"
          ng-click="filterSetting[f.key] = l" ng-if="f.type !== 'dropdown'">
        {{l.text}}
    </span>
    <select ng-if="f.type === 'dropdown'" style="width: auto; display: inline;">
        <option ng-repeat="l in f.list" value="l.id" ng-selected="equals(filterSetting[f.key], l)">
            {{l.text}}
        </option>
    </select>

    <span ng-repeat-end>&nbsp;&nbsp;</span>
</form>
