[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


.light.grey.background {
    background-color: #EAE8E4;
}

.b-header .menu.b-header-account {
    backgsround-color: @color-corp-red;
}