.ui.container.crop-edit-container {
    margin-top: 7rem;
    margin-bottom: 2rem;
    max-width: 860px !important;

    > .ui.grid {
        margin: 0;
        > .wide.column {
            padding: 0;
        }
        > .wide.column:first-child {
            padding-right: 2rem;
            text-align: center;
            .logo-container {
                display: inline-block;
                margin-top: 3rem;
                border-radius: 50%;
                width: 13rem;
                height: 13rem;
                background-color: #31373e;
            }
            .btn-logo-upload {
                margin-top: 2rem;
                > i.icon {
                    background: url(/img/corp/logo_upload.png) no-repeat center center;
                    background-size: contain;
                }
            }
        }
        > .wide.column:last-child {
            > .corp-edit-section {
                margin-top: 1rem;
                > .title {
                    border-bottom: solid 2px #b7b8ba;
                    padding: 1rem 3rem;
                    background-color: @color-corp-table-light;
                    cursor: pointer;
                    > .ui.header {
                        > i.icon {
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: contain;
                        }
                        > .account-info-icon {
                            background-image: url(/img/corp/account-information.png);
                        }
                        > .basic-info-icon {
                            background-image: url(/img/corp/basic-information.png);
                        }
                        > .company-info-icon {
                            background-image: url(/img/corp/company-introduction.png);
                        }
                        > .content {
                            color: @color-corp-text-light-grey-header;
                        }
                    }
                }
                > .form-container {
                    //display: none;
                    border-bottom: solid 2px #b7b8ba;
                    padding: 1rem 3rem;
                    background-color: @color-corp-table-medium-dark;
                    > .ui.form {
                        > .field {
                            > label {
                                color: @color-corp-text-dark-grey-header;
                            }
                            > input.contact-input {
                                width: calc(~"100% - 7rem");
                            }
                            > select.contact-select {
                                display: inline-block;
                                margin-left: 1rem;
                                width: 6rem;
                            }
                            > textarea {
                                border-radius: 0.28571429rem 0.28571429rem 0 0;
                            }
                            > .ui.bottom.attached.segment {
                                width: 100%;
                                margin-left: 0.5px;
                                > .field {
                                    > input {
                                        width: calc(~"100% - 5rem");
                                    }
                                }
                            }
                            > .ui.button {
                                width: 8rem;
                            }
                        }
                    }
                }
                > .account-info-form-container {
                    padding: 1rem 6rem 1rem 3rem;
                    > .ui.form {
                        > .field {
                            > input[type="text"],
                            > input[type="password"] {
                                width: calc(~"100% - 3.5rem");
                                color: @color-corp-text-dark-grey-header;
                            }
                            > .write.icon {
                                display: inline-block;
                                margin-top: 0.35rem;
                                margin-left: 1.5rem;
                                margin-right: 0;
                                border-radius: 50%;
                                padding-top: 0.25rem;
                                width: 2rem;
                                height: 2rem;
                                background-color: #ee4b51;
                                cursor: pointer;
                            }
                            > .write.icon:before {
                                font-size: 1.2rem;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            > .corp-edit-section:first-child {
                margin-top: 0;
            }
        }
    }
}