@import "../basic/variable";
@import "../page/homepage/masthead";
@import "../page/homepage/owlnav";
@import "../page/homepage/sign-in";

@color-corp-red: #E84143;
@color-corp-text-header-grey: #8C8C8C;
@color-corp-text-header-white: #FEFEFE;
@color-corp-text-footer-black: #2D353C;
@color-corp-text-body-black: #323232;
@color-corp-text-body-head-black: #777778;
@color-corp-text-body-additional-grey: #989898;
@color-corp-text-body-hint-grey: #BFBFBE;
@color-corp-text-body-message-black: #5C5C5C;
@color-corp-background-light-grey: #F0F0EF;
@color-corp-background-dark-grey: #2D353C;
@color-corp-background-white: #FEFEFE;
@color-corp-border-shadow: #BFBEBE;
// TODO
// The number of the color will be reduced. There are 23 colors between black and white now..

.light.grey.background {
    background-color: #EAE8E4;
}

.b-header .menu.b-header-account {
    background-color: @color-corp-red;
}