.corp-printcv {
    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        width: 210mm;
        height: 297mm;
    }
    @media screen {
          width: 21cm;
          height: 29.7cm;
          display: block;
          margin: 0 auto;
          margin-bottom: 0.5cm;
          box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    .printable-copyright {
        width: 100%;
        padding: 1.5em;
        background-color: @color-corp-background-shadow-grey;
        text-align: right;
        font-weight: 700;
        color: white;
        margin-right: 2em;
    }
}
