/*
* - @Bridge+
*/

.b-masthead {
    min-height: 36rem;
    position: relative;
    background-color: #b29857; // TODO: remove

    > .b-masthead-stripe {
    	background-color: rgba(0, 0, 0, .2);
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    }
}