/*
* - @Bridge+
*/

.b-popularity {
    background-color: #2e363d;
    background-image: url("/img/salespage/popularity_bg.png");
    background-repeat: no-repeat;  
    background-position: center;  
    background-size:auto auto;
    height:700px;

    > .ui.container {

        padding-top: 6rem;
    }

    h3 {
        &.ui.header {
            color: @color-white;
            font-size: @fontsize-10xl;
        }
    }

    .b-theory-header {
        .content{
            > div {
                color: @color-white;
                line-height: 1.6em;
                font-size: 1.05em;
            }
        }
    }
    .b-theory-content {
        padding-top: 5rem;
        padding-left: 5rem !important;
        padding-bottom: 5rem;
        > h3 {
            color: @color-white;
            font-size: @fontsize-5xl;
            font-weight: normal;
        }
        > p {
            color: @color-white;
            font-size: 1.05em;
            line-height: 2em;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .b-popularity {
        .b-theory-content {
            padding-left: 3rem !important;
        }
    }
}