/*
* - @Bridge+
*/

.b-popularity {
    background-color: #2e363d;
    background-image: url("/img/salespage/theary_bg.png"), url("/img/salespage/theary_students.png");
    background-repeat: no-repeat, no-repeat;  
    background-position: right bottom, left bottom;  
    background-size: 74% auto, 52% auto;

    > .ui.container {
        min-height: 40rem;
        padding-top: 3rem;
    }

    h3 {
        &.ui.header {
            color: @color-white;
            font-size: @fontsize-5xl;
        }
    }

    .b-theory-header {

        > div {
            color: @color-white;
            line-height: 1.6em;
            font-size: @fontsize-s;
        }
    }
    .b-theory-content {
        padding: 7rem 0;
        > h3 {
            color: @color-white;
            font-size: @fontsize-5xl;
            font-weight: normal;
        }
        > p {
            color: @color-white;
            font-size: @fontsize-s;
            line-height: 2.4em;
        }
    }
}