/*
* - @Bridge+
*/

.b-skill {
    background-color: #2e363d;
    padding: 3rem 0;

	> .ui.container {
		.test-button{
			margin-bottom:1rem;
		}
	}

	.b-skill-topic {
		color: @color-white;

		h3 {
			&.ui.header {
				color: @color-white;
			}
		}
	}
	.b-skill-skill {
		color: @color-white;
		margin: 3rem 0;

		h3 {
			&.ui.header {
				color: @color-white;
				font-size: 1em;
			}
		}

		.ui.list {
			.list {
				margin-left: 0;
				padding-top: 0.5rem;
				> .item .header {
					color: @color-white;
				}
			}
		}
	}
	.b-game-list{
        font-size: @fontsize-8xl;
    }
}