/*
* - @Bridge+
*/
.english {
	.b-skill {
		.seventy {
			width: 60% !important;
		}
		.thirty {
			width: 40% !important;
		}
		.b-skill-skill {
			.ui.list {
				.list {
					font-size: @fontsize-o;

					> .item {
						padding-top: 0.5em;
					}
				}
			}
		}
	}
}
.b-skill {
	background-color: #2e363d;
	padding: 3rem 0;

	> .ui.container {
		.test-button {
			margin-bottom: 1rem;
		}
	}
	.b-skill-topic {
		color: @color-white;
		text-align: center;

		img {
			width: 100%;
			max-width: 686px;
		}
		h3 {
			&.ui.header {
				color: @color-white;
			}
		}
	}
	.b-skill-skill {
		color: @color-white;
		padding-top: 1.5em;
		float: right;

		h3 {
			&.ui.header {
				color: @color-white;
				font-size: @fontsize-xxl;
				font-weight: bold;
			}
		}
		.ui.list {
			.list {
				margin-left: 0;
				padding-top: 0.5rem;
				font-size: @fontsize-xl;

				> .item .header {
					color: @color-white;
					margin-top: -0.05em;
					font-weight: normal;
				}
				> .item {
					padding-top: 1em;
				}
			}
		}
	}
	.b-game-list {
		.item {
			.content {
				padding-left: 0.2em !important;
			}
		}
	}
	.seventy {
		width: 70% !important;
	}
	.thirty {
		width: 30% !important;
	}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
	.english {
		.b-skill {
			.b-skill-skill {
				margin-right: 2em;

				.ui.list {
					.list {
						> .item {
							padding-top: 1em;
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width:1200px) {
	.english {
		.b-skill {
			.b-skill-skill {
				margin-right: 2em;

				.ui.list {
					.list {
						> .item {
							padding-top: 1.5em;
						}
					}
				}
			}
			.seventy {
				width: 70% !important;
			}
			.thirty {
				width: 30% !important;
			}
		}
	}
}
@media only screen and (min-width:992px) {
	.chinese {
		.b-skill {
			.b-skill-skill {
				margin-right: 2em;

				.ui.list {
					.list {
						> .item {
							padding-top: 1.5em;
						}
					}
				}
			}
		}
	}
}