/*
* - @Bridge+
*/

.ui.secondary.inverted.pointing.menu {
	border-width: 0;
	background-color: @color-brand;
	min-height: initial;
	margin-bottom: 0;

	.item {
		padding-top: 0;
		padding-bottom: 0;

		&.toc {
			padding-top: .4em;
			padding-bottom: .4em;
		}
	}
	
	.ui.button {
		background: none;
		color: @color-white;
		font-weight: lighter;
		font-size: @fontsize-s;
		font-family: @fontfamily-general;
		margin: 0;
		padding-top: .6em;
		padding-bottom: .6em;
	}
}
.b-header {
	.b-header-bar {
		background-color: rgba(0, 0, 0, .2);
	}
}