/*
* - @Bridge+
*/

a, a:link, a:visited {
    color: @color-brand;
}

a:hover, a:active {
    color: @color-brand;
    text-decoration: underline;
}
@media only screen and (max-width: 1399px) and (min-width: 992px) {
	.ui.container {
	    width: 933px;

	    &.grid {
		    width: calc( 933px + 2em ) !important;
	    }
	}
}

@media only screen and (min-width: 1400px) {
	.ui.container {
	    width: 1127px;

	    &.grid {
		    width: calc( 1127px + 2em ) !important;
	    }
	}
}
